<template>
  <div>
    <div class="filterBar">

      <el-radio-group v-model="component">
        <el-radio-button label="StoreStatistics">店铺统计</el-radio-button>
        <el-radio-button label="GoodStatistics">商品统计</el-radio-button>
        <el-radio-button label="PurchaseStatistics">采购统计</el-radio-button>
        <el-radio-button label="OfferStatistics">报价统计</el-radio-button>
      </el-radio-group>
    </div>

      <!-- 店铺统计 -->
      <StoreStatistics v-show="component === 'StoreStatistics'"></StoreStatistics>

      <!-- 商品统计 -->
      <GoodStatistics v-show="component === 'GoodStatistics'"></GoodStatistics>

      <!-- 采购统计 -->
      <PurchaseStatistics v-show="component === 'PurchaseStatistics'"></PurchaseStatistics>

      <!-- 报价统计 -->
      <OfferStatistics v-show="component === 'OfferStatistics'"></OfferStatistics>

  </div>
</template>
<script>
import GoodStatistics from './GoodStatistics'
import OfferStatistics from './OfferStatistics'
import PurchaseStatistics from './PurchaseStatistics'
import StoreStatistics from './StoreStatistics'
export default {
  components: {
    GoodStatistics,
    OfferStatistics,
    PurchaseStatistics,
    StoreStatistics
  },
  data () {
    return {
      component: 'StoreStatistics'
    }
  },
  methods: {}
}
</script>
<style lang="less" scoped>

</style>