<template>
  <div>
    <div class="title">发布采购数据统计</div>
    <el-row>
      <el-col :span="4">
        <div class="store-top">
          <p>18</p>
          <span>今日新增发布采购量</span>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="store-top">
          <p>18</p>
          <span>本周新增发布采购量</span>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="store-top">
          <p>18</p>
          <span>本月新增发布采购量</span>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="store-top" style="border: 0">
          <p>18</p>
          <span>发布采购量总数量</span>
        </div>
      </el-col>
    </el-row>

    <div class="title">采购已采纳统计</div>
    <el-row>
      <el-col :span="4">
        <div class="store-top">
          <p>18</p>
          <span>今日新增确认采购</span>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="store-top">
          <p>18</p>
          <span>本周新增确认采购</span>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="store-top">
          <p>18</p>
          <span>本月新增确认采购</span>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="store-top">
          <p>18</p>
          <span>确认采购总数量</span>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="store-top" style="border: 0">
          <p>18</p>
          <span>成交总金额</span>
        </div>
      </el-col>
    </el-row>

    <div class="filterBar">
      <!-- 供应商 -->
      <span>采购商</span>
      <el-input style="width: 2.6rem" placeholder="" v-model="supplier" clearable></el-input>
      <!-- 店铺名称 -->
      <span>标题名称</span>
      <el-input style="width: 2.6rem" placeholder="" v-model="storeName" clearable></el-input>
      <!-- 导出按钮 -->
      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
    </div>

    <!-- 搜索 -->
    <div class="filterBar">
      <!-- 发布日期 -->
      <span>发布日期</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <!-- 采纳 -->
      <span>是否采纳</span>
      <el-select v-model="accept" clearable placeholder="请选择">
        <el-option
          v-for="item in acceptoptions"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
    </div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableStoreList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="发布时间"></el-table-column>
        <el-table-column align="center" prop="row3" label="采购商"></el-table-column>
        <el-table-column align="center" prop="row4" label="采购标题"></el-table-column>
        <el-table-column align="center" prop="row5" label="是否采纳"></el-table-column>
        <el-table-column align="center" prop="row6" label="采购总量"></el-table-column>
        <el-table-column align="center" prop="row6" label="报价单号"></el-table-column>
        <el-table-column align="center" prop="row6" label="采纳时间"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="120px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="seeAbout(scope.row)">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      supplier: '',
      storeName: '',
      state: '',
      end: '',
      // 数据列表
      tableStoreList: [],
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      // 是否采纳
      acceptoptions: [{
        value: '0',
        label: '是'
      },{
        value: '1',
        label: '否'
      }],
      accept: ''
    }
  },
  methods: {
    // 分页
    getData () {

    }
  }
}
</script>
<style lang="less" scoped>
.title{
  margin: 16px 0;
  color: #bbb;
}
</style>