<template>
  <div>
  	<div class="select">
  			<span>快速选择的商品分类:</span>
	      <el-select clearable style="width:300px" v-model="searchBar.status" placeholder="请选择">
	        <el-option v-for="(item, index) in [ '居家', '服装']"  :key="index" :label="item" :value="index"></el-option>
	      </el-select>
  	</div>
  	
  	<div class="box">
  		<ul class="classify-list">
  			<li>服装  <i class="el-icon-arrow-right"></i></li>
  			<li>服装  <i class="el-icon-arrow-right"></i></li>
  			<li>服装  <i class="el-icon-arrow-right"></i></li>
  			<li>服装  <i class="el-icon-arrow-right"></i></li>
  			<li>服装  <i class="el-icon-arrow-right"></i></li>
  			<li>服装  <i class="el-icon-arrow-right"></i></li>
  			<li>服装  <i class="el-icon-arrow-right"></i></li>
  			<li>服装  <i class="el-icon-arrow-right"></i></li>
  		</ul>
    	
    	<ul class="classify-list">
  			<li>服装  </li>
  			<li>服装 </li>
  			<li>服装 </li>
  			<li>服装 </li>
  			<li>服装 </li>
  			<li>服装 </li>
  			<li>服装 </li>
  			<li>服装 </li>
  		</ul>
    </div>
    
    <div style="text-align: center;">
    	<el-button @click="dialogFormVisible = true" type="primary" icon="el-icon-circle-plus-outline">增加分类</el-button>
    	<el-button type="primary">保存</el-button>
    </div>
    
    <!--弹窗-->
		<el-dialog title="添加分类" :visible.sync="dialogFormVisible">
		  <el-input type="text"></el-input>
		  <div slot="footer" class="dialog-footer">
		    <el-button @click="dialogFormVisible = false">取 消</el-button>
		    <el-button type="primary" @click="dialogFormVisible = false,nextStep=true">下一步</el-button>
		  </div>
		</el-dialog>
		
		<el-dialog title="电器一级分类" :visible.sync="nextStep">
		  <p>添加二级分类</p>
		  <el-input type="text"></el-input>
		  <div slot="footer" class="dialog-footer">
		    <el-button @click="dialogFormVisible = false">取 消</el-button>
		    <el-button type="primary" @click="dialogFormVisible = false,dialogVisible=true">下一步</el-button>
		  </div>
		</el-dialog>
		
		<el-dialog
		  :visible.sync="dialogVisible"
		  width="30%">
		  <h4>保存成功</h4>
		  <span slot="footer" class="dialog-footer">
		    <el-button @click="dialogVisible = false">取 消</el-button>
		    <el-button type="primary" @click="nextStep=false,dialogVisible = false">确 定</el-button>
		  </span>
		</el-dialog>
  	
  	
  </div>
</template>
<script>
export default {
  components: {
  },
  data () {
    return {
      component: 'PrcourerList',
      searchBar: {},
      activeName: '',
      dialogVisible: false,
      nextStep: false,
      dialogFormVisible: false,
    }
  }
}
</script>
<style lang="less" scoped>
.select{
	padding-top: 60px;
	text-align: center;
}
.box{
	padding-left: 100px;
	margin-top: 40px;
	height: 400px;
}
.classify-list{
	float: left;
	margin-left: 100px;
	width: 300px;
	border: 1px solid #ccc;
	margin-bottom: 30px;
}
.classify-list li{
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	border-bottom: 1px solid #ccc;
}
.classify-list li:last-child{
	border-bottom: none;
}
.classify-list li i{
	height: 40px;
	line-height: 40px;
	float: right;
	margin-right: 10px;
}
</style>

