<template>
  <div class="addDept">
    <el-form :model="userForm" :rules="rules" ref="userForm">
      <el-form-item label="账号：" :label-width="labelWidth" prop="userName" >
        <el-input v-model="userForm.userName" auto-complete="off" placeholder="用户名称"></el-input>
      </el-form-item>
      <el-form-item label="手机号：" :label-width="labelWidth" prop="jobNum" >
        <el-input v-model="userForm.jobNum" auto-complete="off" placeholder="客服工号"></el-input>
      </el-form-item>
      
      <el-form-item label="职位：" :label-width="labelWidth" prop="branchShopId" >
        <el-select v-model="userForm.branchShopId" placeholder="店铺名称" clearable>
          <el-option v-for="(item, index) in shopList" :key="index" :label="item.shopName" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div style="text-align:center;margin-top:.3rem;">
      <span slot="footer" class="dialog-footer">
        <el-button @click="$emit('refresh')">取 消</el-button>
        <el-button type="primary" @click="save('userForm')">确 定</el-button>
      </span>
    </div>
  </div>
</template>
<script>
import md5 from 'md5'
export default {
  props: {
    userData: { required: true },
    authoritySaveType: { required: true }
  },
  data () {
    let requirePwd = this.authoritySaveType === 'add'

    let validatePass = (rule, value, callback) => {
      if (requirePwd && value === '') {
        callback(new Error('请输入密码!'))
      } else if (this.userForm.confirmPassword !== '') {
        this.$refs['userForm'].validateField('confirmPassword')
      }
      callback()
    }
    let validatePass2 = (rule, value, callback) => {
      if (requirePwd && value === '') {
        callback(new Error('请再次输入密码!'))
      } else if (value !== this.userForm.pwd) {
        callback(new Error('两次输入密码不一致!'))
      } else {
        callback()
      }
    }
    let validateJobNum = (rule, value, callback) => {
      let reg = /\d+/
      if (value && !reg.test(value)) {
        callback(new Error('客服工号只能为数字!'))
      } else {
        callback()
      }
    }
    return {
      labelWidth: '120px',
      checkedFunctionIds: [],
      rules: {
        userName: {required: true, message: '用户名称不能为空'},
        trueName: {required: true, message: '真实姓名不能为空'},
        pwd: {required: requirePwd, validator: validatePass, trigger: 'blur'},
        confirmPassword: {required: requirePwd, validator: validatePass2, trigger: 'blur'},
        branchShopId: {required: false, message: '请选择店铺', trigger: 'change'},
        jobNum: {required: false, validator: validateJobNum, trigger: 'change'}
      },
      userForm: {
        branchShopId: ''
      },
      menuList: [],
      // 所有店铺
      shopList: [
        {
          id: 0,
          shopName: '客服'
        },
        {
          id: 1,
          shopName: '后台'
        }
      ]
    }
  },
  created () {
    if (this.authoritySaveType === 'edit') {
      this.getPowerStructure()
    }
    this.getAllBranchShopList()
    if (this.authoritySaveType === 'edit') {
      this.userForm.userName = this.userData.userName
      this.userForm.trueName = this.userData.trueName
      this.userForm.jobNum = this.userData.jobNum || ''
      this.userForm.branchShopId = this.userData.branchShopId
      this.userForm.id = this.userData.id
      this.userForm.pwd = ''
      this.userForm.confirmPassword = ''
    }
  },

  methods: {
    hiddenDialog () {
      this.$emit('hiddenSelf')
    },
    // 查询用户权限
    getPowerStructure () {
      this.$axiosPost(this.$api.user.getPowerStructure, {id: this.userData.id}).then((res) => {
        this.menuList = res.data.list
        this.menuList.map(item => {
          if (item.childNode && item.childNode.length > 0) {
            item.childNode.map(item2 => {
              if (item2.functions && item2.functions.length > 0) {
                item2.functions.map(item3 => {
                  if (item3.isChecked) {
                    this.checkedFunctionIds.push(item3.id)
                  }
                })
              }
            })
          }
        })
      })
    },
    // 查询分店列表
    getAllBranchShopList () {
      this.$axiosPost(this.$api.getAllBranchShopList, {id: this.userData.id}).then((res) => {
        if (res.code === this.http.OK) {
          this.shopList = res.data
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    save (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.authoritySaveType === 'add') {
            this.add()
            this.$emit('refresh')
          } else {
            this.modify()
            this.$emit('refresh')
          }
        } else {
          return false
        }
      })
    },

    add () {
      let form = this.userForm
      let data = {
        userName: form.userName,
        trueName: form.trueName,
        jobNum: form.jobNum, // 客服工号
        pwd: md5(form.pwd),
        functionIds: ''
      }
      if (form.branchShopId) data.branchShopId = form.branchShopId
      this.$axiosPost(this.$api.user.addUser, {...data}).then(res => {
        if (res.code === this.http.OK) {
          this.$notify.success({ message: '添加成功' })
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    // 修改
    modify () {
      let form = this.userForm
      let data = {
        userName: form.userName,
        trueName: form.trueName,
        id: form.id,
        functionIds: this.checkedFunctionIds.join(',')
      }
      if (form.branchShopId) data.branchShopId = form.branchShopId
      if (form.jobNum) data.jobNum = form.jobNum
      if (form.pwd) data.pwd = md5(form.pwd)
      this.$axiosPost(this.$api.user.editUser, {...data}).then(res => {
        if (res.code === this.http.OK) {
          this.$notify.success({ message: '修改成功' })
          this.load()
          this.editDialogVisible = false
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },

    // 入参：id   deptName部门名称  remark部门描述  functionIds权限json
    editDept () {
      this.$axiosPost(this.$api.editDept, {id: this.deptId, remark: this.remark, deptName: this.deptName, functionIds: this.checkedFunctionIds.join(',')}).then((res) => {
        if (res.code === 1000) {
          this.$emit('hiddenSelf')
          this.tip(this, res)
        }
      })
    },

    handleCheckAll (menu) {
      if (menu.indeterminate) {
        menu.checkAll = false
      } else {
        menu.checkAll = !menu.checkAll
      }
      menu.indeterminate = false
      if (menu.checkAll) {
        menu.checkedData = menu.allCheckItems
      } else {
        menu.checkedData = []
      }
    },
    checkedDataChange (menu) {
      if (menu.checkedData.length === menu.allCheckItems.length) {
        menu.indeterminate = false
        menu.checkAll = true
      } else if (menu.checkedData.length > 0) {
        menu.indeterminate = true
        menu.checkAll = false
      } else {
        menu.indeterminate = false
        menu.checkAll = false
      }
    }
  }
}
</script>
<style lang=less>
.addDept {
  .row {
    border: 1px solid #e4e5e7;
    border-bottom: 0;
  }
  .checkGroup {
    text-align: center;
    >label {
      margin-right: 30px;
    }
  }
  .col-left {
    padding: .1rem;
  }
  .col-right {
    border-left: 1px solid #e4e5e7;
    /*padding: .1rem;*/

  }
  .col-bottom{
    padding-bottom: 0;
  }
  .row-bottom {
    border: 1px solid #e4e5e7;
  }
  .label {
    font-size: .16rem;
    padding: .04rem .06rem;
  }
  // input,
  // textarea {
  //   border: 1px solid #dddee1;
  //   outline: 0;
  //   font-size: .16rem;
  //   padding: .04rem .06rem;
  //   border-radius: 3px;
  //   width: 50%;
  // }
  .qxsd {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    min-height: 100px;
    >section {
      border-right: 1px solid #e4e5e7;
      .checkbox-title {
        margin: .2rem .2rem;
        display: block;
        &::after {
          content: '';
          display: block;
          width: 100%;
          margin-top: .2rem;
          background: #e4e5e7;
          height: 2px;
        }
      }
      .checkbox-item {
        // margin: .2rem .2rem;
      }
    }
  }

  .L2 {
    border-bottom: 1px solid  #e4e5e7;
  }
  .L2_left {
    border-left: 1px solid  #e4e5e7;
  }
  .L3_left {
    border-left: 1px solid  #e4e5e7;
  }

  .L3 {
    border-bottom: 1px solid  #e4e5e7;
  }

  .L3:only-child,
  .L3:last-child,
   {
    border: none;
  }
  .L3_title {

    display: flex;
    align-items: center;
    justify-content: space-around;
    div {
      // margin: .2rem .2rem;
    }
  }
  .L1_menu,
  .L2_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    span {
      // margin: .1rem .1rem;
    }
  }
  .L_title {
    font-weight: 600;
  }
}
</style>
