<template>
  <div>
    <div class="filterBar" style="">
      <!--<el-button @click="authoritySaveType = 'add', dialogTitle = '新增用户', userData = {}, dialogAuthority = true" type='success'>添加人员</el-button>-->
    </div>
    <el-table :data='tableData' stripe style='width:100%;'>
      <el-table-column align="center" prop="id" label='序号'></el-table-column>
      <el-table-column align="center" prop="userName" label='账号名称'></el-table-column>
      <el-table-column align="center" prop="useStatusValue" label='联系电话'></el-table-column>
      <el-table-column align="center" prop="operation" label='详情' width="200">
        <template slot-scope="scope">
        	<el-button type="text" size="mini" @click="del(scope.row.id)">删除</el-button>
          <el-button type="text" size="mini" v-if="scope.row.useStatus === 0" @click="stop(scope.row.id)">停用</el-button>
          <el-button type="text" size="mini" v-if="scope.row.useStatus !== 0" @click="open(scope.row.id)">启用</el-button>
          <el-button type="text" size="mini" @click="authoritySaveType = 'edit', dialogTitle = '修改用户', userData = scope.row, dialogAuthority = true">更改</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>

    <el-dialog :title="dialogTitle" :visible.sync="dialogAuthority" width="40%">
      <authority v-if="dialogAuthority" :userData="userData" :authoritySaveType="authoritySaveType" @refresh ="dialogAuthority = false, load()"></authority>
    </el-dialog>

  </div>
</template>
<script>
import authority from './authority'
export default {
  components: {
    authority
  },
  data () {
    return {
      dialogTitle: '新增用户',
      authoritySaveType: 'add',
      dialogAuthority: false,
      userData: '',
      // 表格数据
      tableData: [{"id":147,"createTime":"2018-07-17 15:25:23","trueName":"客服","userName":"客服","useStatusValue":"正常","branchShopId":44,"jobNum":"0002","branchShopName":"深圳分店","useStatus":0},{"id":146,"createTime":"2018-07-13 16:21:09","trueName":"地点","userName":"测试","useStatusValue":"已停用","branchShopId":44,"jobNum":"212","branchShopName":"深圳分店","useStatus":1},{"id":145,"createTime":"2018-07-04 19:06:44","trueName":"无名","userName":"测试业务员","useStatusValue":"正常","branchShopId":48,"jobNum":"2233444","branchShopName":"测试分店1","useStatus":0},{"id":144,"createTime":"2018-06-28 14:24:46","trueName":"建华","userName":"建华","useStatusValue":"正常","branchShopId":0,"useStatus":0},{"id":143,"createTime":"2018-06-28 13:56:35","trueName":"测试11212","userName":"wuming2","useStatusValue":"正常","branchShopId":0,"jobNum":"1212","useStatus":0},{"id":142,"createTime":"2018-06-28 11:10:18","trueName":"测试","userName":"wuming1","useStatusValue":"正常","branchShopId":0,"jobNum":"012","useStatus":0},{"id":141,"createTime":"2018-06-26 21:40:03","trueName":"123","userName":"abc123","useStatusValue":"正常","branchShopId":0,"jobNum":"","useStatus":0},{"id":140,"createTime":"2018-06-26 20:11:26","trueName":"sad","userName":"订单列表","useStatusValue":"正常","branchShopId":46,"jobNum":"","branchShopName":"江西分店","useStatus":0},{"id":139,"createTime":"2018-07-05 16:41:49","trueName":"新人","userName":"新人","useStatusValue":"正常","branchShopId":0,"jobNum":"","useStatus":0},{"id":138,"createTime":"2018-06-26 19:51:43","trueName":"用户","userName":"用户","useStatusValue":"正常","branchShopId":0,"jobNum":"","useStatus":0}],
      // 分页
      pageInfo: { page: 1, pageSize: 10 }
    }
  },
  created () {
    this.load()
  },
  methods: {
    load () {
      this.$axiosPost(this.$api.user.getUserListByPage, {...this.pageInfo}).then(res => {
        if (res.code === this.http.OK) {
          this.tableData = res.data.list
          this.pageInfo.total = res.data.total
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    getData (page) {
      this.pageInfo.page = page
      this.load()
    },
    save () {
      if (this.edit.type === 'add') {
        this.add()
      } else {
        this.modify()
      }
    },
    // 停用用户
    stop (id) {
      this.$confirm('你确定要停用此用户吗?', '提示', { confirmButtonText: '确定', cancelButtonText: '取消', type: 'warning' }).then(() => {
        this.$axiosPost(this.$api.user.stopUser, {id: id}).then(res => {
          if (res.code === this.http.OK) {
            this.$notify.success({ message: '操作成功' })
            this.load()
          } else {
            this.$notify.error({ message: res.msg })
          }
        })
      }).catch(() => {
        this.$message({ type: 'info', message: '已取消' })
      })
    },
    // 停用用户
    open (id) {
      this.$confirm('你确定要启用此用户吗?', '提示', { confirmButtonText: '确定', cancelButtonText: '取消', type: 'warning' }).then(() => {
        this.$axiosPost(this.$api.user.openUser, {id: id}).then(res => {
          if (res.code === this.http.OK) {
            this.$notify.success({ message: '操作成功' })
            this.load()
          } else {
            this.$notify.error({ message: res.msg })
          }
        })
      }).catch(() => {
        this.$message({ type: 'info', message: '已取消' })
      })
    },
    //删除
    del (id) {
      this.$confirm('你确定要删除此用户吗?', '提示', { confirmButtonText: '确定', cancelButtonText: '取消', type: 'warning' }).then(() => {
        this.$axiosPost(this.$api.user.openUser, {id: id}).then(res => {
          if (res.code === this.http.OK) {
            this.$notify.success({ message: '操作成功' })
            this.load()
          } else {
            this.$notify.error({ message: res.msg })
          }
        })
      }).catch(() => {
        this.$message({ type: 'info', message: '已取消' })
      })
    }
    
  }
}
</script>
<style scoped lang='less'>
  .filterBar .el-form-item{
    margin:0;
  }
</style>
