<template>
  <div class="IndexManage">

    <el-radio-group v-model="component" style="margin-top: 20px">
      <el-radio-button label="Admin">后台人员</el-radio-button>
      <el-radio-button label="Finance">财务</el-radio-button>
      <el-radio-button label="Kf">客服</el-radio-button>
    </el-radio-group>
    
    
    <el-button style="float:right;margin-left:5px;margin-top: 20px;" @click="authoritySaveType = 'add', dialogTitle = '新增用户', userData = {}, dialogAuthority = true" type='success'>添加人员</el-button>

    <!-- 后台 -->
    <Admin v-if="component === 'Admin'"></Admin>

    <!-- 财务 -->
    <Finance v-else-if="component === 'Finance'"></Finance>

    <!-- 客服 -->
    <Kf v-else-if="component === 'Kf'"></Kf>
    
    
    <el-dialog :title="dialogTitle" :visible.sync="dialogAuthority" width="40%">
      <authority v-if="dialogAuthority" :userData="userData" :authoritySaveType="authoritySaveType" @refresh ="dialogAuthority = false, load()"></authority>
    </el-dialog>

  </div>
</template>
<script>
import Admin from './Admin'
import Finance from './Finance'
import Kf from './Kf'
import authority from './authority'
export default {
  components: {
    Admin,
    Finance,
    Kf,
    authority
  },
  data () {
    return {
      component: 'Admin',
      dialogTitle: '新增用户',
      authoritySaveType: 'add',
      dialogAuthority: false,
      userData: '',
    }
  },
  created () {
    this.load()
  },
  methods: {
  	load () {
      this.$axiosPost(this.$api.user.getUserListByPage, {...this.pageInfo}).then(res => {
        if (res.code === this.http.OK) {
          this.tableData = res.data.list
          this.pageInfo.total = res.data.total
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
  }
}
</script>
<style lang=less scoped>
</style>
