<template>
  <div>
    <div class="filterBar">
      <!-- 注册日期 -->
      <span>注册日期</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <!-- 订单状态 -->
      <span>订单状态</span>
      <el-select v-model="condition" clearable placeholder="请选择">
        <el-option
          v-for="item in conditionOption"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
      <!-- <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button> -->
    </div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableDetailsList" show-summary stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="单号"></el-table-column>
        <el-table-column align="center" prop="row3" label="类型"></el-table-column>
        <el-table-column align="center" prop="row4" label="金额"></el-table-column>
        <el-table-column align="center" prop="row5" label="积分值"></el-table-column>
        <el-table-column align="center" prop="row5" label="成长值"></el-table-column>
        <el-table-column align="center" prop="row5" label="付款时间"></el-table-column>
        <el-table-column align="center" prop="row5" label="付款方式"></el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>

  </div>
</template>
<script>
export default {
  data () {
    return {
      state: '',
      end: '',
      condition: '',
      conditionOption: [{
        value: '1',
        label: '采购订单'
      },{
        value: '2',
        label: '购物订单'
      }],
      tableDetailsList: [],
      // 分页
      pageInfo: {page: 1, pageSize: 10}
    }
  },
  methods: {
    // 分页
    getData (data) {
      
    }
  }
}
</script>
<style lang="less" scoped>

</style>

