<template>
  <div>
    <div class="filterBar">
      <!-- 采购是否审核 -->
      <span>采购是否审核</span>
      <el-select v-model="condition" clearable placeholder="请选择">
        <el-option
          v-for="item in conditionOption"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <!-- 发布日期 -->
      <span>发布日期</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <!-- 发布者 -->
      <span>发布者</span>
      <el-input style="width: 2.6rem" placeholder="" type="number" v-model="promulgator" clearable></el-input>
      <!-- 搜索按钮 -->
      <el-button type="primary">查询</el-button>
      <!-- <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button> -->
    </div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tablePurchaseOrderList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="采购单号"></el-table-column>
        <el-table-column align="center" prop="row3" label="发布者"></el-table-column>
        <el-table-column align="center" prop="row4" label="提交日期"></el-table-column>
        <el-table-column align="center" prop="row5" label="报价是否审核"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="360px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="ExaminePurchaseOrder(scope.row)">查看采购单</el-button>
              <el-button type="primary" round size="mini" @click="ContactProcurement(scope.row)">联系采购</el-button>
              <el-button type="danger" round size="mini" @click="Audit(scope.row)">审核</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>

    <!-- 查看详情弹出层 -->
    <el-dialog title="采购单详情" :visible.sync="PurchaseOrderDetail" width="80%" center>
      <!-- 采购单详情表格 -->
      <el-table :data="tablePurchaseOrderChildList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="产品参数"></el-table-column>
        <el-table-column align="center" prop="row2" label="产品名称"></el-table-column>
        <el-table-column align="center" prop="row2" label="规格"></el-table-column>
        <el-table-column align="center" prop="row2" label="数量/单位"></el-table-column>
        <el-table-column align="center" prop="row2" label="备注说明"></el-table-column>
      </el-table>
      <p style="margin-top: 28px">采购商详细信息</p>
      <div>
        <label>联系人:</label>
        <span>凉生</span>
      </div>
      <div>
        <label>支付方式:</label>
        <span>活动付款</span>
      </div>
      <div>
        <label>手机号码:</label>
        <span>13888888</span>
      </div>
      <div>
        <label>采购截止日期:</label>
        <span>2018-999999</span>
      </div>
      <div>
        <label>收货地址:</label>
        <span>深圳市生霉科技大厦</span>
      </div>
      <span slot="footer" class="dialog-footer" v-show="AuditShow === true">
        <el-button type="danger" @click="AuditFall">审核不通过</el-button>
        <el-button type="primary" @click="AuditPass">审核通过</el-button>
      </span>
    </el-dialog>

    <!-- 审核弹窗 -->
    <el-dialog title="采购单详情" :visible.sync="AuditDetail" width="80%" center>
      <!-- 审核不通过理由 -->
      <el-input v-show="AuditResult === false" type="textarea" v-model="cause"></el-input>
      <!-- 审核通过详情 -->
      <div v-show="AuditResult === true">
        <div class="columns">
          <label>采购商标题</label>
          <span>342543</span>
        </div>
        <div class="columns">
          <label>产品总数量</label>
          <span>342543</span>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger">取消</el-button>
        <el-button type="primary">提交</el-button>
      </span>
    </el-dialog>

    <!-- 采购商基本信息 -->
    <el-dialog title="采购商基本信息" :visible.sync="ProcurerMessage" width="30%" center>
      <div class="columns">
        <label>采购商</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>联系电话</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>产品总数量</label>
        <span>342543</span>
      </div>
      <h5>联系地址</h5>
      <p>是的减肥路上的雷锋精神</p>
    </el-dialog>
    <!-- 停用采购单 -->
    <el-dialog title="停用采购单" :visible.sync="DisablePurchaseOrder" width="30%" center>
      <div class="columns">
        <label>报价单标题</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>采购商</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>联系电话</label>
        <span>342543</span>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger">取消</el-button>
        <el-button type="primary">停用</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      condition: '',
      conditionOption: [{
        label: '是',
        value: '1'
      },{
        label: '否',
        value: '2'
      }],
      state: '',
      end: '',
      promulgator: '',
      // 列表数据
      tablePurchaseOrderList: [{
        row2: '1111',
        row3: '2222',
        row4: '333',
        row5: '5555'
      }],
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      // 采购单详情弹窗
      PurchaseOrderDetail: false,
      // 采购单详情表格列表数据
      tablePurchaseOrderChildList: [],
      // 审核弹窗
      AuditDetail: false,
      cause: '',
      // 审核动态判断
      AuditResult: false,
      // 采购商基本信息
      ProcurerMessage: false,
      // 停用采购单
      DisablePurchaseOrder: false,
      // 审核按钮显隐
      AuditShow: true
    }
  },
  methods: {
    // 分页
    getData () {

    },
    // 审核不通过
    AuditFall () {
      this.AuditDetail = true
      this.AuditResult = false
    },
    // 审核通过
    AuditPass () {
      this.AuditDetail = true
      this.AuditResult = true
    },
    // 查看采购单
    ExaminePurchaseOrder (row) {
      this.PurchaseOrderDetail = true
      this.AuditShow = false
    },
    // 联系采购
    ContactProcurement (row) {
      
    },
    // 审核
    Audit (row) {
      this.AuditDetail = true
    }
  }
}
</script>
<style lang="less" scoped>
h5{
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  color: #999999;
}
p{
  line-height: 32px;
  border-bottom: 1px solid #E4E4E4;
}
</style>

