<template>
  <div>
    <!-- 搜索栏 -->
    <div class="filterBar">
      <!-- 购物金额范围 -->
      <span>购物金额范围</span>
      <el-input style="width: 2.6rem" placeholder="" type="number" v-model="moneyState" clearable></el-input>
      <el-input style="width: 2.6rem" placeholder="" type="number" v-model="moneyEnd" clearable></el-input>
    </div>
    <div class="filterBar">
      <!-- 注册日期 -->
      <span>注册日期</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <!-- 采购商 -->
      <span>采购商</span>
      <el-input style="width: 2.6rem" placeholder="" type="number" v-model="procurer" clearable></el-input>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
    </div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tablePurchaseList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="采购商名称或者账号"></el-table-column>
        <el-table-column align="center" prop="row3" label="联系电话"></el-table-column>
        <el-table-column align="center" prop="row4" label="注册日期"></el-table-column>
        <el-table-column align="center" prop="row5" label="购物总金额"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="240px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="SeeDetails(scope.row)">查看详情</el-button>
              <el-button type="primary" round size="mini" @click="ShopDetails(scope.row)">购物详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>

    <!-- 查看详情弹出层 -->
    <el-dialog title="采购商详情" :visible.sync="PurchaseDetail" width="80%" center>
      <div class="columns">
        <label>姓名</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>注册时间</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>联系电话</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>默认收货地址</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>发布采购报价数量</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>已采纳报价数量</label>
        <span>342543</span>
      </div>

      <div class="columns">
        <label>订单数量</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>订单总金额</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>申请售后或者退款退货</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>退款金额</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>总消费</label>
        <span @click="purchaseDetails" style="color:#1ABC9C;cursor: pointer;">342543</span>
      </div>
      <div class="columns">
        <label>收藏店铺数量</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>收藏产品数量</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>是否拥有 “芗林银联卡”</label>
        <span>342543</span>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      moneyState: '',
      moneyEnd: '',
      state: '',
      end: '',
      procurer: '',
      // 数据列表
      tablePurchaseList: [{
        row2: '111',
        row3: '222',
        row4: '333',
        row5: '444'
      }],
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      PurchaseDetail: false
    }
  },
  methods: {
    // 分页
    getData () {

    },
    // 查看详情
    SeeDetails (row) {
      this.PurchaseDetail = true
    },
    // 购物详情
    ShopDetails (row) {
      this.$router.push({
        path: '/Purchase/UserGuide',
        query: {
          id: row.id
        }
      })
    },
    // 消费详情
    purchaseDetails () {
      this.$router.push({
        path: '/Purchase/PurchaseDetails'
      })
    }
  }
}
</script>
<style lang="less" scoped>

</style>

