<template>
  <div>
    <div class="filterBar">
      <!-- 类型 -->
      <span>类型</span>
      <el-select v-model="type" clearable placeholder="请选择">
        <el-option
          v-for="item in typeOption"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <!-- 付款方式 -->
      <span>付款方式</span>
      <el-select v-model="mode" clearable placeholder="请选择">
        <el-option
          v-for="item in modeOption"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <!-- 付款日期 -->
      <span>付款日期</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <!-- 搜索按钮 -->
      <el-button type="primary">查询</el-button>
    </div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableGuideList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="采购商名称或者账号"></el-table-column>
        <el-table-column align="center" prop="row3" label="联系电话"></el-table-column>
        <el-table-column align="center" prop="row4" label="注册日期"></el-table-column>
        <el-table-column align="center" prop="row5" label="购物总金额"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="240px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="SeeDetails(scope.row)">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      state: '',
      end: '',
      // 数据列表
      tableGuideList: [],
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      type: '',
      typeOption: [{
        value: '1',
        label: '订单'
      },{
        value: '2',
        label: '采购单'
      }],
      mode: '',
      modeOption: [{
        value: '1',
        label: '银联卡'
      },{
        value: '2',
        label: '微信'
      },{
        value: '3',
        label: '支付宝'
      }]
    }
  },
  methods: {
    // 分页
    getData (row) {

    },
    // 查看详情
    SeeDetails (row) {

    }
  }
}
</script>
<style lang="less" scoped>

</style>

