<template>
  <div class="evaluateList">

    <!-- 搜索栏 -->
    <div class="filterBar">
      <!-- 审核状态 -->
      <span>审核状态：</span>
      <el-select v-model="searchBar.status" clearable placeholder="全部状态" style="width:10%">
        <el-option v-for="(item,index) in ['未审核', '审核通过', '不通过']" :key="index" :label="item" :value="index+1"></el-option>
      </el-select>

      <!-- 显示状态 -->
      <span style="margin-left: 10px">显示状态：</span>
      <el-select v-model="searchBar.isDisplay" clearable placeholder="全部状态" style="width:10%">
        <el-option v-for="(item,index) in ['不显示', '显示']" :key="index" :label="item" :value="index"></el-option>
      </el-select>
      <!-- 评价类型 -->
      <span style="margin-left: 10px">评价类型：</span>
      <el-select v-model="searchBar.goodsScore" clearable placeholder="全部类型" style="width:10%">
        <el-option  label="差评" :value="1"></el-option>
        <el-option  label="中评" :value="3"></el-option>
        <el-option  label="好评" :value="5"></el-option>
      </el-select>

      <!-- 搜索内容 -->
      <el-input style="width: 2.6rem" v-model="searchBar.goodsName" placeholder="请输入商品名称" clearable></el-input>

      <!-- 搜索按钮 -->
      <el-button @click="load()" type="primary">搜索</el-button>
    </div>

    <div class="handle">
      <el-button @click="del()" type="danger" size="mini" style="margin:10px;">批量删除</el-button>
      <!--<el-button>添加评论</el-button>-->
    </div>

    <!-- 主内容区域 -->
    <div class="conMain">

      <el-table :data="tableData" ref="multipleTable" @selection-change="handleSelectionChange" stripe border style="width: 100%" >

        <el-table-column type="selection" label="全选" width="50"></el-table-column>
        <el-table-column align="center" prop="nickName" label="评论用户" width="100px"></el-table-column>
        <el-table-column align="center" prop="goodsName" label="商品"></el-table-column>
        <el-table-column align="center" prop="content" label="内容"></el-table-column>

        <el-table-column align="center" prop="rate" label="打分" width="150px">
          <template slot-scope="scope">
            <el-rate v-model="scope.row.avgScore" score-template="{value}"></el-rate>
          </template>
        </el-table-column>
        <el-table-column align="center" prop="status" label="审核状态" width="100px">
          <template slot-scope="scope">
            <span v-if="scope.row.status === 1" type="success" round size="mini">未审核</span>
            <span v-if="scope.row.status === 2" type="success" round size="mini">审核通过 </span>
            <span v-if="scope.row.status === 3 || scope.row.status === 4" type="success" round size="mini">审核不通过</span>
          </template>
        </el-table-column>
        <el-table-column align="center" prop="createTime" label="评价时间"></el-table-column>
        <el-table-column align="center" prop="goodsScore" label="类型">
           <template slot-scope="scope">
            <span v-if="scope.row.goodsScore === 1" type="success" round size="mini">差评</span>
            <span v-if="scope.row.goodsScore === 3" type="success" round size="mini">中评</span>
            <span v-if="scope.row.goodsScore === 5" type="success" round size="mini">好评</span>
          </template>
        </el-table-column>
        <el-table-column align="center" prop="isDisplayStr" label="属性" width="100px">
        </el-table-column>

        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="300px">
          <template slot-scope="scope">
              <el-button v-if="scope.row.status === 1" type="success" round size="mini" @click="find(scope.row.id)">审核</el-button>
              <el-button v-if="scope.row.status === 2 || scope.row.status === 3" type="success" round size="mini" @click="find(scope.row.id, atr=true)">查看</el-button>
              <el-button v-if="scope.row.status === 4" type="success" round size="mini" @click="find(scope.row.id)">重新审核</el-button>
              <el-button type="danger" round size="mini" @click="del(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>

      </el-table>

      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="load" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>

    <!-- 审核编辑对话框 -->
    <el-dialog title="用户评论" :visible.sync="dialogFormVisible">

      <el-form :model="form" :rules="rules"  ref="ruleForm">

        <!-- 评论用户 -->
        <el-form-item class="userInfo" label="评论用户" :label-width="formLabelWidth">
          <div class="avatar">
            <img :src="form.headPortrait" alt="">
            <div class="desc">
              <p>{{ form.nickName }}</p>
              <p>评论时间：{{ form.createTime }}</p>
            </div>
          </div>

        </el-form-item>

        <!-- 评论分类 -->
        <el-form-item label="评论分类" :label-width="formLabelWidth">
          <p>{{form.typeStr}}</p>
        </el-form-item>

        <!-- 评论链接 -->
        <el-form-item label="评论商品" :label-width="formLabelWidth">
          <!-- <a :href="form.reUrl">{{form.goodsName}}</a> -->
          <p>{{form.goodsName}}</p>
        </el-form-item>

        <!-- 评价图片 -->
        <el-form-item label="评价图片" :label-width="formLabelWidth">
          <ul class="evaluatePic">
            <li v-for="(item,index) in form.imgs" :key="index"><img :src="item" @click="$imgView(item)"></li>
          </ul>
        </el-form-item>
        <!-- 评论打分 -->
        <el-form-item label="评论打分" :label-width="formLabelWidth">
          <el-rate disabled v-model="form.avgScore"></el-rate>
        </el-form-item>

        <!-- 评价类型 -->
        <el-form-item label="评价类型" :label-width="formLabelWidth">
          <span>{{form.goodsScoreStr}}</span>
        </el-form-item>

        <!-- 显示属性 -->
        <el-form-item label="显示属性" :label-width="formLabelWidth" prop="isDisplay">
          <el-switch
            v-model="form.isDisplay"
            :active-value='1'
            :inactive-value='0'
            active-text="显示"
            inactive-text="不显示"
            :disabled="hiden">
          </el-switch>
        </el-form-item>

        <!-- 评论内容 -->
        <el-form-item label="评论内容" :label-width="formLabelWidth">
          <el-input disabled v-if="form.status === 2" type="textarea" v-model="form.content"></el-input>
          <el-input disabled v-else type="textarea" v-model="form.content"></el-input>
        </el-form-item>

        <!-- 审核状态 -->
        <el-form-item label="审核状态" :label-width="formLabelWidth" prop="status">
          <el-radio-group v-model="form.status" :disabled="hiden" >
            <!-- <el-radio :label="1">未审核</el-radio> -->
            <el-radio :label="2">审核通过</el-radio>
            <el-radio :label="3">审核不通过</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item prop="reason">
          <el-input v-if="form.status === 3" type="textarea" v-model="form.reason" placeholder="请填写不通过原因"></el-input>
        </el-form-item>
      </el-form>

      <!-- 对话框底部 -->
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="submit" :disabled="hiden">提 交</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
export default {
  data () {
    return {

      // 审核对话框
      dialogFormVisible: false,

      // 搜索栏
      searchBar: {
        status: '',
        isDisplay: '',
        goodsName: ''
      },
      hiden: false,

      // 分页
      pageInfo: { page: 1, pageSize: 10, total: 21 },

      multipleSelection: [],

      // 对话框标签宽度
      formLabelWidth: '100px',

      // 审核表单信息
      form: {},
      // 审核规则
      rules: {
        status: [{ required: true, message: '审核状态必填', trigger: 'blur' }],
        isDisplay: [{ required: true, message: '显示状态必填', trigger: 'change' }]
      },
      // 订单评价列表数据
      tableData: [],
      commentIds: []
    }
  },
  created: function () {
    //this.load()
  },
  methods: {
    // 获取页数据
    load (page = 1) {
      if (page) this.pageInfo.page = page
      this.$axiosPost(this.$api.comment.list, { page: this.pageInfo.page, pageSize: this.pageInfo.pageSize, ...this.searchBar }).then(res => {
        if (res.code === this.http.OK) {
          this.pageInfo.total = res.data.total
          this.tableData = res.data.list
          this.tableData.map(function (el) {
            if (el.imgs) {
              el.imgs = el.imgs.split(',')
            }
          })
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    // 列表全选
    handleSelectionChange (val) {
      val.forEach((item) => {
        this.commentIds.push(item.id)
      })
    },
    // 打开审核
    find (id, atr) {
      this.dialogFormVisible = true
      this.hiden = atr
      this.$axiosPost(this.$api.comment.find, {id: id}).then(res => {
        if (res.code === this.http.OK) {
          this.form = res.data
          if (this.form.imgs) {
            this.form.imgs = this.form.imgs.split(',')
          }
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    // 提交审核
    submit () {
      if (this.form.status === 3) {
        if (!this.form.reason) {
          this.$notify.error({ message: '不通过原因不能为空' })
          return false
        }
      }
      this.$refs['ruleForm'].validate((valid) => {
        if (!valid) {
          this.$notify.error({ message: '请完善审核信息' })
          return false
        } else {
          this.$axiosPost(this.$api.comment.check, this.form).then(res => {
            if (res.code === this.http.OK) {
              this.tableData = res.data.list
              this.form = {}
              this.dialogFormVisible = false
              this.$notify.success({ message: res.data })
              this.load()
            } else {
              this.$notify.error({ message: res.msg })
            }
          })
        }
      })
    },

    // 删除评论
    del (id) {
      if (id) {
        this.commentIds.push(id)
      }
      this.$confirm('你确定要删除吗?', '提示', { confirmButtonText: '确定', cancelButtonText: '取消', type: 'warning' }).then(() => {
        this.$axiosPost(this.$api.comment.delete, { ids: this.commentIds.join(',') }).then(res => {
          res.code === this.http.OK
            ? this.$notify.success({ message: '操作成功' })
            : this.$notify.error({ message: res.msg })
          this.load()
          this.commentIds = []
        })
      }).catch(() => {
        this.$message({ type: 'info', message: '已取消删除' })
      })
    }
  }
}
</script>

<style lang="less">
.userInfo{
  .avatar{
    display: flex;
    img{
      height: 45px;
      position: relative;
      top: -4px;
    }
    .desc{
      height: 45px;
      font-size: 12px;
      margin-left: 10px;
      padding: 2px 0;
    }
    p{
      height: 20px;
      line-height: 20px;
    }
  }
}
.el-rate {
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 5px;
  }
.evaluatePic{
  li{
    float: left;
    padding-left: 10px;
    img{
      height: 50px;
    }
  }
}

</style>
