<template>
  <div>
    <!-- 搜索 -->
    <div class="filterBar">
      <!-- 报价是否采纳 -->
      <span>报价是否采纳</span>
      <el-select v-model="accept" clearable placeholder="请选择">
        <el-option
          v-for="item in acceptOptions"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <!-- 注册日期 -->
      <span>注册日期</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
       <!-- 发布者 -->
      <span>发布者</span>
      <el-input style="width: 2.6rem" placeholder="" v-model="publisher" clearable></el-input>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
    </div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableQuotesList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="账号/姓名"></el-table-column>
        <el-table-column align="center" prop="row3" label="发布采购总数"></el-table-column>
        <el-table-column align="center" prop="row4" label="购物订单数"></el-table-column>
        <el-table-column align="center" prop="row6" label="联系电话"></el-table-column>
        <el-table-column align="center" prop="row6" label="采纳报价"></el-table-column>
        <el-table-column align="center" prop="row6" label="订单成交总金额(订单总金额和报价总金额)"></el-table-column>
        <el-table-column align="center" prop="row6" label="注册时间"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="340px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini">查看报价单</el-button>
              <el-button type="success" round size="mini">联系采购</el-button>
              <el-button type="danger" round size="mini">停用报价单</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>

    <!-- 采购信息弹出层 -->
    <el-dialog title="采购商基本信息" :visible.sync="ProcurementVisible" width="40%" center>
      <div class="columns">
        <label>采购商</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>联系电话</label>
        <span>了圣诞节福利</span>
      </div>
      <p style="line-height: 48px;color: #999">联系地址</p>
      <p style="line-height: 22px;">水电费聚少离多分技术对方水电费水电费水电费第三方可视对讲俯拾地哒哒哒哒哒哒多多多多多多多多多多多多多多多多多多多多多多多多多多芥</p>
    </el-dialog>

    <!-- 停用报价单 -->
    <el-dialog title="停用报价单" :visible.sync="BlockUpVisible" width="40%" center>
      <div class="columns">
        <label>报价单标题</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>采购商</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>联系电话</label>
        <span>了圣诞节福利</span>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="BlockUpVisible = false">取 消</el-button>
        <el-button type="danger">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      accept: '',
      acceptOptions: [{
        value: '1',
        label: '是'
      },{
        value: '2',
        label: '否'
      }],
      state: '',
      end: '',
      publisher: '',
      // 数据列表
      tableQuotesList: [],
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      ProcurementVisible: false,
      BlockUpVisible: false
    }
  },
  methods: {
    // 分页
    getData () {

    },

  }
}
</script>
<style lang="less" scoped>

</style>

