<template>
  <div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableQuotesList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="产品参数"></el-table-column>
        <el-table-column align="center" prop="row3" label="产品名称"></el-table-column>
        <el-table-column align="center" prop="row4" label="规格"></el-table-column>
        <el-table-column align="center" prop="row6" label="数量/单位"></el-table-column>
        <el-table-column align="center" prop="row6" label="产品报价(单价)"></el-table-column>
        <el-table-column align="center" prop="row6" label="备注说明"></el-table-column>
        <el-table-column align="center" prop="row6" label="小计/元"></el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      // 数据列表
      tableQuotesList: [],
      // 分页
      pageInfo: {page: 1, pageSize: 10}
    }
  },
  methods: {
    // 分页
    getData () {

    }

  }
}
</script>
<style lang="less" scoped>

</style>
