<template>
  <div class="IndexManage">

    <el-radio-group v-model="component" style="margin-top: 20px">
      <el-radio-button label="Admin">后台人员权限</el-radio-button>
      <el-radio-button label="Finance">财务操作权限</el-radio-button>
      <el-radio-button label="Kf">客服权限</el-radio-button>
    </el-radio-group>

    <!-- 后台 -->
    <Admin v-if="component === 'Admin'"></Admin>

    <!-- 财务 -->
    <Finance v-else-if="component === 'Finance'"></Finance>

    <!-- 客服 -->
    <Kf v-else-if="component === 'Kf'"></Kf>

  </div>
</template>
<script>
import Admin from './Admin'
import Finance from './Finance'
import Kf from './Kf'
export default {
  components: {
    Admin,
    Finance,
    Kf
  },
  data () {
    return {
      component: 'Admin'
    }
  },
  methods: {}
}
</script>
<style lang=less>
</style>
