<template>
  <div class="rulesSetting">
    
    <el-col class="col-right col-bottom" :span="24">
      <div class="qxsd">
        <section class="L2 L_title">
          <el-col :span="5" class="L1_menu"><span>一级菜单</span></el-col>
          <el-col class="L2_left" :span="19">
            <el-row class="L3">
                <el-col class="L2_menu" :span="10"><span>二级菜单</span></el-col>
                <el-col class="L3_left L3_title" :span="12">
                  <div class=""> 功能控件权限设置 </div>
                </el-col>
            </el-row>
          </el-col>
        </section>
        <section class="L2" v-for="item in menuList" :key="item.id">
          <el-col class="L1_menu" :span="5"><span>{{item.name}}</span></el-col>
          <el-col class="L2_left" :span="19">
            <el-row class="L3" v-for="item2 in item.childNode" :key="item2.id">
                <el-col :span="10" class="L2_menu"><span> {{item2.name}} </span></el-col>
                <el-col class="L3_left" :span="12">
                  <el-checkbox-group class="checkGroup" v-model="checkedFunctionIds">
                    <el-checkbox v-if="item2.functions" v-for="item3 in item2.functions" :label="item3.id" :key="item3.id" class="checkbox-item">{{item3.name}}</el-checkbox>
                  </el-checkbox-group>
                </el-col>
            </el-row>
          </el-col>
        </section>
      </div>
    </el-col>
    
    <div style="text-align: center;padding-top: 40px;padding-bottom: 40px;">
    	<el-button>取消</el-button>
    	<el-button type="primary">保存</el-button>
    </div>
    
     
  </div>
</template>

<script>
export default {
  data () {
    return {
    	checkedFunctionIds: [],
      //菜单列表
      menuList:[{"id":3,"name":"APP","level":0,"childNode":[{"id":5,"name":"首页管理","parentId":3,"level":1,"functions":[{"id":3,"menuId":5,"code":"3","name":"查看","isChecked":false}]},{"id":6,"name":"商城管理","parentId":3,"level":1,"functions":[{"id":4,"menuId":6,"code":"4","name":"查看","isChecked":false}]},{"id":7,"name":"商品管理","parentId":3,"level":1,"functions":[{"id":5,"menuId":7,"code":"5","name":"查看","isChecked":false}]},{"id":8,"name":"订单管理","parentId":3,"level":1,"functions":[{"id":6,"menuId":8,"code":"6","name":"查看","isChecked":false}]},{"id":9,"name":"消息设置","parentId":3,"level":1,"functions":[{"id":7,"menuId":9,"code":"7","name":"查看","isChecked":false}]},{"id":10,"name":"意见反馈","parentId":3,"level":1,"functions":[{"id":8,"menuId":10,"code":"8","name":"查看","isChecked":false}]},{"id":11,"name":"帮助中心","parentId":3,"level":1,"functions":[{"id":9,"menuId":11,"code":"9","name":"查看","isChecked":false}]}]},{"id":12,"name":"PC端","level":0,"childNode":[{"id":13,"name":"海报管理","parentId":12,"level":1,"functions":[{"id":10,"menuId":13,"code":"10","name":"查看","isChecked":false}]},{"id":14,"name":"招商加盟","parentId":12,"level":1,"functions":[{"id":11,"menuId":14,"code":"11","name":"查看","isChecked":false}]}]},{"id":15,"name":"财务管理","level":0,"childNode":[{"id":16,"name":"财务记录","parentId":15,"level":1,"functions":[{"id":12,"menuId":16,"code":"12","name":"查看","isChecked":false}]},{"id":40,"name":"财务结算","parentId":15,"level":1,"functions":[{"id":25,"menuId":40,"code":"40","name":"查看","isChecked":false}]},{"id":49,"name":"订单列表","parentId":15,"level":1,"functions":[{"id":32,"menuId":49,"code":"132","name":"查看","isChecked":false}]}]},{"id":17,"name":"用户管理","level":0,"childNode":[{"id":18,"name":"用户列表","parentId":17,"level":1,"functions":[{"id":13,"menuId":18,"code":"13","name":"查看","isChecked":false}]},{"id":51,"name":"用户提现记录","parentId":17,"level":1,"functions":[{"id":38,"menuId":51,"code":"206","name":"查看","isChecked":false}]},{"id":52,"name":"用户分组","parentId":17,"level":1,"functions":[{"id":37,"menuId":52,"code":"205","name":"查看","isChecked":false}]}]},{"id":20,"name":"优惠券","level":0,"childNode":[{"id":21,"name":"优惠券","parentId":20,"level":1,"functions":[{"id":14,"menuId":21,"code":"14","name":"查看","isChecked":false}]}]},{"id":22,"name":"文章","level":0,"childNode":[{"id":23,"name":"文章管理","parentId":22,"level":1,"functions":[{"id":15,"menuId":23,"code":"15","name":"查看","isChecked":false}]}]},{"id":24,"name":"评价管理","level":0,"childNode":[{"id":25,"name":"评价管理","parentId":24,"level":1,"functions":[{"id":16,"menuId":25,"code":"16","name":"查看","isChecked":false}]}]},{"id":27,"name":"客服管理","level":0,"childNode":[{"id":30,"name":"会话","parentId":27,"level":1,"functions":[{"id":18,"menuId":30,"code":"18","name":"查看","isChecked":true}]},{"id":29,"name":"机器人设置","parentId":27,"level":1,"functions":[{"id":17,"menuId":29,"code":"17","name":"查看","isChecked":false}]}]},{"id":31,"name":"系统管理","level":0,"childNode":[{"id":32,"name":"协议管理","parentId":31,"level":1,"functions":[{"id":19,"menuId":32,"code":"19","name":"查看","isChecked":false}]},{"id":33,"name":"用户管理","parentId":31,"level":1,"functions":[{"id":20,"menuId":33,"code":"20","name":"查看","isChecked":false}]},{"id":35,"name":"日志","parentId":31,"level":1,"functions":[{"id":22,"menuId":35,"code":"22","name":"查看","isChecked":true}]},{"id":43,"name":"菜单管理","parentId":31,"level":1,"functions":[{"id":27,"menuId":43,"code":"43","name":"查看","isChecked":false}]},{"id":34,"name":"分店设置","parentId":31,"level":1,"functions":[{"id":21,"menuId":34,"code":"21","name":"查看","isChecked":false}]}]},{"id":36,"name":"活动抽奖","level":0,"childNode":[{"id":37,"name":"活动管理","parentId":36,"level":1,"functions":[{"id":23,"menuId":37,"code":"37","name":"查看","isChecked":false}]},{"id":38,"name":"邀请函报名","parentId":36,"level":1,"functions":[{"id":24,"menuId":38,"code":"38","name":"查看","isChecked":false}]}]},{"id":41,"name":"采集器","level":0,"childNode":[{"id":42,"name":"采集器","parentId":41,"level":1,"functions":[{"id":26,"menuId":42,"code":"42","name":"查看","isChecked":false}]}]},{"id":44,"name":"分店概况","level":0,"childNode":[{"id":45,"name":"订单列表","parentId":44,"level":1,"functions":[{"id":29,"menuId":45,"code":"48","name":"查看","isChecked":false}]},{"id":46,"name":"财务信息","parentId":44,"level":1,"functions":[{"id":28,"menuId":46,"code":"47","name":"查看","isChecked":false}]},{"id":47,"name":"分店信息","parentId":44,"level":1,"functions":[{"id":30,"menuId":47,"code":"0","name":"查看","isChecked":false}]},{"id":50,"name":"业务员","parentId":44,"level":1,"functions":[{"id":34,"menuId":50,"code":"142","name":"查看","isChecked":false}]}]}]
      
    }
  },
  mounted () {
    
  },
  methods: {
  	// 查询用户权限
    getPowerStructure () {
      this.$axiosPost(this.$api.user.getPowerStructure, {id: this.userData.id}).then((res) => {
        this.menuList = res.data.list
        this.menuList.map(item => {
          if (item.childNode && item.childNode.length > 0) {
            item.childNode.map(item2 => {
              if (item2.functions && item2.functions.length > 0) {
                item2.functions.map(item3 => {
                  if (item3.isChecked) {
                    this.checkedFunctionIds.push(item3.id)
                  }
                })
              }
            })
          }
        })
      })
    },
    
  }
}
</script>

<style lang=less>

  .qxsd {
  	line-height: 40px;
  	margin-top: 40px;
  	border-top: 1px solid #e4e5e7;
  	border-left: 1px solid #e4e5e7;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    min-height: 100px;
    >section {
      border-right: 1px solid #e4e5e7;
      .checkbox-title {
        margin: .2rem .2rem;
        display: block;
        &::after {
          content: '';
          display: block;
          width: 100%;
          margin-top: .2rem;
          background: #e4e5e7;
          height: 2px;
        }
      }
      .checkbox-item {
        // margin: .2rem .2rem;
      }
    }
  }

  .L2 {
    border-bottom: 1px solid  #e4e5e7;
  }
  .L2_left {
    border-left: 1px solid  #e4e5e7;
  }
  .L3_left {
  	padding-left: 20px;
    border-left: 1px solid  #e4e5e7;
  }

  .L3 {
    border-bottom: 1px solid  #e4e5e7;
  }

  .L3:only-child,
  .L3:last-child,
   {
    border: none;
  }
  .L3_title {

    display: flex;
    align-items: center;
    justify-content: space-around;
    div {
      // margin: .2rem .2rem;
    }
  }
  .L1_menu,
  .L2_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    span {
      // margin: .1rem .1rem;
    }
  }
  .L_title {
    font-weight: 600;
  }
</style>
