<template>
  <div class="userList">

    <!-- 新增用户组 -->
    <div class="addUser">
      <el-button type="success" @click="openDialog('add')" style="margin: 10px 0">新增</el-button>
    </div>

    <!-- 主内容区域 -->
    <div class="conMain">

      <el-table :data="tableData" stripe border style="width: 100%">

        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="group" label="用户组" width="140px"></el-table-column>
        <el-table-column align="center" prop="rebate" label="推荐返利"></el-table-column>
        <el-table-column align="center" prop="minEXP" label="最小经验"></el-table-column>
        <el-table-column align="center" prop="maxEXP" label="最大经验"></el-table-column>

        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="240px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="openDialog('modify', scope.row)">编辑</el-button>
              <el-button type="danger" round size="mini" @click="del(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>

      </el-table>

      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>

    </div>

    <!-- 新增及编辑启动页对话框 -->
    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible" v-if="dialogFormVisible">

      <el-form :model="form" :rules="rules" ref="form">

        <!-- 名称 -->
        <el-form-item label="名称" :label-width="formLabelWidth" prop="group">
          <el-input style="width: 5rem" v-model="form.group" auto-complete="off" placeholder="最多支持30个汉字" maxlength="30"></el-input>
        </el-form-item>

        <!-- 折扣率 -->
        <el-form-item label="折扣率" :label-width="formLabelWidth" prop="rebate">
          <el-input style="width: 5rem" v-model="form.rebate" auto-complete="off"></el-input>
          <p>%折扣率，例如：如果输入90，表示该会员组可以以商品原价的90%购买（允许包含小数）。</p>
        </el-form-item>

        <!-- 最小经验 -->
        <el-form-item label="最小经验" :label-width="formLabelWidth" prop="minEXP">
          <el-input style="width: 5rem" v-model="form.minEXP" auto-complete="off"></el-input>
          <p>进入此用户组的经验值下限</p>
        </el-form-item>

        <!-- 最大经验 -->
        <el-form-item label="最大经验" :label-width="formLabelWidth" prop="maxEXP">
          <el-input style="width: 5rem" v-model="form.maxEXP" auto-complete="off"></el-input>
          <p>进入此用户组的经验值上限</p>
        </el-form-item>

      </el-form>

      <!-- 对话框底部 -->
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="save">提 交</el-button>
      </div>
    </el-dialog>

  </div>
</template>
<script>
export default {
  data () {
    return {

      // 新增用户组对话框
      dialogFormVisible: false,
      // 弹框标题
      dialogTitle: '',
      // 分页
      pageInfo: { page: 1, pageSize: 10, total: 21 },

      // 新增对话框标签宽度
      formLabelWidth: '100px',

      // 新增及编辑表单信息
      form: {
        group: '普通用户',
        rebate: '9.8',
        minEXP: '1',
        maxEXP: '10'
      },

      // 数据列表
      tableData: [
        {group: '普通用户', rebate: '9.8', minEXP: '1', maxEXP: '10'},
        {group: '普通用户', rebate: '9.8', minEXP: '1', maxEXP: '10'},
        {group: '普通用户', rebate: '9.8', minEXP: '1', maxEXP: '10'},
        {group: '普通用户', rebate: '9.8', minEXP: '1', maxEXP: '10'}
      ],

      // 校验规则
      rules: {
        group: {required: true, message: '名称不能为空', trigger: 'blur'},
        rebate: {required: true, message: '推荐返利不能为空', trigger: 'blur'},
        minEXP: {required: true, message: '最小经验不能为空', trigger: 'blur'},
        maxEXP: {required: true, message: '最大经验不能为空', trigger: 'blur'}
      }
    }
  },
  methods: {
    // 新增或编辑打开弹框
    openDialog (type, item) {
      this.dialogFormVisible = true
      if (type === 'add') {
        this.form = {}
        this.dialogTitle = '新增用户组'
        this.form.type = 'add'
      }
      if (type === 'modify') {
        this.form = {...item}
        this.dialogTitle = '编辑用户组'
        this.form.type = 'modify'
      }
    },

    // 提交表单
    save () {
      this.$refs['form'].validate((valid) => {
        this.form.type === 'add' ? this.add() : this.edit()
      })
    },

    // 新增
    add () {
      this.$axiosPost(this.$api.login, {...this.form}).then(res => {
        if (res.code === this.http.OK) {
          this.form = {}
          this.dialogFormVisible = false
        } else {
          // this.$notify.error({ message: res.msg })
        }
      })
    },

    // 删除
    del (id) {
      this.$confirm('你确定要删除吗?', '提示', { confirmButtonText: '确定', cancelButtonText: '取消', type: 'warning' }).then(() => {
        this.$axiosPost(this.$api.login, { id }).then(res => {
          res.code === this.http.OK
            ? this.$notify.success({ message: '操作成功' })
            : this.$notify.error({ message: res.msg })
        })
      }).catch(() => {
        this.$message({ type: 'info', message: '已取消删除' })
      })
    },

    // 编辑
    edit () {
      this.$axiosPost(this.$api.login, {...this.form}).then(res => {
        if (res.code === this.http.OK) {
          this.tableData = res.data.list
          this.form = {}
          this.dialogFormVisible = false
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },

    // 获取用户列表数据
    getData (page = 1) {
      this.$axiosPost(this.$api.login, { page, pageSize: this.pageInfo.pageSize }).then(res => {
        if (res.code === this.http.OK) {
          this.pageInfo.total = res.data.count
          this.tableData = res.data.list
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    }
  }
}
</script>
