<template>
  <div class="userList">
    <!-- 搜索栏 -->
    <div class="filterBar">
      <el-form :inline="true">
        <el-form-item>
          <el-select clearable style="width:2rem" v-model="searchBar.status" placeholder="启用状态">
            <el-option v-for="(item, index) in [ '正常', '停用']"  :key="index" :label="item" :value="index"></el-option>
          </el-select>
        </el-form-item><el-form-item>
        <!-- 显示状态 -->
        <el-select clearable style="width:2rem" v-model="searchBar.certificationStatus" placeholder="实名认证状态">
          <el-option v-for="(item, index) in [{type:'未认证', code: 0}, {type:'认证不通过', code: 2}, {type:'已认证', code: 3}]" :key="index" :label="item.type" :value="item.code"></el-option>
        </el-select>
        </el-form-item><el-form-item>
        <!-- 搜索内容 -->
        <el-input style="width: 2.4rem" v-model="searchBar.nickName" placeholder="请输入用户昵称" clearable></el-input>
        </el-form-item><el-form-item>
        <!-- 搜索内容 -->
        <el-input style="width: 2.4rem" v-model="searchBar.name" placeholder="请输入真实姓名" clearable></el-input>
        </el-form-item><el-form-item>
        <!-- 搜索内容 -->
        <el-input style="width: 2.6rem" v-model="searchBar.phone" placeholder="请输入手机号码" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <!-- 搜索按钮 -->
          <el-button @click="load()" type="primary">搜索</el-button>
        </el-form-item>
      </el-form>

    </div>

    <!-- 主内容区域 -->
    <div class="conMain">

      <el-table :data="tableData" stripe border style="width: 100%">

        <el-table-column align="center" label="序号" type="index" width="50px"></el-table-column>
        <el-table-column align="center" prop="nickName" label="昵称"></el-table-column>
        <el-table-column align="center" prop="nickName" label="登录帐号"></el-table-column>
        <el-table-column align="center" prop="name" label="真实姓名"></el-table-column>
        <el-table-column align="center" prop="idCard" label="证件号码"></el-table-column>
        <el-table-column align="center" prop="phone" label="手机号码"></el-table-column>
        <el-table-column align="center" prop="lastLoginIp" label="最后登录IP"></el-table-column>
        <el-table-column align="center" prop="lastLoginTime" label="最后登录时间"></el-table-column>
        <el-table-column align="center" prop="createTime" label="注册日期"></el-table-column>
        <el-table-column align="center" prop="registCount" label="邀请注册">
          <template slot-scope="scope">
            <div @click="openInviteData(scope.row.id)">
              <p style="text-decoration: underline">{{ scope.row.registCount }}</p>
            </div>
          </template>
        </el-table-column>
        <el-table-column align="center" prop="cashBack" label="获得返利"></el-table-column>
        <el-table-column align="center" prop="status" label="状态">
          <template slot-scope="scope">
            <span v-if="scope.row.status==0">正常</span>
            <span v-if="scope.row.status==1">停用</span>
          </template>
        </el-table-column>
        <el-table-column align="center" prop="certificationStatus" label="审核">
          <template slot-scope="scope">
            <span v-if="scope.row.certificationStatus==0">未认证</span>
            <span v-if="scope.row.certificationStatus==1">待审核</span>
            <span v-if="scope.row.certificationStatus==2">审核不通过</span>
            <span v-if="scope.row.certificationStatus==3">审核通过</span>
          </template>
        </el-table-column>
        <el-table-column align="center" prop="verifier" label="是否为核销员" width="120px">
          <template slot-scope="scope">
            <el-switch
            v-model="scope.row.isDestroyUser"
            :active-value='1'
            :inactive-value='0'
            @change="(val) => setDestroyUser(scope.row.id, val)"
            active-text="是"
            inactive-text="否" true-label="1" false-label="0">
          </el-switch>
          </template>
        </el-table-column>

        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="280px">
          <template slot-scope="scope">
            <el-button type="primary" round size="mini" v-if="scope.row.certificationStatus === 1" @click="getCheckDetails(scope.row.id), dialogFormVisible = true">实名审核</el-button>
            <el-button type="danger" round size="mini" @click="openCheckMan(scope.row.id)">检测人</el-button>
            <el-button type="success" round size="mini" v-if="scope.row.status === 1" @click="update(scope.row.id, 0)">启 用</el-button>
            <el-button type="danger" round size="mini" v-if="scope.row.status === 0" @click="update(scope.row.id, 1)">停 用</el-button>
          </template>
        </el-table-column>

      </el-table>

      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="load" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>

    </div>

    <!-- 审核对话框 -->
    <el-dialog title="审核身份证" :visible.sync="dialogFormVisible">

      <el-form :model="form" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="昵称" :label-width="formLabelWidth" prop="nickName">
          <el-input :disabled="true" v-model="form.nickName" type="text"></el-input>
        </el-form-item>
        <el-form-item label="手机号码" :label-width="formLabelWidth">
          <el-input  :disabled="true" v-model="form.phone" type="text"></el-input>
        </el-form-item>
        <el-form-item label="姓名" :label-width="formLabelWidth" prop="name">
          <el-input  :disabled="true" v-model="form.name" type="text"></el-input>
        </el-form-item>
        <el-form-item label="证件类型" :label-width="formLabelWidth">
          <span>身份证</span>
        </el-form-item>
        <el-form-item label="身份证号" :label-width="formLabelWidth" prop="idCard">
          <el-input  :disabled="true" v-model="form.idCard" type="text"></el-input>
        </el-form-item>
        <el-form-item label="性别" :label-width="formLabelWidth">
          <el-radio-group v-model="form.sex" :disabled="true">
            <el-radio :label="1">男</el-radio>
            <el-radio :label="0">女</el-radio>
          </el-radio-group>
        </el-form-item>
         <!-- 上传图片 -->
        <el-form-item label="证件图片" :label-width="formLabelWidth" width="100px" height="100px">
          <img :src="form.idCardUrl" alt="" height="100px">
          <img :src="form.handCardUrl" alt="" height="100px">
        </el-form-item>

        <el-form-item label="审核状态" :label-width="formLabelWidth" prop="certificationStatus">
          <el-radio-group v-model="form.certificationStatus">
            <el-radio :label="3">审核通过</el-radio>
            <el-radio :label="2">审核不通过</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="" :label-width="formLabelWidth" prop="certificationAuditReasons">
          <el-input type="textarea" v-model="form.certificationAuditReasons" placeholder="请填写不通过原因"></el-input>
        </el-form-item>
      </el-form>

      <!-- 对话框底部 -->
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="check">提 交</el-button>
      </div>
    </el-dialog>
    <!--检测人列表-->
    <el-dialog title="检测人列表" :visible.sync="checkManDialogFormVisible" width="80%">

      <el-table :data="checkManList">
        <el-table-column align="center" type="index"></el-table-column>
        <el-table-column align="center" label="真实姓名" prop="name"></el-table-column>
        <el-table-column align="center" label="证件号码" prop="idCard"></el-table-column>

        <el-table-column align="center" label="与本人关系" prop="relationship">
          <template slot-scope="scope">
            <span v-if="scope.row.relationship==1">父母</span>
            <span v-if="scope.row.relationship==2">配偶</span>
            <span v-if="scope.row.relationship==3">兄弟姐妹</span>
            <span v-if="scope.row.relationship==4">子女</span>
            <span v-if="scope.row.relationship==5">祖父母</span>
            <span v-if="scope.row.relationship==6">外祖父母</span>
            <span v-if="scope.row.relationship==7">其它</span>
          </template>
        </el-table-column>

        <el-table-column align="center" label="性别" prop="sex">
          <template slot-scope="scope">
            <span v-if="scope.row.sex==0">女</span>
            <span v-if="scope.row.sex==1">男</span>
          </template>
        </el-table-column>

        <el-table-column align="center" label="生日" prop="birthday" width="300"></el-table-column>
        <el-table-column align="center" label="手机号码" prop="phone" width="200"></el-table-column>
        <!--<el-table-column align="center" label="状态" prop="status">-->
          <!--<template slot-scope="scope">-->
            <!--{{scope.row.status === 0 ?  '审核通过' :  '待审核'}}-->
          <!--</template>-->
        <!--</el-table-column>-->
        <!--<el-table-column align="center" label="操作">-->
          <!--<template slot-scope="scope">-->
            <!--<el-button type="text" size="mini" v-if="scope.row.status === 1">审核</el-button>-->
          <!--</template>-->
        <!--</el-table-column>-->
      </el-table>

      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="openCheckMan" :page-size="checkManListPageInfo.pageSize" :total="checkManListPageInfo.total"></el-pagination>

    </el-dialog>

    <!-- 邀请注册用户列表 -->
    <el-dialog title="邀请注册" :visible.sync="inviteDataVisible" width="60%">
      <el-table :data="inviteData">
        <el-table-column align="center" label="序号" type="index"></el-table-column>
        <el-table-column align="center" label="昵称" prop="name"></el-table-column>
        <el-table-column align="center" label="手机号码" prop="userPhone"></el-table-column>
        <el-table-column align="center" label="注册时间" prop="createTime"></el-table-column>

        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作">
          <template slot-scope="scope">
            <el-button type="primary" round size="mini" @click="openBuyOrder(scope.row.userId)">查看</el-button>
          </template>
        </el-table-column>

      </el-table>

      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="openInviteData" :page-size="inviteDataInfo.pageSize" :total="inviteDataInfo.total"></el-pagination>

    </el-dialog>

    <!-- 邀请注册用户的订单列表 -->
    <el-dialog title="注册用户订单" :visible.sync="orderListVisible" width="60%">
      <el-table :data="orderListData">
        <el-table-column align="center" label="序号" type="index"></el-table-column>
        <el-table-column align="center" label="订单号" prop="orderNo"></el-table-column>
        <!-- <el-table-column align="center" label="单价(元)" prop="price"></el-table-column> -->

        <el-table-column align="center" label="实际支付(元)" prop="practicalTotalMoneyValue"></el-table-column>

        <el-table-column align="center" label="交易状态" prop="status">
          <template slot-scope="scope">
            <span v-if="scope.row.status==1000">已完成</span>
            <span v-if="scope.row.status==1001">待付款</span>
            <span v-if="scope.row.status==1002">待发货</span>
            <span v-if="scope.row.status==1003">已发货</span>
            <span v-if="scope.row.status==1004">待评价</span>
            <span v-if="scope.row.status==1005">已完成</span>
            <span v-if="scope.row.status==1006">已关闭</span>
            <span v-if="scope.row.status==1007">退款订单</span>
          </template>
        </el-table-column>

        <el-table-column align="center" label="下单时间" prop="createTime"></el-table-column>

      </el-table>

      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="openBuyOrder" :page-size="orderListDataInfo.pageSize" :total="orderListDataInfo.total"></el-pagination>

    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      // 搜索栏
      searchBar: {},
      // 对话框
      dialogFormVisible: false,
      checkManDialogFormVisible: false,
      inviteDataVisible: false,
      orderListVisible: false,
      // 分页
      pageInfo: { page: 1, pageSize: 10, total: 21 },
      checkManListPageInfo: { page: 1, pageSize: 10, total: 21 },
      inviteDataInfo: { page: 1, pageSize: 10, total: 21 },
      orderListDataInfo: { page: 1, pageSize: 10, total: 21 },

      // 对话框标签宽度
      formLabelWidth: '100px',

      // 表单信息
      form: {
        certificationStatus: '',
        certificationAuditReasons: '',
        nickName: '',
        name: '',
        idCard: ''
      },
      // 表单校验规则
      rules: {
        certificationStatus: [{ required: true, message: '实名认证状态必填', trigger: 'blur' }],
        name: [{ required: true, message: '真实姓名必填', trigger: 'blur' }],
        idCard: [{ required: true, message: '身份证号码', trigger: 'blur' }]
      },

      // 数据列表
      tableData: [],
      checkManList: [],
      inviteData: [],
      orderListData: [],
      // 是否为核销员
      isNo: ''
    }
  },
  created: function () {
    //this.load()
  },
  methods: {
    // 获取用户列表数据
    load (page = 1) {
      if (page !== 1) this.pageInfo.page = page
      this.$axiosPost(this.$api.cUser.list, { page: this.pageInfo.page, pageSize: this.pageInfo.pageSize, ...this.searchBar }).then(res => {
        if (res.code === this.http.OK) {
          this.pageInfo.total = res.data.total
          this.tableData = res.data.list
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    // 设置核销员
    setDestroyUser (id, val) {
      this.$axiosPost(this.$api.cUser.setDestroyUser, { id, isDestroyUser: val }).then(res => {
        if (res.code === this.http.OK) {
          this.$notify.success({ message: '修改成功' })
          this.load()
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    // 获取审核详情
    getCheckDetails (id) {
      this.$axiosPost(this.$api.cUser.checkDetails, { id }).then(res => {
        if (res.code === this.http.OK) {
          this.form = res.data
        }
      })
    },
    // 提交审核
    check () {
      this.$refs['ruleForm'].validate((valid) => {
        if (!valid) {
          this.$notify.error({ message: '请完善审核信息' })
          return false
        } else {
          this.$axiosPost(this.$api.cUser.check, this.form).then(res => {
            if (res.code === this.http.OK) {
              this.form = {}
              this.dialogFormVisible = false
              this.$notify.success({ message: '审核成功' })
              this.load()
            } else {
              this.$notify.error({ message: res.msg })
            }
          })
        }
      })
    },
    // 启用，停用
    update (id, status) {
      let msg
      if (status === 0) { msg = '你确定要停用么？' }
      if (status === 1) { msg = '你确定要 启用么？' }
      this.$confirm(msg, '提示', { confirmButtonText: '确定', cancelButtonText: '取消', type: 'warning' }).then(() => {
        this.$axiosPost(this.$api.cUser.update, {id, status}).then(res => {
          if (res.code === this.http.OK) {
            this.$notify.success({ message: '操作成功' })
            this.dialogFormVisible = false
            this.load()
          } else {
            this.$notify.error({ message: res.msg })
          }
        })
      }).catch(() => {
        this.$message({ type: 'info', message: '操作已取消' })
      })
    },
    // 打开检测人弹窗
    openCheckMan (id) {
      this.$axiosPost(this.$api.cUser.checkManList, {...this.checkManListPageInfo, id}).then(res => {
        if (res.code === this.http.OK) {
          this.form = {}
          this.checkManDialogFormVisible = true
          this.checkManList = res.data.list
          this.checkManListPageInfo.total = res.data.total
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    // 邀请注册用户列表
    openInviteData (id) {
      this.$axiosPost(this.$api.cUser.queryInviteRelationInfoList, {inviteUserId: id, ...this.inviteDataInfo}).then(res => {
        if (res.code === this.http.OK) {
          this.inviteDataVisible = true
          this.inviteData = res.data.list
          this.inviteDataInfo.total = res.data.total
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    // 获取邀请注册用户订单列表
    openBuyOrder (id) {
      this.$axiosPost(this.$api.cUser.queryTradeOrderInfoList4B, { userId: id, ...this.orderListDataInfo }).then(res => {
        if (res.code === this.http.OK) {
          this.orderListVisible = true
          this.orderListData = res.data.list
          this.orderListDataInfo.total = res.data.total
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
.cardImg{
  display:flex;
  .left{
    margin-left: 20px;
    margin-right: 80px;
  }
}
</style>
