<template>
  <div class="IndexManage">

    <el-radio-group v-model="component" style="margin-top: 20px">
      <el-radio-button label="UserGroupDetails">用户组明细</el-radio-button>
      <el-radio-button label="UserGroupSummary">用户组汇总</el-radio-button>
      <el-radio-button label="RulesSetting">规则设置</el-radio-button>
    </el-radio-group>

    <!-- 用户组明细 -->
    <UserGroupDetails v-if="component === 'UserGroupDetails'"></UserGroupDetails>

    <!-- 用户汇总 -->
    <UserGroupSummary v-else-if="component === 'UserGroupSummary'"></UserGroupSummary>

    <!-- 规则设置 -->
    <RulesSetting v-else-if="component === 'RulesSetting'"></RulesSetting>

  </div>
</template>
<script>
import UserGroupDetails from './UserGroupDetails'
import UserGroupSummary from './UserGroupSummary'
import RulesSetting from './RulesSetting'
export default {
  components: {
    UserGroupDetails,
    UserGroupSummary,
    RulesSetting
  },
  data () {
    return {
      component: 'UserGroupDetails'
    }
  },
  methods: {}
}
</script>
<style lang=less>
</style>
