<template>
  <div class="rulesSetting">
    <el-form label-position="left" label-width="180px" class="rules-title, base-head">
      <el-form-item label="项目名称" class="rules-title">
        <span style="color: #606266;">经验值</span>
      </el-form-item>
    </el-form>

    <div class="base-nav">
      <el-form label-position="left" label-width="180px"  v-for="(item,index) in ruleList" :key="index">

        <el-form-item v-if="index <= 1" :label="item.name">
          <el-input type="number" class="baseTable-inp" v-model="item.exp" placeholder=""></el-input>
          <el-button @click="changeEdit(item.id,item.exp)" type="primary">确定</el-button>
        </el-form-item>

        <!-- <el-form-item :label="ruleList[0].name">
          <el-input class="baseTable-inp" v-model="ruleList[0].exp" placeholder=""></el-input>
          <el-button @click="changeEdit(ruleList[0].id,ruleList[0].exp)" type="primary">确定</el-button>
        </el-form-item> -->
        <!-- <el-form-item :label="ruleList[1].name">
          <el-input class="baseTable-inp" v-model="ruleList[1].exp" placeholder=""></el-input>
          <el-button @click="changeEdit(ruleList[1].id,ruleList[1].exp)" type="primary">确定</el-button>
        </el-form-item> -->
      </el-form>
    </div>

    <div class="base-nav">
      <el-form label-position="left" label-width="180px" class="rules-title, base-head">
      <el-form-item label="购物" class="rules-title"></el-form-item>
    </el-form>
    </div>
    <div class="base-nav">
      <el-form label-position="left" label-width="180px" v-for="(item,index) in ruleList" :key="index">

        <el-form-item v-if="index > 1" :label="item.name">
          <el-input-number class="baseTable-inp" v-model="item.exp" placeholder="" type="number" :step="1" :min="0" controls-position="right"></el-input-number>
          <el-button @click="changeEdit(item.id,item.exp)" type="primary">确定</el-button>
          <span v-if="index <= 2" class="baseTable-span">该值为大于0的数,例：设置为10,表明消费10元赠送1经验值</span>
          <span v-if="index > 2" class="baseTable-span">该值为大于等于0的数,填写为0表明不限制最多经验值,例：设置为100，表明每订单赠送经验值最多为100经验值</span>
        </el-form-item>

        <!-- <el-form-item :label="ruleList[2].name">
          <el-input-number class="baseTable-inp" v-model="ruleList[2].exp" placeholder="" type="number" :step="1" :min="0" controls-position="right"></el-input-number>
          <el-button @click="changeEdit(ruleList[2].id,ruleList[2].exp)" type="primary">确定</el-button>
          <span class="baseTable-span">该值为大于0的数,例：设置为10,表明消费10元赠送1经验值</span>
        </el-form-item>
        <el-form-item :label="ruleList[3].name">
          <el-input-number class="baseTable-inp" v-model="ruleList[3].exp" placeholder="" type="number" :step="1" :min="0" controls-position="right"></el-input-number>
          <el-button @click="changeEdit(ruleList[3].id,ruleList[3].exp)" type="primary">确定</el-button>
          <span class="baseTable-span">该值为大于等于0的数,填写为0表明不限制最多经验值,例：设置为100，表明每订单赠送经验值最多为100经验值</span>
        </el-form-item> -->
      </el-form>
    </div>

    <div class="base-nav">
      <el-form label-position="left" label-width="180px" class="rules-title, base-head">
        <el-form-item label="用户组" class="rules-title">
          <span style="color: #606266;">推荐佣金率</span>
          <span style="color: #606266; margin-left: 160px;">分享商品佣金率</span>
        </el-form-item>
      </el-form>
    </div>
    <div class="base-nav">
      <el-form label-position="left" label-width="180px">
        <el-form-item v-for="(item, index) in roleList" :label="item.name" :key="index">
          <el-input type="number" max="100" min="0" class="baseTable-inp" v-model="item.recommendRate" placeholder=""></el-input><span class="percent">%</span>
          <el-input type="number" max="100" min="0" class="baseTable-inp" v-model="item.shareRate" placeholder=""></el-input><span class="percent">%</span>

          <el-button v-if="item.id != 2" @click="updateRate(item.id,item.recommendRate,item.shareRate)" type="primary">确定</el-button>
          <p class="baseTable-span">推荐返利率设置：例:设置为10%，表明{{item.name}}用户组的用户A推荐用户B注册成功且成功下单，用户A可获得10%返利，推广订单推广返利率设置：例:设置为10%，表明业务员用户组的用户A推广订单给用户B，用户B成功下单，用户A可获得10%返利</p>
        </el-form-item>
        <!-- <el-form-item :label="roleList[0].name">
          <el-input class="baseTable-inp" v-model="roleList[0].recommendRate" placeholder=""></el-input><span class="percent">%</span>
          <el-input class="baseTable-inp" v-model="roleList[0].shareRate" placeholder=""></el-input><span class="percent">%</span>
          <el-button @click="updateRate(roleList[0].id,roleList[0].recommendRate,roleList[0].shareRate)" type="primary">确定</el-button>
          <p class="baseTable-span">推荐返利率设置：例:设置为10%，表明普通用户组的用户A推荐用户B注册成功且成功下单，用户A可获得10%返利，推广订单推广返利率设置：例:设置为10%，表明普通用户组的用户A推广订单给用户B，用户B成功下单，用户A可获得10%返利</p>
        </el-form-item>
        <el-form-item :label="roleList[1].name">
          <el-input class="baseTable-inp" v-model="roleList[1].recommendRate" placeholder=""></el-input><span class="percent">%</span>
          <el-input class="baseTable-inp" v-model="roleList[1].shareRate" placeholder=""></el-input><span class="percent">%</span>
          <p class="baseTable-span">推荐返利率设置：例:设置为10%，表明业务员用户组的用户A推荐用户B注册成功且成功下单，用户A可获得10%返利，推广订单推广返利率设置：例:设置为10%，表明业务员用户组的用户A推广订单给用户B，用户B成功下单，用户A可获得10%返利</p>
        </el-form-item>
        <el-form-item :label="roleList[2].name">
          <el-input class="baseTable-inp" v-model="roleList[2].recommendRate" placeholder=""></el-input><span class="percent">%</span>
          <el-input class="baseTable-inp" v-model="roleList[2].shareRate" placeholder=""></el-input><span class="percent">%</span>
          <el-button @click="updateRate(roleList[2].id,roleList[2].recommendRate,roleList[2].shareRate)" type="primary">确定</el-button>
          <p class="baseTable-span">推荐返利率设置：例:设置为10%，表明合伙人用户组的用户A推荐用户B注册成功且成功下单，用户A可获得10%返利，推广订单推广返利率设置：例:设置为10%，表明合伙人用户组的用户A推广订单给用户B，用户B成功下单，用户A可获得10%返利</p>
        </el-form-item>
        <el-form-item :label="roleList[3].name">
          <el-input class="baseTable-inp" v-model="roleList[3].recommendRate" placeholder=""></el-input><span class="percent">%</span>
          <el-input class="baseTable-inp" v-model="roleList[3].shareRate" placeholder=""></el-input><span class="percent">%</span>
          <el-button @click="updateRate(roleList[3].id,roleList[3].recommendRate,roleList[3].shareRate)" type="primary">确定</el-button>
          <p class="baseTable-span">推荐返利率设置：例:设置为10%，表明VIP合伙人用户组的用户A推荐用户B注册成功且成功下单，用户A可获得10%返利，推广订单推广返利率设置：例:设置为10%，表明合伙人用户组的用户A推广订单给用户B，用户B成功下单，用户A可获得10%返利</p>
        </el-form-item> -->
      </el-form>
    </div>
    <!-- <el-button @click="changeEdit" type="primary">确定</el-button> -->
  </div>
</template>

<script>
export default {
  data () {
    return {
      content: '',
      //经验规则
      ruleList:[],
      //佣金规则
      roleList: []

    }
  },
  mounted () {
    this.findCterminalExpRuleList()
    this.getAllUserGroup()
  },
  methods: {
    // 经验值查询
    findCterminalExpRuleList () {
      this.$axiosPost(this.$api.cUser.findCterminalExpRuleList).then(res => {
        if (res.code === '1000') {
          this.ruleList = res.data
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    // 佣金率查询
    getAllUserGroup () {
      this.$axiosPost(this.$api.cUser.getAllUserGroup).then(res => {
        if (res.code === '1000') {
          this.roleList = res.data
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    // 修改
    changeEdit (id, exp) {
      this.$axiosPost(this.$api.cUser.editCterminalExpRule, {id: id, exp: exp}).then(res => {
        if (res.code === '1000') {
          this.$notify.success({ message: '修改成功' })
          this.findCterminalExpRuleList()
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    updateRate(id,recommendRate,shareRate){
      if(recommendRate === "" || recommendRate === null || recommendRate === undefined || shareRate === "" || shareRate === null || shareRate === undefined){
        this.$notify.error({ message: "不能为空！" })
        return
      }
      if(recommendRate >100 || shareRate >100){
        this.$notify.error({ message: "不能超过100！" })
        return
      }
      let params = {
        id: id,
        recommendRate: recommendRate,
        shareRate: shareRate
      }
      this.$axiosPost(this.$api.cUser.updateUserGroupRate, params).then(res => {
        if (res.code === '1000') {
          this.$notify.success({ message: res.data })
          this.getAllUserGroup()
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    }

  }
}
</script>

<style scoped>
.rulesSetting {
  margin-bottom: 20px;
}
.rules-title {
  font-weight: bold !important;
}
.baseTable-head {
  width: 300px;
}

.baseTable-inp {
  width: 190px;
  margin-right: 10px;
}
.base-nav {
  overflow: hidden;
  width: 1200px;
  border-top: 2px solid #409EFF;
  padding-top: 10px;
}
.base-nav .percent {
  margin-right: 20px;
}
.base-head {
  margin-top: 20px;
}
.baseTable-span {
  font-size: 12px;
  line-height: 20px;
}
</style>
