<template>
  <div class="UserGroupDetails">

    <!-- 搜索栏 -->
    <div class="filterBar">
      <!-- 搜索内容 -->
      <el-input style="width: 2.6rem" placeholder="手机号" v-model="searchBar.phone" clearable></el-input>

      <!-- 日期  -->
      <span>时间:</span>
      <el-date-picker
        v-model="dateTime"
        type="datetimerange"
        range-separator="至"
        value-format="yyyy-MM-dd"
        start-placeholder="开始日期"
        end-placeholder="结束日期">
      </el-date-picker>

      <el-select v-model="searchBar.operPhase" clearable placeholder="操作阶段" style="width: 1.2rem;min-width:130px" :change="search">
      <el-option v-for="(item, index) in phaseList" :key="item.index" :label="item.text" :value="item.value"></el-option>
      </el-select>

      <el-select v-model="searchBar.groupId" clearable placeholder="组别" style="width: 1.2rem; min-width:130px" :change="search">
        <el-option v-for="(item, index) in userGroupList" :key="item.id" :label="item.name" :value="item.id"></el-option>
      </el-select>

      <!-- 搜索按钮 -->
      <el-button @click="search()" type="primary">搜索</el-button>
      <!-- <el-button type="primary" @click="defineDialogForm = true">自定义组别</el-button> -->
      <!-- <el-button type="success" @click="handleDownload()" style="position: absolute; right:20px;">导出Excel</el-button> -->
      <a class="crumbs-a" :href="`${$baseApi}${$api.cUser.outputCterminalUserGroupDetailExcel}?token=${token}&page=${pageInfo.page}&pageSize=${pageInfo.pageSize}`">导出Excel</a>

    </div>

    <!-- 主内容区域 -->
    <div class="conMain">
      <el-card>
        <ul>
          <li>● 经验值明细，展示了用户经验值增减情况的详细情况记录，经验值前有符号“-”表示减少，无符号表示增加</li>
        </ul>
      </el-card>

      <el-table :data="tableData" stripe border style="width: 100%; top: 10px;">

        <el-table-column align="center" label="序号" type="index" width="60px"></el-table-column>
        <el-table-column align="center" prop="id" width="70px" label="用户ID"></el-table-column>
        <el-table-column align="center" prop="phone" width="120px" label="手机号"></el-table-column>
        <el-table-column align="center" prop="exp" label="经验值"></el-table-column>
        <el-table-column align="center" prop="rebate" label="获得返利"></el-table-column>
        <el-table-column align="center" prop="createTime" width="160px" label="添加时间">
          <!--<template slot-scope="scope">
            {{scope.row.createTime}}
          </template>-->
        </el-table-column>
        <el-table-column align="center" prop="operPhase" label="操作阶段"></el-table-column>
        <el-table-column align="center" prop="contentDesc" label="描述"></el-table-column>
        <el-table-column align="center" prop="groupName" label="组别"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作">
          <template slot-scope="scope">
            <el-button type="primary" round size="mini" @click="form.id = scope.row.cterminalUserId, form.cterminalUserGroupId = scope.row.groupId, dialogFormVisible = true">修改分组</el-button>
          </template>
        </el-table-column>
      </el-table>

      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>

    </div>

    <!--  修改用户分组弹框 -->
    <el-dialog title="修改用户分组" :visible.sync="dialogFormVisible" v-if="dialogFormVisible">
      <el-form :model="form" ref="form">
        <el-form-item label="用户分组" :label-width="formLabelWidth">
          <el-select v-model="form.cterminalUserGroupId" clearable placeholder="" style="width: 2.5rem">
            <el-option v-for="(item, index) in userGroupList" :key="index" :label="item.name" :value="item.id"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <!-- 对话框底部 -->
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="edit()">确 定</el-button>
        <el-button type="" @click="dialogFormVisible = false">取消</el-button>
      </div>
    </el-dialog>

  </div>
</template>
<script>
export default {
  data () {
    return {
      // 搜索栏
      searchBar: {},
      // input搜索入框内容
      data: {},
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      // 用户分组弹框开关
      dialogFormVisible: false,
      // 自定义组别弹框
      defineDialogForm: false,
      // 对话框标签宽度
      formLabelWidth: '100px',
      // 时间
      dateTime: [],
      // 操作阶段
      phaseList: [],
      // 用户分组数据
      userGroupList: [],
      // 数据列表
      tableData: [],
      // 修改分组弹框
      form: {cterminalUserGroupId: ''},
      hiden: false,
      content: ''
    }
  },
  created () {
    this.token = window.sessionStorage.token
  },
  mounted () {
    this.getAllUserGroup()
    this.getOperPhaseList()
    this.getData()
  },
  methods: {
    // 修改
    edit () {
      this.$axiosPost(this.$api.cUser.editCterminalUserExtend, {...this.form}).then(res => {
        if (res.code === this.http.OK) {
          this.$notify.success({ message: '修改成功' })
          this.dialogFormVisible = false
          this.getData()
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },

    // 搜索
    search () {
      if (this.dateTime) {
        this.searchBar.startTime = this.dateTime[0]
        this.searchBar.endTime = this.dateTime[1]
      }
      this.getData()
    },

    // 获取用户组明细列表数据和搜索
    getData (page = 1) {
      for (let i in this.searchBar) {
        if (!this.searchBar[i]) delete this.searchBar[i]
      }
      this.$axiosPost(this.$api.cUser.findCterminalUserGroupDetailList, {
        page,
        pageSize: this.pageInfo.pageSize,
        ...this.searchBar
      }).then(res => {
        if (res.code === '1000') {
          this.pageInfo.total = res.data.count
          this.tableData = res.data.list
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    // 获取操作阶段
    getOperPhaseList () {
      this.$axiosPost(this.$api.cUser.getOperPhaseList).then(res => {
        if (res.code === '1000') {
          this.phaseList = res.data
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    // 获取用户分组
    getAllUserGroup () {
      this.$axiosPost(this.$api.cUser.getAllUserGroup).then(res => {
        if (res.code === '1000') {
          // console.log("用户分组:"+res.data)
          this.userGroupList = res.data
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    /* eslint-disable */
    // 导出excel
    handleDownload () {
      let vm = this
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/vendor/Export2Excel')
        const tHeader = ['用户ID', '手机号', '经验值', '获得返利', '添加时间', '操作阶段', '描述', '组别']
        const filterVal = ['id', 'phone', 'exp', 'rebate', 'createTime', 'operPhase', 'contentDesc', 'groupId']
        const list = vm.tableData
        const data = vm.formatJson(filterVal, list)
        export_json_to_excel(tHeader, data, '导出的列表excel')
      })
    },
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]))
    }
  }
}
</script>
<style lang=less>
.UserGroupDetails {
  .crumbs-a {
    display: inline-block;
    height: 40px;
    padding: 0 14px;
    line-height: 40px;
    font-size: 14px;
    margin-left: 30px;
    text-align: center;
    background: #67c23a;
    color: #fff;
    border-radius: 6px;
  }
}
</style>
