<template>
  <div>
    <div class="filterBar">
      <el-button type="primary" @click="Unreviewed">未通过审核的商品详情</el-button>
      <el-button type="primary" @click="Disable">商品停用详情</el-button>
    </div>

    <!-- 搜索 -->
    <div class="filterBar">
       <!-- 价格范围 -->
      <span>价格范围</span>
      <el-input style="width: 2.6rem" type="number" placeholder="" v-model="moneyState"></el-input>
      <el-input style="width: 2.6rem" type="number" placeholder="" v-model="moneyEnd"></el-input>
      <!-- 发布日期 -->
      <span>发布日期</span>
      <el-date-picker
        v-model="data"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-input style="width: 2.6rem" placeholder="商品名称" v-model="name" clearable></el-input>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
    </div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableGoodsList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="商品单号"></el-table-column>
        <el-table-column align="center" prop="row3" label="发布店铺"></el-table-column>
        <el-table-column align="center" prop="row4" label="申请日期"></el-table-column>
        <el-table-column align="center" prop="row6" label="商品名称"></el-table-column>
        <el-table-column align="center" prop="row6" label="审核状态"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="340px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini">商品审核</el-button>
              <el-button type="success" round size="mini">查看详情</el-button>
              <el-button type="danger" round size="mini">停用商品</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>

    <!-- 商品审核 -->
    <el-dialog title="商品审核" :visible.sync="CheckVisible" width="40%" center>
      <div class="columns">
        <label>商品名称</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>申请时间</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>商品图片</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>商品颜色参数</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>商品单价</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>商品库存</label>
        <span>了圣诞节福利</span>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button>审核不通过</el-button>
        <el-button type="primary">审核通过</el-button>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button>取消</el-button>
        <el-button type="primary">启用</el-button>
      </span>
    </el-dialog>

    <!-- 商品详情 -->
    <el-dialog title="商品详情" :visible.sync="DetailVisible" width="40%" center>
      <div class="columns">
        <label>商品名称</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>上架时间</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>商品图片</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>商品详情</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>商品单价</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>商品总库存</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>商品购买数量</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>商品销售总金额</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>商品收藏量</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>申请售后或者退款退货</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>商品综合评价率</label>
        <span>了圣诞节福利</span>
      </div>
    </el-dialog>
    <!-- 停用商品 -->
    <el-dialog title="停用商品" :visible.sync="BlockUpVisible" width="40%" center>
      <div class="columns">
        <label>商品名称</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>店铺名称</label>
        <span>了圣诞节福利</span>
      </div>
      <div class="columns">
        <label>供应商联系电话</label>
        <span>了圣诞节福利</span>
      </div>
      <p style="color: red;text-align: right">停用的商品将放入后台管理系统内，供应商将无法使用</p>
      <span slot="footer" class="dialog-footer">
        <el-button>取消</el-button>
        <el-button type="danger">停用</el-button>
      </span>     
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      moneyState: '',
      moneyEnd: '',
      data: '',
      name: '',
      // 数据列表
      tableGoodsList: [],
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      CheckVisible: false,
      DetailVisible: false,
      BlockUpVisible: false
    }
  },
  methods: {
    // 分页
    getData () {

    },
    // 未通过审核
    Unreviewed () {
      this.$router.push({ path: '/Goods/GoodsManagement/UnreviewedDetail' })
    },
    // 停用商品
    Disable () {
      this.$router.push({ path: '/Goods/GoodsManagement/Disabledetail' })
    }
  }
}
</script>
<style lang="less" scoped>

</style>
