// 全局设置 筛选栏通用样式
.filterBar {
  margin: .2rem 0;
}

// 全局设置 表格头部通用样式
.el-table__header-wrapper {
  .el-table__header {
    th {
      background: darken(#eaedfe, 1%);
    }
  }
}

@keyframes scale {
  0%,100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

// 全局设置 编辑器通用内容字体
.v-html {
  font-size: 14px;
  >p {
    margin: 10;
  }
}
// 全局设置 分页通用样式
.el-pagination {
  text-align: center;
  margin: .2rem auto;
}

// 全局设置 表格图片高度最高限制100像素
.el-table__body {
  td {
    img {
      max-height: 80px;
    }
  }
}
// 全局设置 图片上传通用样式
.upload-wrap {
  #file {
    display: none;
  }
  .upImgUrl-wrap {
    height: 84px;
    position: relative;
    display: inline-block;
    background: white;
    img {
      height: 100%;
      width: auto;
    }
  }
}

// 全局设置 图片关闭按钮
.close__x_img {
  position: absolute;
  width: 26px;
  height: 26px;
  color: white;
  border-radius:100%;
  text-align: center;
  border: 2px solid red;
  right: 0;
  top: 0;
  background: red;
  transform: translateX(50%) translateY(-50%);
  cursor: pointer;
  &::before {
    content: '';
    width: 15px;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    transform: translate(-50%,-50%) rotate(45deg);
    background: white;
  }
  &::after {
    content: '';
    width: 1px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    background: white;
    transform: translate(-50%,-50%) rotate(45deg);
  }
}

// 全局设置 图片预览

.body__img__preview {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  text-align: center;
  overflow: auto;
  &::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    max-height: 100vh;
    width: auto;
    max-width: 1200px;
  }
}

// 全局设置 图片预览关闭按钮
.body__img__close {
  position: absolute;
  width: 40px;
  height: 40px;
  color: white;
  border-radius:100%;
  text-align: center;
  border: 1px solid red;
  right: 0px;
  top: 4px;
  background: red;
  cursor: pointer;
  &::before {
    content: '';
    width: 30px;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    transform: translate(-50%,-50%) rotate(45deg);
    background: white;
  }
  &::after {
    content: '';
    width: 1px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    background: white;
    transform: translate(-50%,-50%) rotate(45deg);
  }
}