// 页面头部数据
.store-top{
  width: 100%;
  border-right: 1px solid #ccc;
  p{
    text-align: center;
    font-size: 24px;
    color: #1ABC9C;
    font-weight: bold;
    margin: 10px 0 16px;
  }
  span{
    display: block;
    text-align: center;
    color: #999;
    font-size: 14px;
  }
}
// 弹出层左右分栏
.columns{
  display: flex;
  border-bottom: 1px solid #E4E4E4;
  label{
    flex: 0 0 160px;
    height: 48px;
    line-height: 48px;
    color: #999;
  }
  span{
    flex: 1;
    height: 48px;
    line-height: 48px;
    text-align: right;
  }
}