body, div, span, header, footer, nav, section, aside, article, ol, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
}

.clearfix {
  zoom: 1;
  &::after {
    content: '';
    display: block;
    clear: both;
    width: 0;
    opacity: 0;
  }
}

img {
  cursor: pointer;
}

::-webkit-scrollbar {
    width:3px;
    height:8px;
}

::-webkit-scrollbar-button{
  display: none;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #c8d8f0;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #4880ce;
}
