// amination
.ani {
  animation: tip-ani 2s ease 1;
  z-index: 9;
}

// 全局设置 图片预览动画
@keyframes tip-top {
  0%, 100% {
    opacity: 0;
    top:-10px;
  }
  10% {
    opacity: 1;
    top: 0;
  }
  90% {
    opacity: 1;
    top: 0;
  }
}
// 全局设置 图片预览
.imgView-ani {
  animation: fade-in-top .3s ease 1;
}

@keyframes fade-in-top {
  0%{
    opacity: 0;
    top:-20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}