<template>
  <div>
    <el-row>
      <el-col :span="8">
        <div class="store-top">
          <p>18</p>
          <span>今日新增</span>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="store-top">
          <p>18</p>
          <span>本月新增</span>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="store-top" style="border: 0">
          <p>18</p>
          <span>店铺总数量</span>
        </div>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="22">
        <div class="store-title">
          <span :class="{active: activeTitle === 1}" @click="storeTitle(1)">全部店铺</span>
          <span :class="{active: activeTitle === 2}" @click="storeTitle(2)">按店铺总销量</span>
          <span :class="{active: activeTitle === 3}" @click="storeTitle(3)">按供应商报价总量</span>
          <span :class="{active: activeTitle === 4}" @click="storeTitle(4)" style="border: 0">按店铺成立时间</span>
        </div>
      </el-col>
      <el-col :span="2">
        <el-button type="primary" style="margin-top: 60px;width: 100%" @click="disableDetail">店铺停用查询</el-button>
      </el-col>
    </el-row>
    <!-- 搜索栏 -->
    <div class="filterBar">
      <!-- 店铺名称 -->
      <span>店铺名称</span>
      <el-input style="width: 2.6rem" placeholder="请输入名称" v-model="storeName" clearable></el-input>
      <!-- 姓名 -->
      <span>姓名</span>
      <el-input style="width: 2.6rem" placeholder="请输入姓名" v-model="userName" clearable></el-input>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
    </div>

    <!-- 表格展示 -->
    <div class="store-main">
      <el-table :data="tableStoreList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" label="店铺名称">
          <template slot-scope="scope">
            <div style="cursor: pointer;color: #1ABC9C" @click="storeDetail(scope.row)">
              {{scope.row.row1}}
            </div>
          </template>
        </el-table-column>
        <el-table-column align="center" prop="row2" label="成立时间"></el-table-column>
        <el-table-column align="center" prop="row3" label="商品总数"></el-table-column>
        <el-table-column align="center" prop="row4" label="供应商"></el-table-column>
        <el-table-column align="center" prop="row5" label="联系方式"></el-table-column>
        <el-table-column align="center" prop="row6" label="成交总数"></el-table-column>
        <el-table-column align="center" prop="row7" label="报价量"></el-table-column>
        <el-table-column align="center" prop="row8" label="销售总金额/元"></el-table-column>
        <el-table-column align="center" prop="row9" label="评价"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="340px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini">更改</el-button>
              <el-button type="primary" round size="mini" @click="orderDetails(scope.row)">交易明细</el-button>
              <el-button type="danger" round size="mini" @click="disable(scope.row)">停用</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>

    <!-- 店铺审核弹出层 -->
    <el-dialog title="店铺审核" :visible.sync="storeAudit" width="80%" center>
      <div class="store-audit">
        <label>店铺名称</label>
        <span>11111</span>
      </div>
      <div class="store-audit">
        <label>申请注册时间</label>
        <span>11111</span>
      </div>
      <div class="store-audit">
        <label>真实姓名</label>
        <span>11111</span>
      </div>
      <div class="store-audit">
        <label>身份证号码</label>
        <span>11111</span>
      </div>
      <div class="store-audit">
        <label>绑定手机</label>
        <span>11111</span>
      </div>
      <div class="store-audit">
        <label>企业名称</label>
        <span>11111</span>
      </div>
      <div class="store-audit">
        <label>账号</label>
        <span>11111</span>
      </div>
      <div class="store-audit">
        <label>密码</label>
        <span>11111</span>
      </div>
      <div class="store-img">
        <div class="store-img-x">
          <p>营业执照:</p>
          <img src="../../../images/avatar.jpg" alt="">
        </div>
        <div class="store-img-x">
          <p>法人身份证:</p>
          <img src="../../../images/avatar.jpg" alt="">
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="storeAudit = false">取 消</el-button>
        <el-button type="danger" @click="storeDisableBtn">停用</el-button>
      </span>
    </el-dialog>
    <!-- 停用弹出层 -->
    <el-dialog title="停用店铺" :visible.sync="storeDisable" width="30%" center>
      <div class="store-disable">
        <label>供应商名称</label>
        <span>111</span>
      </div>
      <div class="store-disable">
        <label>商品店铺</label>
        <span>111</span>
      </div>
      <p style="color: red;text-align: right;line-height: 36px;">停用后，将无法发布产品，请谨慎操作。</p>
      <div style="width: 280px;margin: 40px auto 0">
        <el-button type="primary" size="medium" style="width: 100%" @click="storeDiscontinued">确定</el-button>
      </div>
    </el-dialog>

  </div>
</template>
<script>
export default {
  data () {
    return {
      activeTitle: 1,
      storeName: '',
      userName: '',
      // 数据列表
      tableStoreList: [{
        row1: '111',
        row2: '111',
        row3: '111',
        row4: '111',
        row5: '111',
        row6: '111',
        row7: '111',
        row8: '111',
        row9: '111'
      }],
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      storeDisable: false,
      storeAudit: false
    }
  },
  methods: {
    storeTitle (data) {
      this.activeTitle = data
    },
    // 分页
    getData () {

    },
    // 交易明细
    orderDetails (row) {
      this.$router.push({
        path: '/Home/StoreManagement/StoreOrderDetails',
        query: {
          id: row.id
        }
      })
    },
    // 停用
    disable () {
      this.storeAudit = true
    },
    // 店铺审核停用
    storeDisableBtn () {
      this.storeDisable = true
    },
    storeDiscontinued () {
      this.storeAudit = false
      this.storeDisable = false
    },
    // 店铺商品明细
    storeDetail (row) {
      this.$router.push({
        path: '/Home/StoreManagement/StoreGoodsDetail',
        query: {
          id: row.id
        }
      })
    },
    // 店铺停用查询
    disableDetail () {
      this.$router.push({
        path: '/Home/StoreManagement/storeDisableDetails'
      })
    }
  }
}
</script>
<style lang="less" scoped>
.store-title{
  display: inline-block;
  margin-top: 60px;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  span{
    display: inline-block;
    float: left;
    border-right: 1px solid #dcdfe6;
    padding: 0 28px;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    cursor: pointer;
  }
}
.active{
  background: #409EFF;
  color: #fff;
}
.store-disable{
  display: flex;
  height: 65px;
  border-bottom: 1px solid #E4E4E4;
  label{
    flex: 0 0 90px;
    width: 90px;
    display: inline-block;
    height: 65px;
    line-height: 65px;
    color: #999;
  }
  span{
    display: inline-block;
    flex: 1;
    height: 65px;
    text-align: right;
    line-height: 65px;
  }
}
.store-audit{
  display: flex;
  border-bottom: 1px solid #ccc;
  label{
    display: inline-block;
    flex: 0 0 145px;
    height: 45px;
    line-height: 45px;
    background: #F2F2F2;
    text-align: center;
    color: #99A5BA;
  }
  span{
    display: inline-block;
    flex: 1;
    height: 45px;
    line-height: 45px;
    text-indent: 2em;
  }
}
.store-img{
  display: flex;
  .store-img-x{
    flex: 1;
    p{
      line-height: 60px;
      margin-top: 10px;
      margin-left: 48px;
      color: #1AC2BD;
    }
    img{
      display: block;
      width: 178px;
      height: 178px;
      margin-left: 48px;
    }
  }
}
</style>


