<template>
  <div>
    <!-- 搜索 -->
    <div class="filterBar">
      <!-- 店铺名称 -->
      <span>价格范围</span>
      <el-input style="width: 2.6rem" placeholder="请输入金额" v-model="moneyState" clearable></el-input>
      <el-input style="width: 2.6rem" placeholder="请输入金额" v-model="moneyEnd" clearable></el-input>
      <!-- 姓名 -->
      <span>购买时间</span>
      <el-date-picker
        v-model="data"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-input style="width: 2.6rem" placeholder="商品名称" v-model="name" clearable></el-input>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
    </div>
    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableDisableDetailList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="店铺名称"></el-table-column>
        <el-table-column align="center" prop="row3" label="成立时间"></el-table-column>
        <el-table-column align="center" prop="row4" label="停用时间"></el-table-column>
        <el-table-column align="center" prop="row5" label="商品总数"></el-table-column>
        <el-table-column align="center" prop="row6" label="供应商"></el-table-column>
        <el-table-column align="center" prop="row6" label="成交总数"></el-table-column>
        <el-table-column align="center" prop="row6" label="报价量"></el-table-column>
        <el-table-column align="center" prop="row6" label="销售总金额/元"></el-table-column>
        <el-table-column align="center" prop="row6" label="评价"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="300px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="details(scope.row)">详情</el-button>
              <el-button type="danger" round size="mini" @click="recover(scope.row)">店铺恢复</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      moneyState: '',
      moneyEnd: '',
      data: '',
      name: '',
      // 表格数据
      tableDisableDetailList: [],
      // 分页
      pageInfo: {page: 1, pageSize: 10}
    }
  },
  methods: {
    // 分页
    getData () {

    },
    // 详情
    details (row) {

    },
    // 店铺恢复
    recover (row) {

    }
  }
}
</script>
<style lang="less" scoped>

</style>