<template>
  <div>
    <el-row>
      <el-col :span="6">
        <div class="store-top">
          <p>18</p>
          <span>商品总类数量</span>
        </div>
      </el-col>
      <el-col :span="6">
        <div class="store-top">
          <p>18</p>
          <span>总成交订单数</span>
        </div>
      </el-col>
      <el-col :span="6">
        <div class="store-top">
          <p>18</p>
          <span>用户浏览量(商品)</span>
        </div>
      </el-col>
      <el-col :span="6">
        <div class="store-top" style="border: 0">
          <p>18</p>
          <span>用户转化率</span>
        </div>
      </el-col>
    </el-row>
    <!-- 搜索 -->
    <div class="filterBar">
      <!-- 店铺名称 -->
      <span>输入搜索</span>
      <el-input style="width: 2.6rem" placeholder="订单编号/商品货号" v-model="orderId" clearable></el-input>
      <!-- 姓名 -->
      <span>上架时间</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
    </div>
    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableDetailList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="商品编号"></el-table-column>
        <el-table-column align="center" prop="row3" label="库存"></el-table-column>
        <el-table-column align="center" prop="row4" label="商品标题"></el-table-column>
        <el-table-column align="center" prop="row5" label="销量"></el-table-column>
        <el-table-column align="center" prop="row6" label="产品状态"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="340px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="seeAbout(scope.row)">查看</el-button>
              <el-button type="danger" round size="mini" @click="soldOut(scope.row)">下架</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>

      <!-- 下架弹出层 -->
      <el-dialog title="下架商品" :visible.sync="storeSoldOut" width="30%" center>
        <div class="store-disable">
          <label>商品名称</label>
          <span>111水电费老师的分解落实到福建省的放第三方来记得加福禄寿圣诞节福利卡士大夫 收到了飞机扣水电费</span>
        </div>
        <div class="store-disable">
          <label>商品店铺</label>
          <span>111</span>
        </div>
        <p style="color: red;text-align: right;line-height: 36px;">下架后，将无法发布产品，请谨慎操作。</p>
        <div style="width: 280px;margin: 40px auto 0">
          <el-button type="primary" size="medium" style="width: 100%">确定</el-button>
        </div>
      </el-dialog>

      <!-- 查看弹出层 -->
      <el-dialog title="商品详情" :visible.sync="storeDetail" width="80%" center>
        <div class="store-disable">
          <label>商品名称</label>
          <span> 收到了飞机扣水电费</span>
        </div>
        <div class="store-disable">
          <label>上架时间</label>
          <span> 收到了飞机扣水电费</span>
        </div>
        <div class="store-disable">
          <label>商品图片</label>
          <span> 收到了飞机扣水电费</span>
        </div>
        <div class="store-disable">
          <label>商品详情</label>
          <span> 收到了飞机扣水电费</span>
        </div>
        <div class="store-disable">
          <label>商品单价</label>
          <span> 收到了飞机扣水电费</span>
        </div>
        <div class="store-disable">
          <label>商品购买数量</label>
          <span> 收到了飞机扣水电费</span>
        </div>
        <div class="store-disable">
          <label>商品销售总金额</label>
          <span> 收到了飞机扣水电费</span>
        </div>
        <div class="store-disable">
          <label>商品收藏量</label>
          <span> 收到了飞机扣水电费</span>
        </div>
        <div class="store-disable">
          <label>申请售后或者退款退货</label>
          <span> 收到了飞机扣水电费</span>
        </div>
        <div class="store-disable">
          <label>产品综合评价率</label>
          <span> 收到了飞机扣水电费</span>
        </div>
      </el-dialog>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      orderId: '',
      state: '',
      end: '',
      // 数据列表
      tableDetailList: [{
        row2: '111',
        row3: '111',
        row4: '111',
        row5: '111',
        row6: '111'
      }],
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      storeSoldOut: false,
      storeDetail: false
    }
  },
  mounted () {
    this.init()
  },
  methods: {
    init () {

    },
    // 分页
    getData () {

    },
    // 查看
    seeAbout (row) {
      this.storeDetail = true
    },
    // 下架
    soldOut (row) {
      this.storeSoldOut = true
    }
  }
}
</script>
<style lang="less" scoped>
.store-disable{
  display: flex;
  border-bottom: 1px solid #E4E4E4;
  label{
    flex: 0 0 155px;
    width: 155px;
    display: inline-block;
    height: 65px;
    line-height: 65px;
    color: #999;
  }
  span{
    display: inline-block;
    flex: 1;
    text-align: right;
    line-height: 45px;
  }
}
</style>
