<template>
  <div>
    <el-row>
      <el-col :span="4">
        <div class="store-top">
          <p>18</p>
          <span>店铺销量总金额/元</span>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="store-top">
          <p>18</p>
          <span>店铺订单总数量</span>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="store-top">
          <p>18</p>
          <span>报价总数量</span>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="store-top">
          <p>18</p>
          <span>商品收藏总数量</span>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="store-top" style="border: 0">
          <p>18</p>
          <span>店铺收藏总数量</span>
        </div>
      </el-col>
    </el-row>
    <!-- 搜索 -->
    <div class="filterBar">
      <!-- 店铺名称 -->
      <span>输入搜索</span>
      <el-input style="width: 2.6rem" placeholder="订单编号" v-model="orderId" clearable></el-input>
      <!-- 姓名 -->
      <span>购买时间</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
    </div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableOrderDetailList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="订单编号"></el-table-column>
        <el-table-column align="center" prop="row3" label="订单总金额"></el-table-column>
        <el-table-column align="center" prop="row4" label="数量"></el-table-column>
        <el-table-column align="center" prop="row5" label="商品单价"></el-table-column>
        <el-table-column align="center" prop="row6" label="购买时间"></el-table-column>
        <el-table-column align="center" prop="row6" label="采购商"></el-table-column>
        <el-table-column align="center" prop="row6" label="是否开具发票"></el-table-column>
        <el-table-column align="center" prop="row6" label="付款方式"></el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      orderId: '',
      state: '',
      end: '',
      // 表格数据
      tableOrderDetailList: [],
      // 分页
      pageInfo: {page: 1, pageSize: 10}
    }
  },
  methods: {
    // 分页
    getData () {

    }
  }
}
</script>
<style lang="less" scoped>
</style>
