<template>
  <div class="IndexManage">

    <el-radio-group v-model="component" style="margin-top: 20px">
      <!-- <el-radio-button label="WithdrawCashManage">提现管理</el-radio-button> -->
      <el-radio-button label="TouchBalance">余额明细</el-radio-button>
    </el-radio-group>

    <!-- 提现管理 -->
    <WithdrawCashManage v-if="component === 'WithdrawCashManage'"></WithdrawCashManage>

    <!-- 余额明细 -->
    <TouchBalance v-else-if="component === 'TouchBalance'"></TouchBalance>

  </div>
</template>
<script>
import WithdrawCashManage from './WithdrawCashManage'
import TouchBalance from './TouchBalance'
export default {
  components: {
    WithdrawCashManage,
    TouchBalance
  },
  data () {
    return {
      component: 'TouchBalance'
    }
  },
  methods: {}
}
</script>
<style lang=less>
</style>
