<template>
  <div class="touchBalance">

    <!-- 搜索栏 -->
    <div class="filterBar">
      <!-- 用户名称 -->
      <span>手机号码:</span>
      <el-input style="width: 2.6rem" placeholder="请输入名称" v-model="searchBar.phone" clearable></el-input>
      <!-- 日期  -->
      <span>发生时间:</span>
      <el-date-picker
        v-model="dateTime"
        type="datetimerange"
        range-separator="至"
        value-format="yyyy-MM-dd HH:mm:ss"
        start-placeholder="开始日期"
        end-placeholder="结束日期">
      </el-date-picker>
      <!-- 搜索按钮 -->
      <el-button @click="search()" type="primary">搜索</el-button>
      <el-button type="success" @click="handleDownload()" style="position: absolute; right:20px;">导出Excel</el-button>
    </div>

    <!-- 主内容区域 -->
    <div class="conMain">
      <el-card>
        <div slot="header">
          <span>操作提示</span>
        </div>
        <ul>
          <li>● 此处展示了余额款详细的变更日志信息</li>
        </ul>
      </el-card>
      <el-table :data="tableDataList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="phone" label="用户帐号"></el-table-column>
        <el-table-column align="center" prop="nickName" label="昵称"></el-table-column>
        <el-table-column align="center" label="变更时间">
          <template slot-scope="scope">
            {{scope.row.updateTime}}
          </template>
        </el-table-column>
        <el-table-column align="center" prop="sumMoneyYuan" label="可用金额(元)"></el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      // 搜索栏
      searchBar: {},
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      // 数据列表
      tableDataList: [],
      // 时间
      dateTime: [],
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    // 删除
    del (row) {
      this.$confirm('你确定要删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$axiosPost(this.$api.banner.delete, { id: row.id }).then(res => {
          if (res.code === '1000') {
            this.$notify.success({ message: res.data })
            this.getData()
          }
        })
      }).catch((res) => {
        this.$message({ type: 'info', message: '已取消删除' })
      })
    },

    // 获取钱包数据和查询
    getData (page = 1) {
      this.$axiosPost(this.$api.cUser.walletDetail, {
        page,
        pageSize: this.pageInfo.pageSize,
        ...this.searchBar
      }).then(res => {
        if (res.code === '1000') {
          this.pageInfo.total = res.data.count
          this.tableDataList = res.data.list
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
     // 搜索
    search () {
      if (this.dateTime) {
        this.searchBar.startTime = this.dateTime[0]
        this.searchBar.endTime = this.dateTime[1]
      }
      this.getData()
    },
    /* eslint-disable */
    // 导出excel
    handleDownload () {
      let vm = this
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/vendor/Export2Excel')
        const tHeader = ['用户名称', '手机号码', '变更时间', '可用金额(元)']
        const filterVal = ['phone', 'nickName', 'updateTime', 'sumMoneyYuan']
        const dataList = vm.tableDataList
        const data = vm.formatJson(filterVal, dataList)
        export_json_to_excel(tHeader, data, '导出的列表excel')
      })
    },
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]))
    }
  }
}
</script>
