<template>
  <div class="WithdrawCashManage">

    <!-- 搜索栏 -->
    <div class="filterBar">

      <!-- 用户帐号 -->
      <span>用户帐号:</span>
      <el-input style="width: 2.6rem" placeholder="请输入帐号" v-model="searchBar.userId" clearable></el-input>

      <!-- 日期  -->
      <span>申请时间:</span>
      <el-date-picker
        v-model="searchBar.dateTime"
        type="datetimerange"
        range-separator="至"
        value-format="yyyy-MM-dd HH:mm:ss"
        start-placeholder="开始日期"
        end-placeholder="结束日期">
      </el-date-picker>

      <!-- 收款人姓名搜索 -->
      <span>收款人姓名:</span>
      <el-input style="width: 2rem" placeholder="请输入姓名" v-model="searchBar.nickName" clearable></el-input>

      <!-- 搜索按钮 -->
      <el-button @click="getData()" type="primary">搜索</el-button>
      <el-button type="success" @click="handleDownload()" style="position: absolute; right:20px;">导出Excel</el-button>

    </div>

    <!-- 主内容区域 -->
    <div class="conMain">

      <el-table :data="tableData" stripe border style="width: 100%">

        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="withdrawalOrder" label="提现单号"></el-table-column>
        <el-table-column align="center" prop="userId" label="用户帐号"></el-table-column>
        <el-table-column align="center" prop="nickName" label="真实姓名"></el-table-column>
        <el-table-column align="center" label="申请时间">
          <template slot-scope="scope">
            {{scope.row.dateTime}}
          </template>
        </el-table-column>
        <el-table-column align="center" prop="withdrawalAmount" label="提现金额(元)"></el-table-column>
        <el-table-column align="center" prop="serviceCharge" label="交易手续费(元)"></el-table-column>
        <el-table-column align="center" prop="arriveCash" label="到帐金额"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作">
          <template slot-scope="scope">
            <el-button type="danger" round size="mini" @click="del(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>

    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      // 搜索栏
      searchBar: {},
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      // 数据列表
      tableData: []
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    // 删除
    del (row) {
      this.$confirm('你确定要删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$axiosPost(this.$api.banner.delete, { id: row.id }).then(res => {
          if (res.code === '1000') {
            this.$notify.success({ message: res.data })
            this.getData()
          }
        })
      }).catch((res) => {
        this.$message({ type: 'info', message: '已取消删除' })
      })
    },

    // 获取数据和查询
    getData (page = 1) {
      this.$axiosPost(this.$api.banner.list, {
        page,
        pageSize: this.pageInfo.pageSize,
        type: 1,
        ...this.searchBar
      }).then(res => {
        if (res.code === '1000') {
          this.pageInfo.total = res.data.count
          this.tableData = res.data.configAdBannerList
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    /* eslint-disable */
    // 导出excel
    handleDownload () {
      let vm = this
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/vendor/Export2Excel')
        const tHeader = ['提现单号', '用户帐号', '真实姓名', '申请时间', '提现金额(元)', '交易手续费(元)', '到帐金额']
        const filterVal = ['withdrawalOrder', 'userId', 'nickName', 'dateTime', 'withdrawalAmount', 'serviceCharge', 'arriveCash']
        const list = vm.tableData
        const data = vm.formatJson(filterVal, list)
        export_json_to_excel(tHeader, data, '导出的列表excel')
      })
    },
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]))
    }
  }
}
</script>
