<template>
  <div>
    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableSetList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="name" label="名称"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="240px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="getSet(scope.row)">设置</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      tableSetList: [{
        id: 1,
        name: '（APP）专题推广奖品设置'
      },{
        id: 2,
        name: '（APP）专题分类'
      },{
        id: 3,
        name: '（APP）bannat设置'
      },{
        id: 4,
        name: '（APP）首页弹窗设置'
      }]
    }
  },
  methods: {
    // 设置
    getSet (row) {
      console.log(row)
      if (row.id === 1) {
        this.$router.push({
          path: '/Generalize/AppSet/LivelySet'
        })
      } else if (row.id === 2) {
        this.$router.push({
          path: '/Generalize/AppSet/CategorySet'
        })
      } else if (row.id === 3) {
        this.$router.push({
          path: '/Generalize/AppSet/BannarSet'
        })
      } else if (row.id === 4) {
        this.$router.push({
          path: '/Generalize/AppSet/PopupSet'
        })
      }
    }
  }
}
</script>
<style lang="less" scoped>

</style>

