<template>
  <div>
    <div class="filterBar">
      <el-input style="width: 3rem" placeholder="仅限4字" maxlength="4" type="text" v-model="add" clearable></el-input>
      <el-button type="primary">增加</el-button>
    </div>
    <el-row>
      <el-col :span="24">
        <div class="store-title">
          <span :class="{active: activeTitle === 1}" @click="storeTitle(1)">大扫除</span>
          <span :class="{active: activeTitle === 2}" @click="storeTitle(2)">电器</span>
          <span :class="{active: activeTitle === 3}" @click="storeTitle(3)">玩具</span>
          <span :class="{active: activeTitle === 4}" @click="storeTitle(4)" style="border: 0">数码产品</span>
        </div>
      </el-col>
    </el-row>
    <div class="filterBar">
      <el-input style="width: 3rem" placeholder="字数最多7个字" maxlength="7" type="text" v-model="title" clearable></el-input>
      <el-button type="primary">保存</el-button>
    </div>

    <el-form :model="CategoryValidateForm" ref="CategoryValidateForm">
      <el-form-item
      v-for="(domain, index) in CategoryValidateForm.domains"
      :key="domain.key"
      :prop="'domains.' + index + '.value'"
      >
      <el-row>
        <el-col :span="22">
          <div class="banner-warp">
            <img src="" />
            <div class="banner">
              <el-button style="float: right" type="primary">设为封面展示</el-button>
              <h4>专题内容设置</h4>
              <div class="filterBar">
                <!-- 图片标题 -->
                <span>图片标题:</span>
                <el-input style="width: 6rem" placeholder="标题文字20个字" maxlength="20" type="text" v-model="domain.BGTitle" clearable></el-input>
                <el-button type="primary">保存</el-button>
              </div>
              <div class="filterBar">
                <!-- 图片副标题 -->
                <span>图片副标题:</span>
                <el-input style="width: 6rem" placeholder="标题文字20个字" maxlength="20" type="text" v-model="domain.BGViceTitle" clearable></el-input>
                <el-button type="primary">保存</el-button>
              </div>
            </div>
          </div>
        </el-col>
        <el-col :span="2">
          <el-button type="danger" @click.prevent="removeDomain(domain)">删除</el-button>
        </el-col>
      </el-row>
      </el-form-item>
      <el-form-item>
        <el-button style="float: right" type="primary" @click="addDomain">添加</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
export default {
  data () {
    return {
      add: '',
      title: '',
      activeTitle: 1,
      CategoryValidateForm: {
        domains: [{
          value: '',
          BGTitle: '',
          BGViceTitle: ''
        }]
      }
    }
  },
  methods: {
    // 头部分类
    storeTitle (row) {
      this.activeTitle = row
    },
    // 添加
    addDomain () {
      this.CategoryValidateForm.domains.push({
        value: '',
        BGTitle: '',
        BGViceTitle: '',
        key: Date.now()
      })
    },
    // 删除
    removeDomain (row) {
      var index = this.CategoryValidateForm.domains.indexOf(row)
      if (index !== -1) {
        this.CategoryValidateForm.domains.splice(index, 1)
      }
    } 
  }
}
</script>
<style lang="less" scoped>
.store-title{
  display: inline-block;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  span{
    display: inline-block;
    float: left;
    border-right: 1px solid #dcdfe6;
    padding: 0 28px;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    cursor: pointer;
  }
}
.active{
  background: #409EFF;
  color: #fff;
}

// banner样式
.banner-warp{
  display: flex;
  img{
    flex: 0 0 350px;
    height: 200px;
    margin: 10px;
    border: 1px solid #ccc;
  }
  .banner{
    flex: 1;
    h4{
      color: red;
      margin: 46px 0 6px;
    }
  }
}
</style>