<template>
  <div>
    <h4>奖品设置</h4>
    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableLivelyList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" label="奖品图片">
          <template slot-scope="scope">
            <div>
              {{scope.row.row1}}
            </div>
          </template>
        </el-table-column>
        <el-table-column align="center" label="抽奖记录设置">
          <template slot-scope="scope">
            <div>
              {{scope.row.row2}}
            </div>
          </template>
        </el-table-column>
        <el-table-column align="center" label="成长值">
          <template slot-scope="scope">
            <div>
              {{scope.row.row3}}
            </div>
          </template>
        </el-table-column>
        <el-table-column align="center" label="积分值">
          <template slot-scope="scope">
            <div>
              {{scope.row.row4}}
            </div>
          </template>
        </el-table-column>
        <el-table-column align="center" label="奖品数量">
          <template slot-scope="scope">
            <div>
              {{scope.row.row5}}
            </div>
          </template>
        </el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="240px">
          <template slot-scope="scope">
            <el-button
                  size="mini"
                  :disabled="scope.$index===0"
                  @click="moveUp(scope.$index,scope.row)"><i class="el-icon-arrow-up"></i>
            </el-button>
            <el-button
                    size="mini"
                    :disabled="scope.$index===(tableLivelyList.length-1)"
                    @click="moveDown(scope.$index,scope.row)"><i class="el-icon-arrow-down"></i>
            </el-button>
            <el-button
                    size="mini"
                    type="primary"
                    @click="handleDelete(scope.row)">保存</el-button>
        </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      tableLivelyList: [{
        row1: '111',
        row2: '222',
        row3: '333',
        row4: '444',
        row5: '555'
      },{
        row1: '555',
        row2: '444',
        row3: '333',
        row4: '222',
        row5: '111'
      }]
    }
  },
  methods: {
    // 向上移动
    moveUp (index,row) {
      var self = this
      console.log('上移', index, row)
      console.log(self.tableLivelyList[index])
      if (index > 0) {
        let upDate = self.tableLivelyList[index - 1]
        self.tableLivelyList.splice(index -1, 1)
        console.log(self.tableLivelyList)
        self.tableLivelyList.splice(index, 0, upDate)
        console.log(self.tableLivelyList)
      } else {
        alert('已经是第一条了，不可上移')
      }
    },
    // 向下移动
    moveDown (index,row) {
      var self = this
      console.log('下移', index, row)
      if ((index + 1) === self.tableLivelyList.length) {
        alert('已经是最后一条了，不可下移')
      } else {
        console.log(index)
        let downDate = self.tableLivelyList[index + 1]
        self.tableLivelyList.splice(index + 1, 1)
        self.tableLivelyList.splice(index, 0, downDate)
      }
    }
  }
}
</script>
<style lang="less" scoped>

</style>
