<template>
  <div>
    <h4>标题设置</h4>
    <div class="filterBar">
      <!-- 有效时间 -->
      <span>有效时间:</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
    </div>
    <div class="filterBar">
      <!-- 链接跳转 -->
      <span>链接跳转:</span>
      <el-input style="width: 5.65rem" placeholder="" type="text" v-model="url" clearable></el-input>
    </div>
    <div class="filterBar">
      <!-- 图片上传 -->
      <span>图片上传:</span>
    </div>
    <div class="filterBar">
      <!-- 有效时间 -->
      <span>有效时间:</span>
      <el-select v-model="validTime" clearable placeholder="请选择">
        <el-option
          v-for="item in validTimeOption"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button>取消</el-button>
      <el-button type="primary">保存</el-button>
    </span>
  </div>
</template>
<script>
export default {
  data () {
    return {
      state: '',
      end: '',
      url: '',
      validTime: '',
      validTimeOption: [{
        value: '1',
        label: '每天一次'
      },{
        value: '2',
        label: '只有一次'
      }]
    }
  }
}
</script>
<style lang="less" scoped>

</style>