<template>
  <div>
    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableBusinessList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="公司名称"></el-table-column>
        <el-table-column align="center" prop="row3" label="信用代码"></el-table-column>
        <el-table-column align="center" prop="row4" label="姓名"></el-table-column>
        <el-table-column align="center" prop="row5" label="提交日期"></el-table-column>
        <el-table-column align="center" prop="row5" label="手机号码"></el-table-column>
        <el-table-column align="center" prop="row5" label="审核状态"></el-table-column>
        <el-table-column align="center" prop="row5" label="邀请人"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="120px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="SeeDetails(scope.row)">审核</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>

        <!-- 审核弹出层 -->
    <el-dialog title="采购商审核信息" :visible.sync="BusinessDialog" width="80%" center>
      <div class="columns">
        <label>姓名</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>注册账号</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>注册时间</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>联系电话</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>营业执照</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>公司名称</label>
        <span>342543</span>
      </div>

      <div class="columns">
        <label>信用代码</label>
        <span>342543</span>
      </div>
      <div class="columns">
        <label>邀请人</label>
        <span>342543</span>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="BusinessDialog = false">取 消</el-button>
        <el-button type="primary">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      tableBusinessList: [],
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      BusinessDialog: false
    }
  },
  methods: {
    // 分页
    getData () {
      
    }
  }
}
</script>
<style lang="less" scoped>

</style>