<template>
  <div>
    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableBusinessList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="身份证号码"></el-table-column>
        <el-table-column align="center" prop="row3" label="姓名"></el-table-column>
        <el-table-column align="center" prop="row4" label="申请日期"></el-table-column>
        <el-table-column align="center" prop="row5" label="手机号码"></el-table-column>
        <el-table-column align="center" prop="row5" label="审核状态"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="120px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="SeeDetails(scope.row)">审核</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      tableBusinessList: [],
      // 分页
      pageInfo: {page: 1, pageSize: 10}
    }
  },
  methods: {
    // 分页
    getData () {
      
    }
  }
}
</script>
<style lang="less" scoped>

</style>