<template>
  <div>
    <div class="filterBar">
      <!-- 申请人/公司名称 -->
      <span>申请人/公司名称</span>
      <el-input style="width: 2.6rem" placeholder="" type="number" v-model="name" clearable></el-input>
      <!-- 提交日期 -->
      <span>提交日期</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <!-- 采购商审核状态 -->
      <span>采购商审核状态</span>
      <el-select v-model="condition" clearable placeholder="请选择">
        <el-option
          v-for="item in conditionOption"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
      <!-- <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button> -->
    </div>

    <el-radio-group v-model="component" style="margin-top: 20px">
      <el-radio-button label="Businessregistration">企业注册</el-radio-button>
      <el-radio-button label="Certfication">实名认证</el-radio-button>
    </el-radio-group>

    <!-- 企业认证 -->
    <Businessregistration v-show="component === 'Businessregistration'"></Businessregistration>

    <!-- 实名认证 -->
    <Certfication v-show="component === 'Certfication'"></Certfication>
  </div>
</template>
<script>
import Businessregistration from './BusinessRegistration'
import Certfication from './Certification'
export default {
  data () {
    return {
      component: 'Businessregistration',
      name: '',
      state: '',
      end: '',
      condition: '',
      conditionOption: [{
        value: '1',
        label: '待审核'
      },{
        value: '2',
        label: '审核通过'
      }]
    }
  },
  components: {
    Businessregistration,
    Certfication
  }
}
</script>
<style lang="less" scoped>

</style>
