<template>
  <div>
    <div class="filterBar">
  		<span>操作人员:</span>
      <el-select clearable style="width:2rem" v-model="searchBar.status" placeholder="启用状态">
        <el-option v-for="(item, index) in [ '管理员', '客服']"  :key="index" :label="item" :value="index"></el-option>
      </el-select>
      <span>申请时间:</span>
      <el-date-picker
        v-model="searchBar.dateTime"
        type="datetimerange"
        range-separator="至"
        value-format="yyyy-MM-dd HH:mm:ss"
        start-placeholder="开始日期"
        end-placeholder="结束日期">
      </el-date-picker>
      <el-button @click="load()" type="primary">查询</el-button>
    </div>
    <el-table :data='tableData' stripe style='width:100%;'>
      <el-table-column align="center" prop="menuName" label="操作者">操作者</el-table-column>
      <el-table-column align="center" prop="createTime" label="操作日期" >操作日期</el-table-column>
      <el-table-column align="center" prop="createUserName" label="IP地址">IP地址</el-table-column>
      <el-table-column align="center" prop="ip" label="操作记录">操作记录</el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination background layout="prev, pager, next, jumper, total" @current-change="load" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
  </div>
</template>
<script>
export default {
  data () {
    return {
      checked: '',
      keyWord: '',
      tableData: [],
      searchBar: {},
      pageInfo: {
        page: 1,
        pageSize: 10,
        total: 21
      }
    }
  },
  created: function () {
    //this.load()
  },
  methods: {
    load (page) {
      if (page) this.pageInfo.page = page
      this.$axiosPost(this.$api.agreement.getLogListByPage, {...this.pageInfo, keyWord: this.keyWord}).then(res => {
        if (res.code === '1000') {
          this.tableData = res.data.list
          this.pageInfo.total = res.data.total
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    }
  }
}
</script>
<style scoped lang='less'>
.filterBar .el-form-item {
  margin: 0;
  margin-bottom: 20px;
}
</style>
