<template>
    <div>
        <h3 style="text-align: center; color: #bbb;font-size: 30px;line-height: 50px;margin-top: 100px;">您没有权限, 请联系超级管理员</h3>
    </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>
