<template>
    <div>
        <section class="data_section">
            <el-row :gutter="20" style="margin-bottom: 50px;">
                <el-col :span="4">
                  <div class="data_list one">
                    <p class="data_num">{{ sevenOrderCount }}</p>
                    <p class="title">七天下单笔数</p>
                  </div>
                </el-col>

                <el-col :span="4">
                  <div class="data_list two">
                    <p class="data_num">{{ obligation }}</p>
                    <p class="title">待付款</p>
                  </div>
                </el-col>

                <el-col :span="4">
                  <div class="data_list three">
                    <p class="data_num">{{ toSendGoods }}</p>
                    <p class="title">待发货</p>
                  </div>
                </el-col>

                <el-col :span="4">
                  <div class="data_list four">
                    <p class="data_num">{{ rebate }}</p>
                    <p class="title">待处理退款</p>
                  </div>
                </el-col>
            </el-row>

            <el-row :gutter="20">
                <el-col :span="4">
                    <div class="data_list orderCount">
                      <p class="data_num">{{ yesterdayOrderCount }}</p>
                      <p class="title">昨天下单笔数</p>
                    </div>
                    <div class="data_list payOrder">
                      <p class="data_num">{{ yesterdayPayOrder }}</p>
                      <p class="title">昨天付款订单</p>
                    </div>
                </el-col>

                <!-- 引入趋线图组件 -->
                <el-col :span="20">
                    <div class="data_list">
                        <tendency :sevenDate='sevenDate' :sevenDay='sevenDay'></tendency>
                    </div>
                </el-col>

            </el-row>
        </section>
    </div>
</template>

<script>
import tendency from '../components/tendency'
export default {
  data () {
    return {
      sevenOrderCount: 123,
      obligation: 123,
      toSendGoods: 123,
      rebate: 123,
      yesterdayOrderCount: 123,
      yesterdayPayOrder: 123,
      sevenDay: [],
      sevenDate: [[], []]
    }
  },
  components: {
    tendency
  },
  // mounted(){
  //     for (let i = 6; i > -1; i--) {
  //         const date = dtime(new Date().getTime() - 86400000*i).format('YYYY-MM-DD')
  //         this.sevenDay.push(date)
  //     }
  // },
  computed: {

  }
}
</script>

<style lang="less" scoped>
  .el-row{
    display: flex;
    .el-col-4{
      width: 20%;
      height: 1rem;
      margin: .2rem;
      .data_list{
        width: 2.5rem;
        height: 1rem;
        margin: 0 auto;
        text-align: center;
        position: relative;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .one{
        background-color: #5fc2e2;
      }
      .two{
        background-color: #5bb85d;
      }
      .three{
        background-color: #efad4d;
      }
      .four{
        background-color: #f98480;
      }
      .data_num{
        padding-top: 20px;
        color: #fff;
      }
      .title{
        position: absolute;
        bottom: -5px;
        width: 100%;
        background-color: #fff;
        border: .5px solid #e6e6e6;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      .orderCount{
        margin-bottom: .2rem;
        background-color: #689dc7;
      }
      .payOrder{
        background-color: #cc3e39;
      }
    }
  }

</style>
