<template>
  <el-container>

    <el-header>
      <p>智慧中医管理后台 <i class="iv-shouqi iconfont"></i></p>
      <div class="set">
        <el-button type="text" v-if="!username" @click="$router.push('/')">登录</el-button>
        <el-dropdown @command="set" v-if="!!username">
          <span class="el-dropdown-link color">
            {{username}}<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="signOut">退出</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </el-header>

    <el-container>

      <!-- 左侧栏 -->
      <el-aside class="menuBar" width="240px">

        <!-- 菜单 -->
        <el-menu :unique-opened="true" :router="true">

          <!-- 一级菜单遍历 -->
          <el-submenu v-for="(item, index) in menus" :key="index" :index="'submenu'+index" v-if="item.childNode && item.childNode.length">

            <!-- 一级菜单名称显示 -->
            <template slot="title"><i class="iconfont" :class="[item.icon]"></i>{{item.name}}</template>

            <!-- 二级菜单遍历 -->
            <el-menu-item  v-for="(item2, index) in item.childNode" :key="index" :index="item2.path" @click="navHistory(item2)">

              {{item2.name}}

            </el-menu-item>

          </el-submenu>

        </el-menu>

      </el-aside>

      <!-- 主内容容器 -->
      <el-main>

        <!-- 导航状态 -->
        <el-breadcrumb class="navPosition" separator-class="el-icon-arrow-right">

          <!-- 左icon -->
          <span class="leftIcon">&nbsp;</span>
          <div class="nav-item" :class="{navActive: item.active}" v-for="(item,index) in navMenu" :key="index">
            <span class="path" @click="navHistory(item, 'change', index)">{{item.name}}</span>
            <i v-show="index !== 0" class="closex el-icon-close" @click="navHistory(item, 'remove', index)"></i>
          </div>
          <div class="right-nav">
            <el-dropdown @command="removeNavHistory">
              <span class="el-dropdown-link color">
                标签选项<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="removeOther">关闭其他</el-dropdown-item>
                <el-dropdown-item command="removeAll">关闭全部</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
          <!-- 一级菜单 -->
          <!-- <el-breadcrumb-item :to="{ path: '/APP/IndexManage' }">首页</el-breadcrumb-item> -->

          <!-- 二级菜单 -->
          <!-- <el-breadcrumb-item v-for="(item, index) in $route.meta" :key="index" :to="{path: activeLevelTwoMenu}">{{ item }}</el-breadcrumb-item> -->

        </el-breadcrumb>

        <!-- 二级路由 -->
        <router-view></router-view>

      </el-main>

    </el-container>

  </el-container>
</template>
<script>
// import menu from '@/api/menu'

import axios from 'axios'
export default {
  data () {
    return {
      username: '',
      navMenu: [],
      activeLevelTwoMenu: '',
      menus: [{
			"id": 11,
			"name": "首页",
			"level": 0,
			"childNode": [{
				"id": 25,
				"name": "首页",
				"parentId": 11,
				"level": 1,
				"functions": [{
					"id": 16,
					"menuId": 25,
					"code": "16",
					"name": "查看"
				}],
				"path": "/Home/Index"
			},{
				"id": 26,
				"name": "医生管理",
				"parentId": 11,
				"level": 1,
				"functions": [{
					"id": 16,
					"menuId": 27,
					"code": "16",
					"name": "查看"
				}],
				"path": "/Home/Feedback3"
			},{
				"id": 28,
				"name": "患者管理",
				"parentId": 11,
				"level": 1,
				"functions": [{
					"id": 16,
					"menuId": 29,
					"code": "16",
					"name": "查看"
				}],
				"path": "/Home/Feedback2"
			},{
				"id": 20,
				"name": "病案管理",
				"parentId": 11,
				"level": 1,
				"functions": [{
					"id": 16,
					"menuId": 21,
					"code": "16",
					"name": "查看"
				}],
				"path": "/Home/Feedback1"
			},{
				"id": 21,
				"name": "表象管理",
				"parentId": 11,
				"level": 1,
				"functions": [{
					"id": 16,
					"menuId": 23,
					"code": "16",
					"name": "查看"
				}],
				"path": "/Home/Feedback"
			},{
        "id": 21,
        "name": "症候管理",
        "parentId": 11,
        "level": 1,
        "functions": [{
          "id": 16,
          "menuId": 23,
          "code": "16",
          "name": "查看"
        }],
        "path": "/Home/Feedback4"
      },{
        "id": 21,
        "name": "疾病管理",
        "parentId": 11,
        "level": 1,
        "functions": [{
          "id": 16,
          "menuId": 23,
          "code": "16",
          "name": "查看"
        }],
        "path": "/Home/Feedback5"
      },{
        "id": 21,
        "name": "症候疾病关联表象",
        "parentId": 11,
        "level": 1,
        "functions": [{
          "id": 16,
          "menuId": 23,
          "code": "16",
          "name": "查看"
        }],
        "path": "/Home/Feedback6"
      },{
        "id": 21,
        "name": "配方管理",
        "parentId": 11,
        "level": 1,
        "functions": [{
          "id": 16,
          "menuId": 23,
          "code": "16",
          "name": "查看"
        }],
        "path": "/Home/Feedback7"
      },{
        "id": 21,
        "name": "方剂管理",
        "parentId": 11,
        "level": 1,
        "functions": [{
          "id": 16,
          "menuId": 23,
          "code": "16",
          "name": "查看"
        }],
        "path": "/Home/Feedback8"
      },{
        "id": 21,
        "name": "医嘱管理",
        "parentId": 11,
        "level": 1,
        "functions": [{
          "id": 16,
          "menuId": 23,
          "code": "16",
          "name": "查看"
        }],
        "path": "/Home/Feedback9"
      },{
        "id": 21,
        "name": "治疗紧急程度设置",
        "parentId": 11,
        "level": 1,
        "functions": [{
          "id": 16,
          "menuId": 23,
          "code": "16",
          "name": "查看"
        }],
        "path": "/Home/Feedback10"
      },{
        "id": 21,
        "name": "规则设置",
        "parentId": 11,
        "level": 1,
        "functions": [{
          "id": 16,
          "menuId": 23,
          "code": "16",
          "name": "查看"
        }],
        "path": "/Home/Feedback11"
      },{
        "id": 21,
        "name": "系统设置",
        "parentId": 11,
        "level": 1,
        "functions": [{
          "id": 16,
          "menuId": 23,
          "code": "16",
          "name": "查看"
        }],
        "path": "/Home/Feedback12"
      }],
			"path": "",
			"icon": "icon-pingjia"
		}],
      menuWidth: '240',
      menuShow: true
    }
  },
  created () {
    // this.menus = menu.data.menus
    //this.getMenu()
    this.username = window.sessionStorage.userName
  },
  methods: {
    navHistory (route, action, aIndex) {
      let index = -1
      let navMenu = this.navMenu
      if (action === 'remove') {
        const delItem = navMenu.splice(aIndex, 1)[0]
        const item = navMenu[aIndex] ? navMenu[aIndex] : navMenu[aIndex - 1]
        if (item) {
          delItem.path === this.$route.path && this.$router.replace(item.path)
        } else {
          this.$router.go(-1)
        }
      } else if (action === 'change') {
        navMenu.map((item) => {
          item.active = false
        })
        navMenu.splice(aIndex, 1, {name: route.name, path: route.path, active: true})
        this.$router.replace(route.path)
      } else {
        navMenu.map((item, i) => {
          item.active = false
          if (item.path === route.path) index = i
        })
        if (index > -1) {
          navMenu.splice(index, 1, {name: route.name, path: route.path, active: true})
          this.$router.replace(route.path)
        } else {
          navMenu.length > 10 && navMenu.splice(0, 1)
          navMenu.push({name: route.name, path: route.path, active: true})
        }
      }
    },
    getMenu () {
      axios.get('./static/menu.js').then((res) => {
      	
      //this.$axiosPost(this.$api.getMenu).then((res) => {
        //if (res.code === this.http.OK) {
          res.data.data.menus && res.data.data.menus.length > 0 ? this.menus = res.data.data.menus : this.$router.replace('/blank')
          let menus = res.data.data.menus
          console.log(menus);
          let goPath = '/index'
          let isNext = true
          menus.forEach((item, index) => {
            if (item.childNode && item.childNode.length > 0 && item.childNode[0].path) {
              if (isNext) {
                goPath = item.childNode[0].path
                console.log(goPath)
                isNext = false
              }
            }
          })
          console.log(goPath)
          this.$router.replace(goPath)
        //}
      })
    },
    set (c) {
      if (c === 'signOut') {
        window.sessionStorage.token = ''
        window.sessionStorage.clear()
        this.$router.push('/')
      }
    },
    removeNavHistory (c) {
      if (c === 'removeOther') {
        let curItem = this.navMenu.filter(item => {
          return item.active
        })
        if (curItem.name !== '首页') this.navMenu = curItem
      } else {
        this.navMenu = []
      }
    }
  }
}
</script>
<style lang=less>
@bgColor: #233a5c;
@menuColor: #cbd5ff;
@menuItemBgColor: #20324d;

.el-container {
  width: 100vw;
  height: 100vh;
  header {
    background: @bgColor;
    color: @menuColor;
    padding: 0;
    p {
      line-height: 60px;
      font-size: 22px;
      width: 240px;
      background: @menuItemBgColor;
      text-align: center;
    }
    .set{
      width:100px;height:30px;
      position: absolute;
      right:40px;top: 20px;
      .color{
        color: @menuColor
      }
    }
  }
  aside {
    background: @bgColor;
    color: @menuColor;
  }
  .menuBar {
    transition: all .3s;
    .el-menu {
      border: 0;
    }
  }
  aside {
    background: @bgColor;
    position: relative;
    // 菜单
    .el-menu {
      background: @bgColor;
      // 一级菜单
      .el-submenu__title {
        font-size: 16px;
        color: @menuColor;
        // icon 图标颜色
        i {
          color: @menuColor;
          margin-right: 16px;
        }
        .iconfont {
          position: relative;
          bottom: 2px;
        }
        &:hover {
          background: lighten(@bgColor, 5%);
          color: darken(@menuColor, 4%);
        }
        &.is-active {
          background: lighten(@bgColor, 16%);
          color: darken(@menuColor, 8%);
        }
      }
      // 二级菜单
      .el-menu--inline {
        background: @menuItemBgColor;
        .el-menu-item {
          font-size: 16px;
          color: @menuColor;
          padding: 0;
          a {
            color: @menuColor;
            display: block;
            width: 100%;
            padding-left: 40px;
          }
          &:hover {
            background: lighten(@bgColor, 5%);
            color: darken(@menuColor, 4%);
          }
          &.is-active {
            background: lighten(@bgColor, 16%);
            color: darken(@menuColor, 8%);
          }
        }
      }
    }
  }
  main {
    background: #fbfbfb;
    padding-top: 0;
    position: relative;
    .navPosition {
      font-size: .16rem;
      color: #3d404d;
      border-bottom: 1px solid #dddee1;
      background: white;
      padding: .2rem 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .leftIcon {
          width: .03rem;
          height: .2rem;
          float: left;
          background: #4c64ff;
          border-radius: .04rem;
          margin-right: .12rem;
      }
      .right-nav {
        position: absolute;
        right: 10px;
        cursor: pointer;
        font-size: 14px;
        background: #409EFF;
        border-radius: 4px;
        span {
          color: white;
          padding: 7px;
          display: inline-block;
          font-size: 12px;
        }
        // width: /
      }
    }
  }
  .navPosition {
    .nav-item {
      position: relative;
      display: inline-block;
      background: white;
      border: 1px solid #ccc;
      margin: 0 4px;
      padding: 6px 8px;
      border-radius: 3px;
      transition: all .3s ease;
      font-size: 14px;
      cursor: pointer;
      .path {
        color: #666;
        transition: all .3s ease;
      }
      .closex {
        cursor: pointer;
        color: #666;
        transition: all .3s ease;
      }
    }
    .navActive {
      border: 1px solid #409EFF;
      background: #409EFF;
      transition: all .3s ease;
      .path {
        color: white;
        transition: all .3s ease;
      }
      .closex {
        color: white;
        transition: all .3s ease;
      }
    }
  }
}
</style>
