<template>
  <div id="login" class="login"
    v-loading="loading"
    element-loading-text="正在登陆..."
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.5)">
    <div class="login-wrapper">
      <div class="logo-txt">智慧中医后台管理</div>

      <!-- 表单 -->
      <el-form class="login-form" ref="loginForm" :model="loginForm" :rules="loginFormRules">

        <!-- 用户名 -->
        <el-form-item prop="username">
          <el-input type="text" v-model="loginForm.username" placeholder="请输入用户名">
            <i slot="prefix" class="el-input__icon icon_user"></i>
          </el-input>
        </el-form-item>

        <!-- 密码 -->
        <el-form-item prop="password">
          <el-input type="password" v-model="loginForm.password" placeholder="请输入密码">
            <i slot="prefix" class="el-input__icon icon_pwd"></i>
          </el-input>
        </el-form-item>

        <!-- 验证码 -->
         <!--<el-form-item prop="validCode">

          <el-input placeholder="请输入验证码" v-model="loginForm.validCode" auto-complete="off" class="el-input-valid-code" color= "#00baff" >
            <i slot="prefix" class="el-input__icon icon_verify"></i>
          </el-input>

          <el-button type="primary" size="small" class="el-button-get-code" @click.stop.prevent="getValidCode('loginForm', $event)">获取验证码</el-button>

        </el-form-item> -->

        <!-- 登陆按钮 -->
        <el-form-item>
          <el-button type="primary" @click="signIn('loginForm')" class="submit-btn" size="medium">登录</el-button>
        </el-form-item>

      </el-form>
    </div>
  </div>
</template>
<script>
import md5 from 'md5'
export default {
  data () {
    return {
      loading: false,
      validCodeFlag: true,
      loginForm: { username: '', password: '' },
      loginFormRules: {
        username: [
          { required: true, message: '请输入用户名', trigger: 'blur' }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'blur' }
        ]
      }
    }
  },
  created () {
    let that = this
    // 按 Enter 登入
    document.onkeyup = function (event) {
      let e = event || window.event
      let keyCode = e.keyCode || e.which // 按键的keyCode
      if (keyCode === 13) that.signIn('loginForm')
    }
  },
  methods: {
    signIn (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
//        this.loading = true
//        this.$axiosPost(this.$api.login, {
//          userName: this.loginForm.username,
//          pwd: md5(this.loginForm.password)
//        }).then(res => {
//          if (res.code === '1000') {
//            let token = res.data.token
              window.sessionStorage.token = "token"
              window.sessionStorage.userName = "用户名"//"this.loginForm.username"
              window.sessionStorage.branchShopId = "res.data.branchShopId"
              this.$router.replace('/Home/Index')
//          } else {
//            this.loading = false
//            this.$notify.error({ message: res.msg })
//            // console.log(res)
//          }
//        })
        }
      })
    }
  }
}
</script>

<style lang=less>
.logo-txt {
    font-size: .46rem;
    color: #f5f7fa;
    position: absolute;
    top: 100px;
    z-index: 8888;
    left: 50%;
    transform: translateX(-50%);
}
  .login {
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color:#00baff
    }
    input:-moz-placeholder, textarea:-moz-placeholder {
      color:#00baff
    }
    input::-moz-placeholder, textarea::-moz-placeholder {
      color:#00baff
    }
    input:-ms-input-placeholder, textarea:-ms-input-placeholder {
      color:#00baff
    }
    width: 100%;
    min-height: 100vh;
    /*background: url("../images/login_bg.jpg") no-repeat;*/
   background-color: #003366;
    background-size: 100% 100%;
    .login-wrapper {
      width: 800px;
      text-align: center;
      margin: 0 auto;
      /*height: 794px;*/
      padding: 200px 150px;
      /*background: url(../images/login_form_bg.png) no-repeat center center;*/
     
      h1 {
        font-size: 36px;
        color: #fff;
        margin-bottom: 75px;
        position: relative;
        .h1_bom_bor{
          position: absolute;
          width: 107%;
          left: -15px;
          bottom: -55px;
          background: #fff;
          height: 50px;
          background: url("../images/h1_bom_bor.png") no-repeat 0 0;
          background-size: 100% 100%;
        }
      }
      .submit-btn{
        width: 100%;
        height: 54px;
        font-size: 24px;
      }
    }
    .el-form-item {
      margin-bottom: 25px;
      .el-form-item__error {
        font-size: 14px;
        top: 105%;
        left: 5px;
      }
      .el-input__icon{
        width: 40px;
        display: inline-block;
      }
      .icon_user{
        background: url("../images/icon_user.png") no-repeat;
        background-position: 6px 15px;
      }
      .icon_pwd{
        background: url("../images/icon_pwd.png") no-repeat;
        background-position: 6px 15px;
      }
      .icon_verify{
        background: url("../images/icon_verify.png") no-repeat;
        background-position: 6px 15px;
      }
      input:-webkit-autofill{
        background-color: #111774;
        color: #00baff;
      }
      .el-input__inner{
        height: 54px;
        background-color: rgba(17, 23, 116, 0.8);
        color: #00baff;
        border: 0;
        padding-left: 50px;
      }
      .el-input-valid-code {
        input {
          padding-right: 90px;
        }
      }
      .el-button {
        border-radius: 4px;
      }
      .el-button-get-code {
        position: absolute;
        top: 0;
        right: 0;
        width: 160px;
        height: 54px;
        font-size: 18px;
      }
    }
  }

</style>
