<template>
  <div>
    <div class="filterBar">
      <el-radio-group v-model="component">
        <el-radio-button label="PrcourerList">采购商</el-radio-button>
        <el-radio-button label="SupplierList">供应商</el-radio-button>
      </el-radio-group>
    </div>

    <!-- 采购商 -->
    <PrcourerList v-show="component === 'PrcourerList'"></PrcourerList>
    <!-- 供应商 -->
    <SupplierList v-show="component === 'SupplierList'"></SupplierList>
  </div>
</template>
<script>
import PrcourerList from './PrcourerList'
import SupplierList from './SupplierList'
export default {
  components: {
    PrcourerList,
    SupplierList
  },
  data () {
    return {
      component: 'PrcourerList'
    }
  }
}
</script>
<style lang="less" scoped>

</style>

