<template>
  <div>
    <div class="title">采购商统计</div>
    <el-row>
      <el-col :span="6">
        <div class="store-top">
          <p>18</p>
          <span>今日新增采购商(已注册的采购)</span>
        </div>
      </el-col>
      <el-col :span="6">
        <div class="store-top">
          <p>18</p>
          <span>本周新增</span>
        </div>
      </el-col>
      <el-col :span="6">
        <div class="store-top">
          <p>18</p>
          <span>本月新增</span>
        </div>
      </el-col>
      <el-col :span="6">
        <div class="store-top" style="border: 0">
          <p>18</p>
          <span>采购商总数量</span>
        </div>
      </el-col>
    </el-row>

    <!-- 搜索 -->
    <div class="filterBar">
      <!-- 采购商 -->
      <span>采购商</span>
      <el-input style="width: 2.6rem" placeholder="" v-model="prcourer" clearable></el-input>
      <!-- 注册日期 -->
      <span>注册日期</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
    </div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tablePrcourerList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="账号/姓名"></el-table-column>
        <el-table-column align="center" prop="row3" label="发布采购总数"></el-table-column>
        <el-table-column align="center" prop="row4" label="购物订单数"></el-table-column>
        <el-table-column align="center" prop="row6" label="联系电话"></el-table-column>
        <el-table-column align="center" prop="row6" label="采纳报价"></el-table-column>
        <el-table-column align="center" prop="row6" label="订单成交总金额(订单总金额和报价总金额)"></el-table-column>
        <el-table-column align="center" prop="row6" label="注册时间"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="120px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="seeAbout(scope.row)">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>

    <!-- 详情弹出层 -->
    <el-dialog title="采购商详情" :visible.sync="prcourerVisible" width="80%" center>
      <div class="columns">
        <label>姓名</label>
        <span>未实名注册</span>
      </div>
      <div class="columns">
        <label>注册时间</label>
        <span>未实名注册</span>
      </div>
      <div class="columns">
        <label>联系电话</label>
        <span>未实名注册</span>
      </div>
      <div class="columns">
        <label>默认收货地址</label>
        <span>未实名注册</span>
      </div>
      <div class="columns">
        <label>发布采购报价数量</label>
        <span>未实名注册</span>
      </div>
      <div class="columns">
        <label>已采纳报价数量</label>
        <span>未实名注册</span>
      </div>
      <div class="columns">
        <label>订单数量</label>
        <span>未实名注册</span>
      </div>
      <div class="columns">
        <label>订单总金额</label>
        <span>未实名注册</span>
      </div>
      <div class="columns">
        <label>申请售后或者退款退货数量</label>
        <span>未实名注册</span>
      </div>
      <div class="columns">
        <label>退款金额</label>
        <span>未实名注册</span>
      </div>
      <div class="columns">
        <label>收藏店铺数量</label>
        <span>未实名注册</span>
      </div>
      <div class="columns">
        <label>收藏产品数量</label>
        <span>未实名注册</span>
      </div>
      <div class="columns">
        <label>是否拥有"芗林银联卡"</label>
        <span>未实名注册</span>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      prcourer: '',
      state: '',
      end: '',
      // 数据列表
      tablePrcourerList: [],
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      prcourerVisible: false
    }
  },
  methods: {
    // 分页
    getData () {

    },
    // 查看详情
    seeAbout (row) {
      this.prcourerVisible = true
    }
  }
}
</script>
<style lang="less" scoped>
.title{
  margin: 16px 0;
  color: #bbb;
}
</style>