<template>
  <div class="addressEdit">
    <!-- 联系人： -->
    <el-form ref="form" :model="newAddr" label-width="120px">
      <el-form-item label="联系人：">
        <el-input placeholder="请填写联系人名称" v-model="newAddr.name" style="width: 50%"></el-input>
      </el-form-item>

      <!-- 联系方式： -->
      <el-form-item label="联系方式：">

        <!-- 手机号码 -->
        <el-input placeholder="请填写手机号码" v-model="newAddr.phone" style="width: 50%"></el-input>
      </el-form-item>

      <!-- 联系地址： -->
      <el-form-item label="联系地址：" >
        <el-cascader
          :options="cityData"
          v-model="location"
          change-on-select
        ></el-cascader>
      </el-form-item>
      <!-- 详细地址： -->
      <el-form-item label="详细地址：">
        <el-input placeholder="详细地址" v-model="newAddr.detailAddress" style="width: 86%"></el-input>
      </el-form-item>

    </el-form>

    <div style="text-align: center">
      <el-button type=""  @click="$emit('hide')">取消</el-button>
      <el-button type="primary" @click="addUserAddr">确定</el-button>
    </div>

  </div>
</template>
<script>
import { pcaa } from 'area-data'
export default {
  props: {
    userId: {
      type: Number
    },
    address: {
      type: String
    }
  },
  data () {
    return {
      newAddr: {},
      cityData: [],
      location: []
    }
  },
  created: function () {
    this.analysis()
    if (this.address) {
      this.ad = this.address.split(',')
      this.newAddr.name = this.ad[0]
      this.newAddr.phone = this.ad[1]
      this.location = this.ad[2].split(' ')
      this.newAddr.detailAddress = this.location[3]
    }
  },
  methods: {
    // 解析地址option
    analysis () {
      for (let key in pcaa[86]) {
        let children1 = []
        let v1 = pcaa[key]
        for (let i in v1) {
          let children2 = []
          let v2 = pcaa[i]
          for (let j in v2) {
            children2.push({
              label: v2[j],
              value: v2[j]
            })
          }
          children1.push({
            label: v1[i],
            value: v1[i],
            children: children2
          })
        }
        this.cityData.push({
          label: pcaa[86][key],
          value: pcaa[86][key],
          children: children1
        })
      }
    },
    // 获取用户地址列表
    addUserAddr () {
      [this.newAddr.province, this.newAddr.city, this.newAddr.area] = this.location
      this.$axiosPost(this.$api.appAddr.addAddr, {...this.newAddr, cterminalUserId: this.userId}).then(res => {
        if (res.code === this.http.OK) {
          this.$notify.success({ message: '修改成功' })
          this.$emit('hide')
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    addrSelectorChange (selector) {
      this.newAddr.province = selector[0].name
      this.newAddr.city = selector[1].name
      this.newAddr.area = selector[2].name
    }
  }
}
</script>
<style lang=less>
  .city {
    select {
      border: 1px solid #e2dfdf;
      padding: 9px 10px;
      border-radius: 5px;
      font-size: 14px;
      outline: 0;
      color: #606266;
      option {
        color: #606266;
      }
    }
  }
</style>
