<template>
  <div class="agreeRefund" style="width: 90%; margin: 0 auto">
    <el-row>
      该笔订单通过 “微信安全支付” 付款， 需您同意退款申请，买家才能退货给您； 买家退货后您需再次确认收货后，退款将自动原路退回至买家付款账户；
    </el-row>
    <el-row>
      <label class="label-head">处理方式：</label>退货
    </el-row>
    <el-row>
      <label class="label-head">退款金额：</label>￥0.01
    </el-row>
    <el-row>
      <label class="label-head">退货地址：</label>广东省深圳市宝安区，梁生，18928929725
    </el-row>
    <el-row>
      <el-button plain size="mini" type="primary" @click="useNewAddr = !useNewAddr">使用新地址</el-button>
    </el-row>
    <el-row v-show="useNewAddr">
      <!-- 联系人： -->
      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="联系人：">
          <el-input placeholder="请填写联系人名称" v-model="form.name" style="width: 50%"></el-input>
        </el-form-item>

        <!-- 联系方式： -->
        <el-form-item label="联系方式：">

          <!-- 国际区号 -->
          <el-input placeholder="国际区号" v-model="form.name" style="width: 13%"></el-input>

          <!-- 手机号码 -->
          <el-input placeholder="请填写手机号码" v-model="form.name" style="width: 50%"></el-input>
        </el-form-item>

        <!-- 座机： -->
        <el-form-item label="座机：">
          <el-input placeholder="区号" v-model="form.name" style="width: 13%"></el-input>
          <el-input placeholder="请输入号码" v-model="form.name" style="width: 30%"></el-input>
          <el-input placeholder="分区号（选填）" v-model="form.name" style="width: 30%"></el-input>
        </el-form-item>

        <!-- 联系地址： -->
        <el-form-item label="联系地址：">
          <!-- 国名 -->
          <el-select v-model="form.type" clearable placeholder="国家" style="width:13%">
            <el-option v-for="(item, index) in ['', 'ios', 'andriod']" :key="index" :label="item" :value="item"></el-option>
          </el-select>

          <!-- 省 -->
          <el-select v-model="form.type" clearable placeholder="省" style="width:24%">
            <el-option v-for="(item, index) in ['', 'ios', 'andriod']" :key="index" :label="item" :value="item"></el-option>
          </el-select>

          <!-- 市 -->
          <el-select v-model="form.type" clearable placeholder="市" style="width:24%">
            <el-option v-for="(item, index) in ['', 'ios', 'andriod']" :key="index" :label="item" :value="item"></el-option>
          </el-select>

          <!-- 区/县 -->
          <el-select v-model="form.type" clearable placeholder="区/县" style="width:24%">
            <el-option v-for="(item, index) in ['', 'ios', 'andriod']" :key="index" :label="item" :value="item"></el-option>
          </el-select>

        </el-form-item>

        <!-- 详细地址： -->
        <el-form-item label="详细地址：">
          <el-input placeholder="详细地址" v-model="form.name" style="width: 86%"></el-input>
        </el-form-item>

      </el-form>
    </el-row>

    <div slot="footer" style="text-align: center">
      <el-button type=""  @click="$emit('hide')">取消</el-button>
      <el-button type="primary" @click="agreeRefund">确定</el-button>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      useNewAddr: false,
      form: {}
    }
  },
  methods: {
    // 同意退款并发送退货地址
    agreeRefund () {
      let orderId = JSON.parse(sessionStorage.orderDetail).id
      this.$axiosPost(this.$api.appOrder.refundHandle, {id: orderId, status: 1002, type: 'UPDATE'}).then(res => {
        if (res.code === this.http.OK) {
          this.$notify.success({ message: '已同意退款' })
          this.$emit('hide')
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    }
  }
}
</script>
<style lang=less>
.agreeRefund {
  .el-row {
    margin: 14px 0;
  }
}
</style>
