<template>
  <div class="orderEdit">
    <!-- 订单原价 -->
    <div class="originPrice">订单原价（含运费）：100.00元</div>
    <el-table :data="tableData"  ref="multipleTable" stripe border style="width: 100%">

      <!-- 商品 -->
      <el-table-column align="center" width="340" prop="name" label="商品">
        <template slot-scope="scope">
          <div class="produceWrap">
            <img @click="$imgView(form.imgUrl)" :src="scope.row.img" alt="">
            <span>法国进口红酒 奥维德侯爵干红葡萄酒 750mlx2瓶 组合装...</span>
          </div>
        </template>
      </el-table-column>

      <!-- 单价（元） -->
      <el-table-column align="center" prop="address" label="单价（元）"></el-table-column>

      <!-- 数量 -->
      <el-table-column align="center" prop="address" label="数量" width="170px"></el-table-column>

      <!-- 小计（元） -->
      <el-table-column align="center" prop="address" label="小计（元）"></el-table-column>

      <!-- 涨价或减价 -->
      <el-table-column align="center" prop="address" label="涨价或减价">
        <template slot-scope="scope">
          <el-input size="mini"></el-input>
        </template>
      </el-table-column>

      <!-- 运费（元） -->
      <el-table-column align="center" prop="address" label="运费（元）">
        <template slot-scope="scope">
          <el-input size="mini"></el-input>
        </template>
      </el-table-column>

    </el-table>

    <!-- 收货地址 等 -->
    <ul>
      <li>收货地址：E20170405133141001238713</li>
      <li>买家实付：700 + 0 - 100 = 600</li>
      <li>买家实付 = 原价 + 运费 + 涨价或减价</li>
    </ul>

    <!-- 底部按钮 -->
    <section class="footer">
      <el-button @click="$emit('hide')">取 消</el-button>
      <el-button type="primary" @click="edit">确 定</el-button>
    </section>

  </div>
</template>
<script>
export default {
  data () {
    return {
      // 数据列表
      tableData: [
        {id: 1, date: '2016-05-02', name: '王小虎', address: ' 1518 弄'},
        {id: 2, date: '2016-05-04', name: '王小虎', address: ' 1517 弄'}
      ]
    }
  },
  methods: {
    // 编辑启动页
    edit () {
      this.$axiosPost(this.$api.login, {...this.form}).then(res => {
        if (res.code === this.http.OK) {
          this.$notify.success({ title: '成功', message: '修改成功' })
          this.$emit('hide')
        } else {
          this.$notify.error({ title: '错误', message: res.msg })
        }
      })
    }
  }
}
</script>
<style lang=less>
.orderEdit {
  .produceWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img, span {
      float: left;
      vertical-align: top;
      text-align: left;
    }
    span {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      margin-bottom: 8px;
      min-height: 48px;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: justify;
      margin-left: .16rem;
      width: 300px;
    }
  }

  // 订单原价
  .originPrice {
    padding: 10px;
    font-size: 18px;
    background: #f5f5f5;
  }
  ul {
    padding-top: 16px;
    li {
      padding: 4px 0;
    }
  }
  .footer {
    text-align: center;
    padding: 20px 0 0 0;
  }
}

</style>
