<template>
  <div class="express-info-wrap">
      <el-row><label class="label">订单编号：</label>2433243523453245234</el-row>

      <!-- 快递单号： -->
      <el-row>
        <el-col :span="10"><label class="label">快递单号：</label>34523452345324532453</el-col>
        <el-col :span="10" class="wuliu-arrow">
          <el-col :span="6"><label class="label">启运地：</label></el-col>
          <el-col :span="3">{{'深圳'}}</el-col>
          <el-col :span="4" class="line-wrap clearfix"><div class="line"></div></el-col>
          <el-col :span="4"><label class="label">目的地：</label></el-col>
          <el-col :span="5">{{'深圳'}}</el-col>
        </el-col>
      </el-row>

      <!-- 快递单号： -->
      <el-row>
        <el-col :span="10">
          <label class="label">数量：</label> 1
          <label class="label">重量：</label> 2kg
        </el-col>
        <el-col :span="10" class="wuliu-arrow">
          <el-col :span="6"><label class="label">状态：</label></el-col>
          <el-col :span="8"></el-col>
          <el-col :span="8">{{'收件-运输中-收货'}}</el-col>
        </el-col>
      </el-row>

      <!-- 物流信息 -->
      <el-row>
        <div class="express-info-title">物流信息</div>
        <div class="express-info">
          <ul class="express-record">
            <li>2011-909-22 12:21:3e 已到达机场，正在配送中</li>
            <li>2011-909-22 12:21:3e 已到达机场，正在配送中</li>
            <li>2011-909-22 12:21:3e 已到达机场，正在配送中</li>
            <li>2011-909-22 12:21:3e 已到达机场，正在配送中</li>
            <li>2011-909-22 12:21:3e 已到达机场，正在配送中</li>
            <li>2011-909-22 12:21:3e 已到达机场，正在配送中</li>
            <li>2011-909-22 12:21:3e 已到达机场，正在配送中</li>
          </ul>
        </div>

      </el-row>

  </div>
</template>
<style lang=less>
.express-info-wrap {
  font-size: .16rem;
  .el-row {
    margin: 16px 0;
    .express-info-title {
      margin: 20px 0;
      font-size: .18rem;
    }
    .express-info {
      background: #efeff4;
      padding: 0 40px;

      .express-record {
        border-left: 1px solid saddlebrown;
        padding-top: 16px;
        li {
          position: relative;
          padding: 0 0 16px 16px;

          &::before{
            content: '';
            position: absolute;
            background: #795548;
            top: 4px;
            left: -4px;
            width: 8px;
            height: 8px;
            border-radius: 100%;
          }
        }
      }
    }

  }
  .label {
    width: 1rem;
    display: inline-block;
    text-align: right;
  }
  .wuliu-arrow {
    text-align: center;
  }
  .line-wrap {
    position: relative;
    text-align: center;
    height: .16rem;
  }
  .line {
    border-top: 1px solid #9E9E9E;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    &::before {
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0);
      top: -1px;
      right: -1px;
      width: .12rem;
      height: 0;
      transform: rotate(45deg);
      transform-origin: top right;
      display: inline-block;
      border-top: 1px solid #9E9E9E;
    }
    &::after {
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0);
      top: -1px;
      right: -1px;
      width: .12rem;
      height: 0;
      transform: rotate(-45deg);
      transform-origin: top right;
      display: inline-block;
      border-top: 1px solid #9E9E9E;
      border-left: 1px solid #9E9E9E;
    }
  }
}
</style>
