<template>
  <div class="fahuo">
    <!-- 发货方式 等 -->
    <el-row class="fh-title">发货方式</el-row>
    <el-row>
      <el-radio-group v-model="wuXuWuLiu">
        <el-radio :label="1">需要物流</el-radio>
        <el-radio :label="0">无需物流</el-radio>
      </el-radio-group>
    </el-row>
    <el-form :model="form" :rules="rules" ref="form">
      <!-- 物流选择 -->
      <el-row>
          <el-col :span="6">
            <el-form-item prop="logisticsCompany">
              <el-select :disabled="+wuXuWuLiu === 0" v-model="form.logisticsCompany" clearable placeholder="选择物流公司" style="">
                <el-option v-for="(item, index) in logisticsList" :key="index" :label="item" :value="item"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
           <el-form-item prop="logisticsNo">
              <!-- 物流单号 -->
              <el-input :disabled="+wuXuWuLiu === 0" style="width: 4.6rem" placeholder="请输入物流单号" v-model="form.logisticsNo" clearable></el-input>
            </el-form-item>
          </el-col>
      </el-row>
  </el-form>
    <!-- 收货地址 -->
    <!-- <el-row class="fh-title">收货地址：默认订单地址</el-row> -->
    <el-button type="primary"
        size="mini"
        v-clipboard:copy="form.address"
        v-clipboard:success="onCopy"
        v-clipboard:error="onError">复制地址到剪切板!</el-button>
    <el-row>
      <el-radio-group v-model="form.addressId" class="radio-group-addr">
        <div v-for="(item, index) in cUserAdds" :key="item.id"  @click.stop="setAddress(index)">
          <el-radio :label="item.id">{{item.name + ' ' + item.phone + ' ' + item.province + ' ' + item.city + ' ' + item.area + ' ' + item.detailAddress + ' '}}
          </el-radio>
        </div>
      </el-radio-group>
    </el-row>

    <el-row>
      <el-button plain size="mini" type="primary" @click="useNewAddr = !useNewAddr">新增客户收货地址</el-button>
    </el-row>
    <el-row v-show="useNewAddr">
      <!-- 联系人： -->
      <el-form :model="newAddr" label-width="120px">
        <el-form-item label="联系人：">
          <el-input placeholder="请填写联系人名称" v-model="newAddr.name" style="width: 50%"></el-input>
        </el-form-item>

        <!-- 联系方式： -->
        <el-form-item label="联系方式：">

          <!-- 手机号码 -->
          <el-input placeholder="请填写手机号码" v-model="newAddr.phone" style="width: 50%"></el-input>
        </el-form-item>

        <!-- 联系地址： -->
        <el-form-item label="联系地址：" style="" class="city">
          <distpicker :prov="newAddr.province" @change="addrSelectorChange"></distpicker>
        </el-form-item>

        <!-- 详细地址： -->
        <el-form-item label="详细地址：">
          <el-input placeholder="详细地址" v-model="newAddr.detailAddress" style="width: 86%"></el-input>
        </el-form-item>

        <!-- 保存缔造者 -->
        <el-form-item label="" style="">
          <el-button type="success" @click="addUserAddr">保存收货地址</el-button>
        </el-form-item>

      </el-form>

    </el-row>

    <!-- 底部按钮 -->
    <section class="footer">
      <el-button @click="$emit('hide')">取 消</el-button>
      <el-button type="primary" @click="sendOrder">确 定</el-button>

    </section>
  </div>
</template>
<script>
export default {
  props: {
    // 客户ID
    userId: {
      type: Number
    }
  },
  data () {
    return {
      orderId: '',
      // 数据列表
      tableData: [],

      // 客户地址列表
      cUserAdds: [],

      // 是否需要物流
      wuXuWuLiu: 1,

      // 已选择发货商品数
      selectedGoodsIds: [],

      // 发货信息
      form: {},

      // 是否使用新地址
      useNewAddr: false,

      // 新地址表单
      newAddr: {},

      city: [],
      // 物流列表
      logisticsList: [],
      // 校验规则
      rules: {
        logisticsCompany: {required: true, message: '物流公司不能为空', trigger: 'change'},
        logisticsNo: {required: true, message: '物流单号不能为空', trigger: 'blur'}
      }
    }
  },
  created () {
    this.orderId = JSON.parse(sessionStorage.orderDetail).id
    this.getUserAddrs()
    this.getLogisticsList()
  },
  methods: {
    // 城市联动地址设置
    addrSelectorChange (selector) {
      this.newAddr.province = selector[0].name
      this.newAddr.city = selector[1].name
      this.newAddr.area = selector[2].name
    },

    // 设置发货地址字符串
    setAddress (index) {
      let addrItem = this.cUserAdds[index]
      this.form.address = addrItem.name + ',' + addrItem.phone + ',' + addrItem.province + '' + addrItem.city + '' + addrItem.area + '' + addrItem.detailAddress
      this.form = JSON.stringify(this.form)
      this.form = JSON.parse(this.form)
    },

    // 部分订单发货
    selectionChange (selection) {
      this.form.goodsIds = selection.map(item => {
        return item.id
      })
      this.selectedGoodsIds = this.form.goodsIds
    },

    // 获取用户地址列表
    getUserAddrs () {
      this.$axiosPost(this.$api.appAddr.getAddrs, {cterminalUserId: this.userId}).then(res => {
        if (res.code === this.http.OK) {
          this.cUserAdds = res.data
          this.cUserAdds.map(item => {
            item.isDefault && (this.form.addressId = item.id)
          })
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    // 获取物流列表
    getLogisticsList () {
      this.$axiosPost(this.$api.orderLogistics).then(res => {
        if (res.code === this.http.OK) {
          this.logisticsList = res.data
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    // 新增用户地址列表
    addUserAddr () {
      this.$axiosPost(this.$api.appAddr.addAddr, {...this.newAddr, cterminalUserId: this.userId}).then(res => {
        if (res.code === this.http.OK) {
          this.$notify.success({ message: '新增地址成功' })
          this.getUserAddrs()
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },

    // 发货
    sendOrder () {
      let data = {
        id: this.orderId,
        addressId: this.form.addressId,
        logisticsNo: 0,
        logisticsCompany: '无需物流'
      }
      if (+this.wuXuWuLiu === 1) {
        this.$refs['form'].validate((valid) => {
          if (valid) {
            data.logisticsCompany = this.form.logisticsCompany
            data.logisticsNo = this.form.logisticsNo
            this.fahuo(data)
          }
        })
      } else {
        this.fahuo(data)
      }
    },
    fahuo (data) {
      this.$axiosPost(this.$api.appOrder.sendOrder, {...data}).then(res => {
        if (res.code === this.http.OK) {
          this.$notify.success({ message: '发货成功' })
          this.$emit('hide')
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    onCopy: function (e) {
      this.$notify.success({ message: '成功复制到剪切板' })
    },
    onError: function (e) {
      this.$notify.error({ message: '复制失败' })
    }
  }
}
</script>
<style lang=less>
.fahuo {

  // 商品图文容器
  .produceWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img, span {
      float: left;
      vertical-align: top;
      text-align: left;
    }
    span {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      margin-bottom: 8px;
      min-height: 48px;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: justify;
      margin-left: .16rem;
      width: 300px;
    }
  }

  .city {
    select {
      border: 1px solid #e2dfdf;
      padding: 9px 10px;
      border-radius: 5px;
      font-size: 14px;
      outline: 0;
      color: #606266;
      option {
        color: #606266;
      }
    }
  }

  // el-radio-group
  .el-row {
    margin: .16rem 0;
    .fh-title {
      font-weight: bold;
    }
    .radio-group-addr {
      .el-radio {
        display: block;
        padding: .1rem 0;
      }
    }
  }
  .footer {
    text-align: center;
    padding: 20px 0 0 0;
  }
}

</style>
