/* eslint-disable */
<template>
  <div class="goods-list">
    <div>
      <el-table :data="tableData" ref="goodsTable" style="width:100%">
        <!--<el-table-column align="center" label='全选' type="selection"></el-table-column>-->
        <el-table-column align="center" prop="name" label="商品">
          <template slot-scope="scope">
            <div>
              <img @click="$imgView(scope.row.coverImg)" style="height: 40px" :src="scope.row.coverImg" alt="">
            </div>
          </template>
        </el-table-column>
        <el-table-column align="center" prop="title" label='商品名称'></el-table-column>
        <el-table-column align="center" prop="sellPrice" label='商品价格'></el-table-column>
        <el-table-column align="center" prop="totalVol" label="总销量"></el-table-column>
        <el-table-column align="center" prop="createTime" label="发布时间"></el-table-column>
        <el-table-column align="center">
          <template slot-scope="scope">
            <el-button type="success" size="mini" @click="$emit('confirm', scope.row.id)">关联</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getGoodsData" :page-size="pageGoods.pageSize" :total="pageGoods.total"></el-pagination>
  </div>
</template>
<script>
export default {
  props: {
    ids: {
      default: ''
    }
  },
  created () {
    this.getGoodsData()
    // if (this.ids) this.goodsIdsCache = (this.ids || '').split(',')
  },
  data () {
    return {
      selecAll: true,
      selectSome: false,
      goodsIds: [],
      goodsIdsCache: [],
      tableData: [],
      pageGoods: { page: 1, pageSize: 8, total: 21 }
    }
  },
  methods: {
    // 获取商品列表数据
    getGoodsData (page = 1) {
      // let _this = this
      this.$axiosPost(this.$api.selectGoodsList, { page, pageSize: this.pageGoods.pageSize, isSell: 1 }).then(res => {
        if (res.code === this.http.OK) {
          this.pageGoods.total = res.data.total
          this.tableData = res.data.list
          // let checkedIndex = []
          // this.goodsIdsCache.forEach(function (id) {
          //   _this.tableData.forEach(function (item, index) {
          //     item.id === id && checkedIndex.push(index)
          //   })
          // })
          // this.$nextTick(function () {
          //   checkedIndex.forEach(function (rowIndex) {
          //     console.log(rowIndex)
          //     _this.$refs.goodsTable.toggleRowSelection(_this.tableData[rowIndex], true)
          //   })
          // })
        }
      }).catch((res) => {
        this.$message({ type: 'info', message: res.msg })
      })
    }
  }
}
</script>
