<template>
  <div class="i-editor"
    v-loading="uploading"
    :element-loading-text="uploadText"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.5)">
    <section class="col-edit">
      <!-- 自定义工具栏 -->
      <section class="i-toobar" style="position: absolute; left: 50px; top: 12px">
        <span @click="undo"><i class="iconfont icon-undo"></i></span>
        <span @click="redo" style="margin-left: 10px"><i class="iconfont icon-redo"></i></span>
      </section>
      <!-- 上传图片 -->
      <input type="file" :id="'image'+inputId" accept="image/*" @change="multiUpload" style="display: none;" multiple>
      <!-- 上传视频 -->
      <input type="file" :id="'video'+inputId" accept="video/*" @change="videoUpload" style="display: none;">
      <quill-editor v-model="editorContent" ref="myQuillEditor" :options="editorOption"></quill-editor>
    </section>
    <slot name="btn">
      <div style="text-align: center; margin-top: 20px;">
        <el-button @click="$emit('cancel')">取 消</el-button>
        <el-button type="primary" @click="save">确 定</el-button>
      </div>
    </slot>
  </div>
</template>
<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

import { quillEditor } from 'vue-quill-editor'
export default {
  components: { quillEditor },
  props: {
    editorJsonStr: {
      default: ''
    }
  },
  data () {
    let toolbarOptions = [
      ['bold', 'italic', 'underline', 'strike'], // toggled buttons

      [{ 'size': ['small', false, 'large', 'huge'] }], // custom dropdown
      [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

      [{ 'color': [] }, { 'background': [] }], // dropdown with defaults from theme
      [{ 'align': [] }],
      ['link', 'image', 'video'],
      ['clean'] // remove formatting button
    ]
    return {
      editorContent: '',
      inputId: new Date().getTime(),
      editorOption: {
        modules: {
          toolbar: toolbarOptions,
          history: {
            delay: 2000,
            maxStack: 500,
            userOnly: true
          }
        }
      },
      goodsDetailImgs: [],
      uploading: false,
      uploadText: ''
    }
  },
  methods: {
    save () {
      this.$emit('editorSave', this.editorContent)
    },
    // 添加资源到编辑器
    addResToEditor (url, type) {
      const addRange = this.$refs.myQuillEditor.quill.getSelection()
      let Index = addRange ? addRange.Index : this.$refs.myQuillEditor.quill.getLength()
      this.$refs.myQuillEditor.quill.insertEmbed(Index, type === 'image' ? 'image' : 'video', url)
    },
    // 上传视频
    videoUpload (e, index) {
      let file = e.target.files[0]
      this.uploading = true
      this.$upload(file, (url) => {
        this.addResToEditor(url, 'video')
        e.target.value = ''
        this.uploading = false
      })
    },
    // 批量上传图片
    multiUpload (e) {
      let files = e.target.files
      let i = 0
      let _this = this
      this.uploading = true
      const upFun = function () {
        _this.$upload(files[i], (url) => {
          _this.addResToEditor(url, 'image')
          if (i < files.length - 1) {
            i++
            _this.uploadText = `正在上传${i + ',' + 1}张图片`
            upFun()
          } else {
            e.target.value = ''
            _this.uploading = false
          }
        })
      }
      upFun()
    },
    imageChangEvent () {
      document.getElementById(`image${this.inputId}`).click()
    },
    videoChangEvent () {
      document.getElementById(`video${this.inputId}`).click()
    },
    undo () {
      this.$refs.myQuillEditor.quill.history.undo()
    },
    redo () {
      this.$refs.myQuillEditor.quill.history.redo()
    }
  },
  mounted () {
    setTimeout(() => {
      this.editorContent = this.editorJsonStr
    }, 0)
    this.$refs.myQuillEditor.quill.getModule('toolbar').addHandler('image', this.imageChangEvent)
    this.$refs.myQuillEditor.quill.getModule('toolbar').addHandler('video', this.videoChangEvent)
  },
  watch: {
    editorJsonStr (val, oladVal) {
      if (val) this.editorContent = val
    }
  }
}
</script>
<style lang=less>
.i-editor {
  text-align: left;
  .i-toobar {
    span {
      cursor: pointer;
      &:hover {
        color: #06c;
      }
    }
  }
  .col-edit {
    // width: calc(100% - 560px);
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
    .quill-editor {
      border: 1px solid #eaeefb;
      box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
      border-radius: 12px;
      overflow-x: hidden;
      .ql-toolbar {
        border: none;
        border-bottom: 1px solid #d5d8e2;
        padding-left: 80px;
      }
      .ql-container.ql-snow {
        border: none;
      }
      .ql-editor {
        padding: 10px;
        font-size: 12px;
        max-height: 70vh !important;
        min-height: 50vh !important;
        border: none !important;
        overflow-y: auto;
        >p {
          margin: 10px 0;
        }
        img {
          max-width: 100%;
        }
      }
    }
  }
}
</style>
