<template>
  <div>
    <section v-if="!isButton" class="upload-wrap i-upload" :style="{position: 'relative',width, height}">
      <div class="content-area"
        v-loading="uploading"
        element-loading-text=""
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.5)">
        <!-- 上传按钮 -->
        <div class="upload clearfix" v-show="!img">
          <label :for="fileId">
            <div tabindex="0" class="el-upload el-upload--picture-card" :style="{position: 'relative',width, height, lineHeight: height}">
              <i class="el-icon-plus"></i>
              <input class="upload-input" :id="fileId" type="file" ref="upload" accept="image/*" @change="inputChange($event)" style="display: none;">
            </div>
          </label>
        </div>
        <!-- 上传成功图片展示 -->
        <div class="upImgUrl-wrap" v-show="img">
          <img @click="$imgView(img)" :src="img" alt="">
          <i @click="delImg" class="close__x_img"></i>
        </div>
      </div>
    </section>
    <div v-if="isButton" class="upload-wrap-file i-upload" :style="{position: 'relative'}">
      <div v-loading="uploading"
        element-loading-text=""
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.5)"
        element-loading-top="1px">
        <label :for="fileId">
          <span class="upload-icon-btn" style="">上传文件</span>
          <input class="upload-input" :id="fileId" type="file" accept=".pdf" ref="upload" @change="inputChange($event)" style="display: none;">
        </label>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    width: {
      default: '90px'
    },
    height: {
      default: '90px'
    },
    // 传递过来的图片地址，编辑是展示图片
    imgUrl: {
      default: ''
    },
    // 上传控件是否展示按钮形式
    isButton: {
      default: false
    },
    // 上传文件类型
    uploadType: {
      default: 'img'
    }
  },
  data () {
    return {
      uploading: false,
      img: '',
      fileId: new Date().getTime()
    }
  },
  watch: {
    imgUrl (n) {
      this.img = n
    }
  },
  created () {
    this.img = this.imgUrl
  },
  methods: {
    // 上传图片
    inputChange (e, index) {
      let file = e.target.files[0]
      this.uploading = true
      this.$upload(file, (url) => {
        this.$emit('upLoaded', url)
        this.img = url
        e.target.value = ''
        this.uploading = false
      })
    },
    delImg () {
      this.img = ''
      if (!this.imgUrl) return false
      else this.$emit('delImg')
    }
  }
}
</script>
<style lang=less>
  .i-upload {
    position: relative;
  }
  .upload-icon-btn {
    display: inline-block;padding: 8px 8px;font-size: 12px;line-height: 1; background: #409eff;color: white;cursor: pointer;
    border-radius: 4px;
  }
  .upload-wrap-file {
    .el-loading-spinner{
      margin-top: -14px;
    }
  }
</style>
