<template>
	<div class="OrderDetail">
		<el-steps class="order-step" :active="step" align-center>
			<el-step title="买家下单" description=""></el-step>
			<el-step title="买家付款" description=""></el-step>
			<el-step title="商家发货" description=""></el-step>
			<el-step title="交易完成" description="" v-if="+orderData.status !== 1005"></el-step>
			<el-step title="交易出错，订单关闭" description="" v-if="+orderData.status === 1005"></el-step>
			<el-step title="退款、退货订单" description="" v-if="+orderData.status === 1006"></el-step>
		</el-steps>
		<!-- 订单信息 -->
		<section class="orderInfoWrap">
			<el-row>
				<el-col :span="12" class="orderInfo">
					<div class="orderHeader">订单信息</div>
					<div class="OrderDetail-item">
						<p class="title">订单类型：</p>
						<p>{{orderData.orderTypeText}}</p>
					</div>
					<div class="OrderDetail-item">
						<p class="title">订单编号：</p>
						<p>{{orderData.orderNo}}</p>
					</div>
					<div class="OrderDetail-item">
						<p class="title">支付方式：</p>
						<p>{{orderData.payWay}}</p>
					</div>
					
					<div v-if="orderData.orderType === 2" class="OrderDetail-item">
						<p class="title">提货人：</p>
						<p>{{orderData.userName}}</p>
					</div>
					<div v-if="orderData.orderType === 2" class="OrderDetail-item">
						<p class="title">提货人电话：</p>
						<p>{{orderData.mobilePhone}}</p>
					</div>

					<div v-if="orderData.orderType === 1" class="OrderDetail-item">
						<p class="title">买家：</p>
						<p>{{orderData.userName}}</p>
					</div>
					<div class="OrderDetail-item">
						<p class="title">物流公司：</p>
						<p>{{orderData.logistics && orderData.logistics.split(',')[0] === 'null' ? '暂无' : orderData.logistics && orderData.logistics.split(',')[0]}}</p>
					</div>
					<div class="OrderDetail-item">
						<p class="title">物流单号：</p>
						<p>{{orderData.logistics && orderData.logistics.split(',')[1] === 'null' ? '暂无' : orderData.logistics && orderData.logistics.split(',')[1]}}</p>
					</div>
					<div class="OrderDetail-item">
						<p class="title">运费：</p>
						<p>{{orderData.freightMoney}}</p>
					</div>
					<div class="OrderDetail-item">
						<p class="title">合计优惠：</p>
						<p>{{orderData.concessions}}</p>
					</div>
					<div class="OrderDetail-item">
						<p class="title">实收总计：</p>
						<p>￥{{orderData.totalMoney}}</p>
					</div>

				</el-col>
				<el-col :span="12" class="orderStatus">
					<!-- 已完成状态按钮组 -->
					<template v-if="status === '1000' || true">
						<div class="status-txt">订单状态：
							<span v-if="+orderData.status === 1000">已完成</span>
							<span v-else-if="+orderData.status === 1001">待付款</span>
							<span v-else-if="+orderData.status === 1002">待发货</span>
							<span v-else-if="+orderData.status === 1003">已发货</span>
							<span v-else-if="+orderData.status === 1004">待评价</span>
							<span v-else-if="+orderData.status === 1005">已关闭</span>
							<span v-else-if="+orderData.status === 1006">退款订单</span>
						</div>
						<el-button type="primary" plain @click="noteEditVisible = true">备注</el-button>
						<span v-if="orderData.orderType === 2" style="margin-left: 20px;">核销员：{{orderData.destroyUserName}}</span>
					</template>

					<!-- 待付款状态按钮组 -->
					<template v-if="orderData.status === 1001">
						<el-button type="primary" @click="orderEditVisible = true">修改价格</el-button>
					</template>
					<!-- 待发货状态按钮组 -->
					<template v-if="orderData.status === 1002 && orderData.orderType != 2">
						<el-button type="warning" @click="checkSample()">发货</el-button>
						<!-- <el-button type="danger" @click="addressEditVisible = true">修改地址</el-button> -->
					</template>
					<p v-if="orderData.remark" style="margin-top: 20px">备注： {{orderData.remark}}</p>
				</el-col>
			</el-row>
		</section>

		<el-table :data="orderGoods" border style="width: 100%; margin-top: 16px" show-summary :summary-method="getSummaries">
			<el-table-column align="center" prop="img" label="商品图片" width="140px">
				<template slot-scope="scope">
					<img :src="scope.row.img" @click="$imgView(scope.row.img)" style="height: 60px">
				</template>
			</el-table-column>
			<el-table-column align="center" prop="goodsName" label="商品名称"></el-table-column>
			<el-table-column align="center" prop="number" label="数量" width="140px"></el-table-column>
			<el-table-column align="center" prop="money" label="价格" width="140px"></el-table-column>
			<el-table-column align="center" label="样本编码" v-if="+orderData.status === 1002">
				<template slot-scope="scope">
					<div v-if="scope.row.isCollector === 1">
						<p v-for="index in scope.row.number" :key="index">
							<el-col :span='16' style="margin: 4px 0;">
								<el-input size='mini' placeholder="请输入11位样本编码" v-model='sampleNo[scope.$index][index-1]' required maxlength="11"></el-input>
								<!-- <el-input size='mini' placeholder="请输入11位样本编码" v-model='sampleNo[0][0]' maxlength="11"></el-input> -->
							</el-col>
						</p>
						<el-col :span='4' :offset="2">
							<el-button type="primary" size="mini" @click='updatetradeOrderBySampleNo(scope.row.id, sampleNo[scope.$index])'>保存</el-button>
						</el-col>
					</div>
				</template>
			</el-table-column>
		</el-table>

		<!-- 订单价格修改对话框 -->
		<el-dialog append-to-body title="修改订单" :visible.sync="orderEditVisible" width="50%">
			<orderEdit v-if="orderEditVisible" @hide="orderEditVisible = false, getData()" :orderData="orderData" :orderId="+orderId"></orderEdit>
		</el-dialog>

		<!-- 发货对话框 -->
		<el-dialog append-to-body title="发货" :visible.sync="faHuoVisible" width="1000px">
			<faHuo v-if="faHuoVisible" @hide="faHuoVisible = false, getData()" :orderId="+orderId" :userId="orderData.userId"></faHuo>
		</el-dialog>

		<!-- 地址修改对话框 -->
		<el-dialog append-to-body title="地址修改" :visible.sync="addressEditVisible" width="60%">
			<addressEdit v-if="addressEditVisible" @hide="addressEditVisible = false, getData()" :userId="orderData.userId" :address="addressDetails"></addressEdit>
		</el-dialog>

		<!-- 修改/添加备注对话框 -->
		<el-dialog append-to-body title="添加/修改备注" :visible.sync="noteEditVisible" width="60%">
			<textarea v-model="orderData.remark" name="" id="" cols="30" rows="10" style="border: 1px solid #f1e8e8; outline: 0; width: 100%; padding: 16px"></textarea>
			<p style="color: red" v-if="showRemark">备注不能为空</p>
			<div style="text-align: center; margin-top: 20px">
				<el-button type="" @click="noteEditVisible = false">取消</el-button>
				<el-button type="primary" @click="upDateOrderNote(orderData.id, orderData.remark)">确定</el-button>
			</div>
		</el-dialog>
	</div>
</template>
<script>
	import orderEdit from '@/components/orderEdit'
	import addressEdit from '@/components/addressEdit'
	import faHuo from '@/components/faHuo'
	import expressInfo from '@/components/expressInfo'
	import agreeRefund from '@/components/agreeRefund'
	export default {
		components: {
			orderEdit,
			addressEdit,
			faHuo,
			expressInfo,
			agreeRefund
		},
		props: {
			orderId: {
				type: Number,
				require: true
			}
		},
		data() {
			return {
				// 订单数据
				orderData: {},

				// 订单商品列表
				orderGoods: [],

				// 当前编辑订单备注
				orderNote: '',

				// 图片上传标记
				imgUploaded: true,

				// 价格修改对话框开关
				orderEditVisible: false,

				// 物流修改对话框开关
				addressEditVisible: false,

				// 地址修改对话框开关
				faHuoVisible: false,

				// 修改/添加备注对话框开关
				noteEditVisible: false,

				step: 0,
				status: 0,
				// 数据列表
				tableData: [],
				showRemark: false,
				addressDetails: '',
				// 样本编码model
				code: [],
				sampleNo: [
					[]
				],
				//核销员
				verifier: 'sasssdsss'
			}
		},
		created() {
			// this.orderData = JSON.parse(sessionStorage.orderDetail)
			// this.orderId = this.orderData.id
			this.getData()
		},
		methods: {
			// 获取订单数据
			getData() {
				this.$axiosPost(this.$api.appOrder.orderDetail, {
					id: this.orderId
				}).then(res => {
					if(res.code === this.http.OK) {
						this.orderData = res.data
						this.orderGoods = [...this.orderData.orderDetails]
						this.orderGoods.map((item, index) => {
							if(+item.isCollector === 1) {
								item.sampleNo = item.sampleNo ? item.sampleNo.split('-') : []
							}
							// this.sampleNo[index] = []
							this.sampleNo[index] = item.sampleNo
						})
						if(this.orderData.status === 1000) this.step = 4 // 已完成
						else if(this.orderData.status === 1001) this.step = 1 // 待付款
						else if(this.orderData.status === 1002) this.step = 2 // 待发货
						else if(this.orderData.status === 1003) this.step = 3 // 已发货
						else if(this.orderData.status === 1004) this.step = 4 // 待评价
						else if(this.orderData.status === 1005) this.step = 4 // 已关闭
						else if(this.orderData.status === 1006) this.step = 4 // 已关闭
					} else {
						this.$notify.error({
							message: res.msg
						})
					}
				})
			},
			getSummaries() {
				const sums = ['总价']
				sums[1] = '优惠券抵扣：' + this.orderData.concessions
				sums[3] = this.orderData.totalMoney
				return sums
			},
			// 保存样本编码
			updatetradeOrderBySampleNo(id, sampleNo) {
				// let isValidate = true
				// let msg = ''
				// this.sampleNo.forEach((item, index) => {
				//   item.forEach((i2, index) => {
				//     if (/[a-zA-Z\d]+/.test(i2)) {
				//       isValidate = false
				//       msg = '样本编码为11位纯数字或字母数字组合'
				//     } else if (i2.length !== 11) {
				//       isValidate = false
				//       msg = '样本编码长度为11位数字或字母组合'
				//     }
				//   })
				// })
				// if (!isValidate) {
				//   this.$notify.warning({ message: msg })
				//   return
				// }
				console.log(sampleNo)
				sampleNo = sampleNo.length > 1 ? sampleNo.join('-') : sampleNo[0]
				this.$axiosPost(this.$api.updatetradeOrderBySampleNo, {
					id,
					sampleNo
				}).then(res => {
					if(res.code === this.http.OK) {
						this.$notify.success({
							message: '保存成功'
						})
						this.getData()
					} else {
						this.$notify.error({
							message: res.msg
						})
					}
				})
			},
			checkSample() {
				this.$axiosPost(this.$api.appOrder.orderDetail, {
					id: this.orderId
				}).then(res => {
					if(res.code === this.http.OK) {
						let hasCollector = false
						res.data.orderDetails.map((item) => {
							// 先判断是否有采集器
							if(+item.isCollector === 1 && !item.sampleNo) {
								this.$notify.success({
									message: '请填写完样本编码'
								})
								hasCollector = false
								return
							}
							hasCollector = true
						})
						this.faHuoVisible = hasCollector
					} else {
						this.$notify.error({
							message: res.msg
						})
					}
				})
			},
			// 修改订单备注
			upDateOrderNote(id, remark) {
				if(!remark) {
					this.showRemark = true
					return
				}
				this.showRemark = false
				this.$axiosPost(this.$api.order.writeRemarks, {
					id,
					remark
				}).then(res => {
					if(res.code === this.http.OK) {
						this.$notify.success({
							message: '备注更新成功'
						})
						this.noteEditVisible = false
						this.getData()
					} else {
						this.$notify.error({
							message: res.msg
						})
					}
				})
			}
		}
	}
</script>
<style lang=less>
	.OrderDetail {
		font-size: 14px;
		font-weight: normal;
		.el-step__title {
			font-size: 14px;
			font-weight: normal;
		}
		.order-step {
			// width: 70%;
			margin: 0px auto 30px;
		}
		// 订单信息
		.orderInfoWrap {
			// width: 80%;
			margin: 0 auto;
			.orderInfo {
				border: 1px solid #f1e8e8;
				padding: 14px 20px;
				border-radius: 6px;
				>div {
					margin: 6px 0;
				}
				.OrderDetail-item {
					display: flex;
					justify-content: flex-start;
					.title {
						text-align: justify;
						text-align-last: justify;
						width: 1rem;
						min-width: 90px;
						margin-right: .2rem;
					}
				}
				.produceWrap {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					img,
					span {
						float: left;
						vertical-align: top;
						text-align: left;
					}
					span {
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						margin-bottom: 8px;
						min-height: 48px;
						text-overflow: ellipsis;
						overflow: hidden;
						text-align: justify;
						margin-left: .16rem;
						width: 300px;
					}
				}
			}
			.orderStatus {
				padding: 0 20px;
				.status-txt {
					font-size: 16px;
					margin-bottom: 20px;
					font-weight: 700;
				}
				>div {
					margin: 6px 0;
				}
			}
		}
		.orderMoneyTotal {
			height: 60px;
			line-height: 60px;
			background: #f5f5f5;
			text-align: right;
			color: #333;
			margin: 30px 0;
			padding-right: 50px;
		}
		.orderRecord {
			width: 80%;
			padding-bottom: 30px;
			margin: 0 auto;
			li {
				padding: 6px 0;
			}
		}
	}
</style>