<template>
  <div>
    <div class="step">
      <el-steps :active="active" finish-status="success">
        <el-step title="买家申请退款"></el-step>
        <el-step title="商家处理退款申请"></el-step>
        <el-step :title="data.refundInfo.status === 1002 && type === 'returnGoods' ? '买家退货中' : '商家退款中'"></el-step>
        <el-step title="退款失败" v-if="data.refundInfo.status === 1003"></el-step>
        <el-step title="撤销退款" v-if="data.refundInfo.status === 1004"></el-step>
        <el-step title="退款完成" v-if="(data.refundInfo.status !== 1003) && (data.refundInfo.status !== 1004)"></el-step>
      </el-steps>
    </div>
    <div class="dialog-container" style="position:relative;">
      <el-row>
        <el-col :span="12">
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <span>售后服务</span>
            </div>
            <div>
              <!-- <div>
                <img :src="data.refundInfo.imgUrl" style="width:40px;height:40px;object-fit: cover" alt="">
                <span style="position: relative;top: -10px;">{{data.refundInfo.goodsName}}</span>
              </div> -->
              <!-- <hr> -->
              <p><label>申请类型: &nbsp;&nbsp;</label><span>{{type === 'refund' ? '仅退款' : '退货退款'}}</span></p>
              <p><label>退款金额: &nbsp;&nbsp;</label><span>{{data.refundInfo.refundMoney}}</span></p>
              <p><label>退款原因: &nbsp;&nbsp;</label><span>{{data.refundInfo.refundReason}}</span></p>
              <p><label>退款说明: &nbsp;&nbsp;</label><span>{{data.refundInfo.refundremarks}}</span></p>
              <p><label>退款编号: &nbsp;&nbsp;</label><span>{{data.refundInfo.refundNo}}</span></p>
              <hr>
              <p><label>订单编号: &nbsp;&nbsp;</label><span>{{data.refundInfo.orderNo}}</span></p>
              <!--<p><label>付款时间: &nbsp;&nbsp;</label><span>{{data.refundInfo.applyType}}</span></p>-->
              <p><label>买&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家: &nbsp;&nbsp;</label><span>{{data.refundInfo.refundUser}}</span></p>
              <p v-if="type === 'returnGoods' && data.refundInfo.logisticInfo !== 'nullnull'"><label>物流信息: &nbsp;&nbsp;</label><span>{{data.refundInfo.logisticInfo}}</span>
                <el-button type="text" style="padding: 0">查看</el-button>
              </p>
              <!--<p><label>运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费: &nbsp;&nbsp;</label><span>{{data.refundInfo.applyType}}</span></p>-->
              <!--<p><label>合计优惠: &nbsp;&nbsp;</label><span>{{data.refundInfo.applyType}}</span></p>-->
              <!--<p><label>实收总计: &nbsp;&nbsp;</label><span>{{data.refundInfo.refundMoney}}</span></p>-->
            </div>
          </el-card>
        </el-col>
        <el-col :span="12" style="padding:20px;">
          <div v-if="data.refundInfo.status === 1001">
            <h4>等待商家处理贷款申请</h4>
            <p style="margin:20px 0;">收到买家退款并退货申请，请尽快处理</p>
            <p v-if="!overTime">请在{{realTime}}内处理本次退款，如逾期未处理，将自动发送退货地址</p>
            <p v-if="overTime">已发送退货地址</p>
            <p style="margin:20px 0;">
              <el-button  type="primary" size="mini" @click="refundDialogVisible = true">同意{{type === 'refund' ? '退款' : '退货退款，发送退货地址'}}</el-button>
              <el-button type="danger" size="mini"  @click="openRefuseDialog">拒绝{{type === 'refund' ? '退款' : '退货退款'}}申请</el-button>
            </p>
          </div>
          <div v-else-if="data.refundInfo.status === 1000">
            <p>退款成功</p>
            <p>退款金额：{{data.refundInfo.refundMoney}}</p>
          </div>
          <div v-else-if="data.refundInfo.status === 1002 && type === 'returnGoods'">
            <el-button type="success" size="small" @click="handle(data.refundInfo.id,1005,'UPDATE')">确认收货</el-button>
          </div>
          <div v-else-if="(data.refundInfo.status === 1005) || (type === 'refund' && data.refundInfo.status === 1002)">
            <el-button type="success" size="small" plain @click="refund()">确认退款</el-button>
          </div>
          <div class="confirm">
            <h4>温馨提示</h4>
            <p>如果同意申请，请发送正确退货地址给买家</p>
            <p>如果拒绝申请，买家有权要求客服介入处理</p>
            <p>如果您逾期未处理，视作同意买家申请，系统自动将您的默认退货地址发给买家。</p>
          </div>
        </el-col>
      </el-row>
    </div>
    <div>
      <el-table :data="data.orderDetails" border style="width: 100%; margin-top: 16px" show-summary  :summary-method="getSummaries">
        <el-table-column align="center" prop="img" label="商品图片" width="140px">
          <template slot-scope="scope">
            <img :src="scope.row.img" @click="$imgView(scope.row.img)" style="height: 60px">
          </template>
        </el-table-column>
        <el-table-column align="center" prop="goodsName" label="商品名称"></el-table-column>
        <el-table-column align="center" prop="number" label="数量"  width="140px"></el-table-column>
        <el-table-column align="center" prop="money" label="单价"  width="140px"></el-table-column>
        <el-table-column></el-table-column>
      </el-table>
    </div>
    <!--同意dialog-->
    <el-dialog :visible.sync="refundDialogVisible" title="同意退款" @close="closeDialog" append-to-body>
      <div style="padding-bottom: 25px;">
        <p>该笔订单通过 <span style="color: #4e98e6">{{(data.refundInfo.payWay === 'WX') || (data.refundInfo.payWay === 'APPWX') ? '"微信安全支付"' : '"支付宝安全支付"'}}</span>付款，需您同意付款申请，买家才能退货给您；买家退货后您需再次确认收货后，退款将自动原路退回至买家付款账户</p>
        <p style="margin-top: 10px;">处理方式： 仅退款</p>
        <p style="margin-top: 10px;">退款金额： {{data.refundInfo.refundMoney}}</p>
        <div v-if="type === 'returnGoods'" style="margin: 20px 0;">
          <el-form ref="refundForm" :model="address" :rules="refundRules">
            <el-form-item label="联系人" label-width="80px" prop="contactName">
              <el-input v-model="address.contactName"></el-input>
            </el-form-item>
            <el-form-item label="联系电话" label-width="80px" prop="contactPhone">
              <el-input v-model="address.contactPhone"></el-input>
            </el-form-item>
            <el-form-item label="退货地址" label-width="80px" prop="city">
              <el-cascader v-model="address.city" :options="option"  placeholder="省市"></el-cascader>
            </el-form-item>
            <el-form-item label-width="80px" prop="street">
              <el-input placeholder="详细地址" v-model="address.street"></el-input>
            </el-form-item>
          </el-form>
        </div>

        <el-button type="primary" plain  style="float:right;margin-top:-10px;" @click="handle(data.refundInfo.id,1002,'UPDATE')">同意</el-button>
      </div>
    </el-dialog>
    <!--拒绝dialog-->
    <el-dialog :visible.sync="refuseDialogVisible" title="拒绝退款" append-to-body @close="load">
      <p>建议您与买家协商后，再确定是否拒绝退款。如您拒绝退款后，买家可修改退款申请协议重新发起退款</p>
      <p style="margin-top: 10px;">处理方式： 拒绝退款</p>
      <p style="margin-top: 10px;">退款金额： {{data.refundInfo.refundMoney}}</p>
      <el-input type="textarea" v-model="refuseRemark"></el-input>
      <p style="text-align: right; padding:10px;">
        <el-button type="primary" size="mini" round @click="handle(data.refundInfo.id,1003,'UPDATE', refuseRemark)">确定</el-button>
      </p>
    </el-dialog>
  </div>
</template>

<script>
import { pca } from 'area-data' // v5 or higher
export default {
  name: 'refundDetail',
  props: {
    id: {
      require: true
    },
    type: {
      require: true
    }
  },
  data () {
    const regPhone = /^[1][3,4,5,7,8][0-9]{9}$/
    let checkPhone = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('请输入联系电话'))
      } else if (!regPhone.test(value)) {
        return callback(new Error('请输入正确的联系电话'))
      } else {
        callback()
      }
    }
    return {
      data: {refundInfo: {}},
      realTime: '',
      active: 0,
      // 定时器
      interval: '',
      overTime: false,
      orderGoods: [],
      // 确认退款弹出框
      refundDialogVisible: false,
      refuseDialogVisible: false,
      // 退款说明
      refuseRemark: '',
      pac: '',
      option: [],
      address: {
        contactName: '',
        contactPhone: '',
        city: [],
        street: ''
      },
      refundRules: {
        contactName: [{ required: true, message: '请输入联系人姓名', trigger: 'blur' }],
        contactPhone: [{ required: true, validator: checkPhone, trigger: 'blur' }],
        city: [{ required: true, message: '请选择退货地址', trigger: 'blur' }],
        street: [{ required: true, message: '请输入详细地址', trigger: 'blur' }]
      }
    }
  },
  created: function () {
    this.load()
    // 解析全国省市数据
    this.pca = pca
    let data = this.pca[86]
    for (let key in data) {
      let children = []
      for (let i in this.pca[key]) {
        children.push({
          label: this.pca[key][i],
          value: this.pca[key][i]
        })
      }
      this.option.push({
        label: data[key],
        value: data[key],
        children: children
      })
    }
  },
  methods: {
    load () {
      this.$axiosPost(this.$api.order.refundDetail, {id: this.id}).then(res => {
        if (res.code === this.http.OK) {
          this.data = res.data
          switch (this.data.refundInfo.status) {
            case 1000:
              this.active = 4
              break
            case 1001:
              this.active = 1
              break
            case 1002:
              this.active = 2
              break
            case 1003:
              this.active = 4
              break
            case 1004:
              this.active = 4
              break
          }
          this.realTime = this.getRealTime(this.data.refundInfo.applyTime)
          this.refresh(this.data.refundInfo.applyTime)
        } else {
          this.$notify.error({ title: '错误', message: res.msg })
        }
      })
    },
    getSummaries (param) {
      const data = param.data
      const sums = ['总价']
      if (data.length > 0) {
        sums[4] = this.data.refundInfo.refundMoney
      }
      return sums
    },
    // 刷新处理时间
    refresh (applyTime) {
      if (this.interval) {
        clearInterval(this.interval)
      }
      // t当前时间，aT退款申请时间， section 时间段
      this.interval = setInterval(() => {
        this.realTime = this.getRealTime(applyTime)
      }, 1000)
    },
    getRealTime (applyTime) {
      let t = new Date().getTime()
      let aT = new Date(applyTime).getTime()
      let section = 6 * 24 * 60 * 60 * 1000
      let rT = (aT + section - t) / 1000
      if (rT > 0) {
        let day = Math.floor(rT / (24 * 3600))
        let hour = Math.floor(((rT % (24 * 3600)) / 60 / 60 % 24))
        let minutes = Math.floor((rT % (24 * 3600)) / 60 % 60)
        let seconds = Math.floor(rT % 60)
        let realTime = day + '天' + hour + '小时' + minutes + '分' + seconds + '秒'
        return realTime
      } else {
        this.overTime = true
        clearInterval(this.interval)
      }
    },
    // 处理订单
    // handle (id, status, type, remark) {
    //   // status:1002同意，1003拒绝
    //   // type: UPDATE修改，DELETE删除
    //   let address = ''
    //   if (this.type === 'returnGoods') {
    //     address = this.address.contactName + ',' + this.address.contactPhone + ',' + this.address.city[0] + this.address.city[1] + this.address.street
    //   }
    //   let params = {
    //     id: id,
    //     status: status,
    //     type: type,
    //     // applyType: 1002,
    //     remark: remark,
    //     shippingAddress: address
    //   }
    //   this.$axiosPost(this.$api.order.handle, {...params}).then(res => {
    //     if (res.code === this.http.OK) {
    //       this.load()
    //       this.refuseDialogVisible = false
    //       this.refundDialogVisible = false
    //       this.$notify.success({ message: '操作成功' })
    //       if (status === 1003) {
    //         this.$emit('handleSuccess')
    //       }
    //       // this.$emit('handleSuccess')
    //     } else {
    //       this.$notify.error({ message: res.msg })
    //     }
    //   })
    // },
    // 处理订单
    handle (id, status, type, remark) {
      // status:1002同意，1003拒绝
      // type: UPDATE修改，DELETE删除
      let address = ''
      let params = {}
      if (this.type === 'returnGoods' && this.refundDialogVisible) {
        this.$refs.refundForm.validate((valid) => {
          if (valid) {
            address = this.address.contactName + ',' + this.address.contactPhone + ',' + this.address.city[0] + this.address.city[1] + this.address.street
            params = {
              id: id,
              status: status,
              type: type,
              // applyType: 1002,
              remark: remark,
              shippingAddress: address
            }
            this.handleOrder(params)
          } else {
            return false
          }
        })
      } else {
        params = {
          id: id,
          status: status,
          type: type,
          // applyType: 1002,
          remark: remark,
          shippingAddress: address
        }
        this.handleOrder(params)
      }
    },
    // 处理订单
    handleOrder (params) {
      this.$axiosPost(this.$api.order.handle, {...params}).then(res => {
        if (res.code === this.http.OK) {
          this.load()
          this.refuseDialogVisible = false
          this.refundDialogVisible = false
          this.$refs.refundForm && this.$refs.refundForm.resetFields()
          this.$notify.success({ message: '操作成功' })
          if (status === 1003) {
            this.$emit('handleSuccess')
          }
          // this.$emit('handleSuccess')
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    // 关闭
    closeDialog () {
      this.$refs.refundForm && this.$refs.refundForm.resetFields()
    },
    openRefuseDialog () {
      this.refuseDialogVisible = true
      if (this.interval) {
        clearInterval(this.interval)
        console.log('clear')
      }
    },
    // 退款
    refund () {
      if (this.data.refundInfo.payWay === 'WX') {
        this.wxRefund()
      } else if (this.data.refundInfo.payWay === 'ZFB') {
        this.alipayRefund()
      } else if (this.data.refundInfo.payWay === 'APPWX') {
        this.APPwxRefund()
      }
    },
    wxRefund () {
      this.$axiosRefund(this.$api.order.weChatRefund, {refundId: this.data.refundInfo.id}).then((res) => {
        if (res.code === this.http.OK) {
          this.$notify.success({ message: '微信退款成功' })
          this.$emit('handleSuccess')
          this.load()
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },
    alipayRefund () {
      this.$axiosRefund(this.$api.order.alipayRefund, {refundId: this.data.refundInfo.id}).then((res) => {
        if (res.code === this.http.OK) {
          this.$notify.success({ message: '支付宝退款成功' })
          this.$emit('handleSuccess')
          this.load()
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    },

    APPwxRefund () {
      this.$axiosRefund(this.$api.order.APPweChatRefund, {refundId: this.data.refundInfo.id}).then((res) => {
        if (res.code === this.http.OK) {
          this.$notify.success({ message: 'APP微信退款成功' })
          this.$emit('handleSuccess')
          this.load()
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    }
  }
}
</script>

<style scoped>
  .confirm{
   padding: 10px;
  }
</style>
