<template>
    <div>
      <div>
        <el-radio-group v-model="isRef" style="padding:10px;" @change="switchTableData">
          <el-radio-button label="has">已关联商品</el-radio-button>
          <el-radio-button label="no">未关联商品</el-radio-button>
        </el-radio-group>
      </div>
      <div v-if="isRef === 'has'">
        <p style="text-align: right;padding:10px;">
          <el-button type="danger" size="small" @click="$emit('cancel', cancelIds)">批量取消关联</el-button>
        </p>
        <el-table :data="tableDataHas.list" @selection-change="handleSelectionChange" stripe border style="width: 100%" :row-key="getRowKeys">
          <el-table-column align="center" prop="title" label="商品"></el-table-column>
          <el-table-column align="center" label="图片">
            <!-- 商品 -->
            <template slot-scope="scope">
              <div class="produceWrap">
                <img @click="$imgView(scope.row.coverImg)" style="height: 100px" :src="scope.row.coverImg" alt="">
              </div>
            </template>
          </el-table-column>

          <el-table-column align="center" prop="sellPrice" label="价格"></el-table-column>
          <!-- 操作按钮 -->
          <el-table-column align="center" type="selection" :reserve-selection="reserveSelection" label="操作"></el-table-column>

        </el-table>
        <!-- 分页 -->
        <el-pagination background layout="prev, pager, next, jumper, total" @current-change="loadHas" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
      </div>

      <div v-if="isRef === 'no'">
        <p style="text-align: right;padding:10px;">
          <el-button v-if="isRef ==='no'" type="danger" size="small" @click="$emit('contact', selectionIds)">批量关联</el-button>
        </p>
        <el-table :data="tableDataNo.list" @selection-change="handleSelectionChange" stripe border style="width: 100%" :row-key="getRowKeys">
          <el-table-column align="center" prop="title" label="商品"></el-table-column>
          <el-table-column align="center" label="图片">
            <!-- 商品 -->
            <template slot-scope="scope">
              <div class="produceWrap">
                <img @click="$imgView(scope.row.coverImg)" style="height: 100px" :src="scope.row.coverImg" alt="">
              </div>
            </template>
          </el-table-column>

          <el-table-column align="center" prop="sellPrice" label="价格"></el-table-column>
          <!-- 操作按钮 -->
          <el-table-column align="center" type="selection" :reserve-selection="reserveSelection" label="操作"></el-table-column>

        </el-table>
        <!-- 分页 -->
        <el-pagination background layout="prev, pager, next, jumper, total" @current-change="loadNo" :page-size="pageInfo2.pageSize" :total="pageInfo2.total"></el-pagination>
      </div>
    </div>
</template>

<script>
export default {
  props: {
    // activityId: {
    //   require: true
    // },
    tableDataHas: {
      require: true
    },
    tableDataNo: {
      require: true
    }
  },
  data () {
    return {
      isRef: 'has',
      searchBar: {},
      pageInfo: {
        page: 1,
        pageSize: 10,
        total: 10,
        isRef: 1
      },
      pageInfo2: {
        page: 1,
        pageSize: 10,
        total: 10,
        isRef: 0
      },
      goodsList: [],
      // 取消与关联 id
      cancelIds: [],
      selectionIds: [],
      reserveSelection: true
    }
  },
  created: function () {
    this.pageInfo.total = this.tableDataHas.total
    this.pageInfo2.total = this.tableDataNo.total
    this.goodsList.has = this.tableDataHas.list
    this.goodsList.no = this.tableDataNo.list
  },
  methods: {
    switchTableData (isRef) {
      if (isRef === 'has') {
        this.goodsList = this.tableDataHas.list
        this.pageInfo.total = this.tableDataHas.total
      } else {
        this.goodsList = this.tableDataNo.list
        this.pageInfo.total = this.tableDataNo.total
      }
    },
    // 全选 取消全选
    handleSelectionChange (selection) {
      if (this.isRef === 'has') {
        this.cancelIds = selection.map(item => {
          return item.id
        })
      } else {
        this.selectionIds = selection.map(item => {
          return item.id
        })
      }
    },
    getRowKeys (row) {
      return row.id
    },
    loadHas (page) {
      this.$emit('loadHas', page)
    },
    loadNo (page) {
      this.$emit('loadNo', page)
    }
  }
}
</script>
