<template>
  <div>
    <!-- 搜索栏 -->
    <div class="filterBar">
      <!-- 退款单号 -->
      <span>退款单号</span>
      <el-input style="width: 2.6rem" placeholder="请输入退款单号" v-model="afterName" clearable></el-input>
      <!-- 提交日期 -->
      <span>提交日期</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <!-- 查询按钮 -->
      <el-button type="primary">查询</el-button>
    </div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableAfterSaleList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="退款单号"></el-table-column>
        <el-table-column align="center" prop="row3" label="采购商"></el-table-column>
        <el-table-column align="center" prop="row4" label="提交日期"></el-table-column>
        <el-table-column align="center" prop="row5" label="供应商店铺名"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="340px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini">查看详情</el-button>
              <el-button type="success" round size="mini">联系供应商</el-button>
              <el-button type="danger" round size="mini">售后处理</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>

    <!-- 售后处理 -->
    <el-dialog title="售后" :visible.sync="afterSale" width="30%" center>
      <h5>商品名称</h5>
      <p>是的减肥路上的雷锋精神fsdfd第三方老师的积分是的分解落实到积分的房间里独守空房</p>
      <div class="columns">
        <label>店铺名称</label>
        <span>数码旗舰店</span>
      </div>
      <div class="columns">
        <label>采购商</label>
        <span>数码旗舰店</span>
      </div>
      <div class="columns">
        <label>支付金额/元</label>
        <span>数码旗舰店</span>
      </div>
      <div class="columns">
        <label>订单状态</label>
        <span>数码旗舰店</span>
      </div>
      <h5>商品名称</h5>
      <p>是的减肥路上的雷锋精神</p>
      <i>点击同意退款后，供应商收到采购商的货物（点击 同意退款后）款项才能回到采购方。</i>
      <span slot="footer" class="dialog-footer">
        <el-button @click="afterSale = false">拒绝退款</el-button>
        <el-button type="primary">同意退款</el-button>
      </span>
    </el-dialog>

    <!-- 联系供应商 -->
    <el-dialog title="供应商基本信息" :visible.sync="contactSupplier" width="30%" center>
      <div class="columns">
        <label>供应商</label>
        <span>数码旗舰店</span>
      </div>
      <div class="columns">
        <label>联系电话</label>
        <span>数码旗舰店</span>
      </div>
      <div class="columns">
        <label>店铺信息</label>
        <span>数码旗舰店</span>
      </div>
      <h5>联系地址</h5>
      <p>是的减肥路上的雷锋精神</p>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      afterName: '',
      state: '',
      end: '',
      // 数据列表
      tableAfterSaleList: [],
       // 分页
      pageInfo: {page: 1, pageSize: 10},
      afterSale: false,
      contactSupplier: true
    }
  },
  methods: {
    // 分页
    getData () {

    }
  }
}
</script>
<style lang="less" scoped>
h5{
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  color: #999999;
}
p{
  line-height: 32px;
  border-bottom: 1px solid #E4E4E4;
}
i{
  display: block;
  color: #FF3300;
  font-size: 12px;
  padding-top: 12px;
}
</style>

