<template>
  <div>
    <el-row>
      <el-col :span="8">
        <div class="store-top">
          <p>18</p>
          <span>今日新增成交量</span>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="store-top">
          <p>18</p>
          <span>本周订单数</span>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="store-top" style="border: 0">
          <p>18</p>
          <span>订单总数量</span>
        </div>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="22">
        <div class="store-title">
          <span :class="{active: activeTitle === 1}" @click="storeTitle(1)">全部订单</span>
          <span :class="{active: activeTitle === 2}" @click="storeTitle(2)">待支付</span>
          <span :class="{active: activeTitle === 3}" @click="storeTitle(3)">已付款</span>
          <span :class="{active: activeTitle === 4}" @click="storeTitle(4)">待收货</span>
          <span :class="{active: activeTitle === 5}" @click="storeTitle(5)" style="border: 0">已收货</span>
        </div>
      </el-col>
    </el-row>

    <!-- 搜索栏 -->
    <div class="filterBar">
      <!-- 订单号 -->
      <span>订单号</span>
      <el-input style="width: 2.6rem" placeholder="请输入名称" v-model="orderName" clearable></el-input>
      <!-- 发布日期 -->
      <span>发布日期</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
    </div>
    <div class="filterBar">
      <!-- 支付方式 -->
      <el-select v-model="payment" clearable placeholder="支付方式">
        <el-option
          v-for="item in paymentOption"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <!-- 订单状态 -->
      <el-select v-model="status" clearable placeholder="订单状态">
        <el-option
          v-for="item in orderStatus"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <!-- 店铺名称 -->
      <span>店铺名称</span>
      <el-input style="width: 2.6rem" placeholder="请输入姓名" v-model="storeName" clearable></el-input>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
    </div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableOrderList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="订单号"></el-table-column>
        <el-table-column align="center" prop="row3" label="发布店铺"></el-table-column>
        <el-table-column align="center" prop="row4" label="收货人"></el-table-column>
        <el-table-column align="center" prop="row5" label="配送方式"></el-table-column>
        <el-table-column align="center" prop="row6" label="订单状态"></el-table-column>
        <el-table-column align="center" prop="row3" label="付款方式"></el-table-column>
        <el-table-column align="center" prop="row4" label="提交订单时间"></el-table-column>
        <el-table-column align="center" prop="row5" label="商品数量"></el-table-column>
        <el-table-column align="center" prop="row6" label="金额/元"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="120px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="seeAbout(scope.row)">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>

    <!-- 查看详情弹出层 -->
    <el-dialog title="订单详情" :visible.sync="OrderDetail" width="80%" center>
      <div class="order-top">
        <img src="../../images/avatar.jpg" alt="">
        <div class="order-status">
          <div class="name" style="margin-top: 35px">
            <label>订单状态</label>
            <span>已支付</span>
          </div>
          <div class="name">
            <label>订单状态</label>
            <span>已支付</span>
          </div>
        </div>
      </div>
      <div class="main">
        <el-row>
          <el-col :span="4">
            <div class="key">商品标题</div>
          </el-col>
          <el-col :span="8">
            <div class="value">收到了福建师范</div>
          </el-col>
          <el-col :span="4">
            <div class="key">商品数量</div>
          </el-col>
          <el-col :span="3">
            <div class="value">11</div>
          </el-col>
          <el-col :span="4">
            <div class="key">是否退货</div>
          </el-col>
          <el-col :span="1">
            <div class="value">否</div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            <div class="key">订单状态</div>
          </el-col>
          <el-col :span="8">
            <div class="value">已支付</div>
          </el-col>
          <el-col :span="4">
            <div class="key">物流状态</div>
          </el-col>
          <el-col :span="8">
            <div class="value">已发货</div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            <div class="key">订单号</div>
          </el-col>
          <el-col :span="8">
            <div class="value">已支付</div>
          </el-col>
          <el-col :span="4">
            <div class="key">支付金额</div>
          </el-col>
          <el-col :span="8">
            <div class="value">已发货</div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            <div class="key">商品规格</div>
          </el-col>
          <el-col :span="8">
            <div class="value">已支付</div>
          </el-col>
          <el-col :span="4">
            <div class="key">商品总数量</div>
          </el-col>
          <el-col :span="8">
            <div class="value">已发货</div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            <div class="key">提交订单时间</div>
          </el-col>
          <el-col :span="20">
            <div class="value">3423423</div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            <div class="key">支付订单时间</div>
          </el-col>
          <el-col :span="20">
            <div class="value">3423423</div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            <div class="key">收货地址</div>
          </el-col>
          <el-col :span="20">
            <div class="value">3423423</div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            <div class="key">收货人</div>
          </el-col>
          <el-col :span="8">
            <div class="value">已支付</div>
          </el-col>
          <el-col :span="4">
            <div class="key">联系电话</div>
          </el-col>
          <el-col :span="8">
            <div class="value">已发货</div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            <div class="key">物流公司</div>
          </el-col>
          <el-col :span="8">
            <div class="value">已支付</div>
          </el-col>
          <el-col :span="4">
            <div class="key">快递单号</div>
          </el-col>
          <el-col :span="8">
            <div class="value">已发货</div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            <div class="key">支付方式</div>
          </el-col>
          <el-col :span="20">
            <div class="value">3423423</div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            <div class="key">购买账号</div>
          </el-col>
          <el-col :span="20">
            <div class="value">3423423</div>
          </el-col>
        </el-row>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      activeTitle: 1,
      orderName: '',
      state: '',
      end: '',
      storeName: '',
      payment: '',
      paymentOption: [{
        value: '1',
        label: '支付宝'
      },{
        value: '2',
        label: '微信'
      },{
        value: '3',
        label: '银行卡'
      }],
      status: '',
      orderStatus: [{
        value: '1',
        label: '代发货'
      },{
        value: '2',
        label: '已发货'
      },{
        value: '3',
        label: '代付款'
      },{
        value: '4',
        label: '已付款'
      },{
        value: '5',
        label: '已收货'
      },{
        value: '6',
        label: '退款/售后'
      }],
      // 数据列表
      tableOrderList: [],
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      OrderDetail: false
    }
  },
  methods: {
    // 菜单选择
    storeTitle (data) {
      this.activeTitle = data
    },
    // 分页
    getData () {

    },
    // 查看详情
    seeAbout () {

    }
  }
}
</script>
<style lang="less" scoped>
.store-title{
  display: inline-block;
  margin-top: 60px;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  span{
    display: inline-block;
    float: left;
    border-right: 1px solid #dcdfe6;
    padding: 0 28px;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    cursor: pointer;
  }
}
.active{
  background: #409EFF;
  color: #fff;
}
// 弹出层
.order-top{
  display: flex;
  height: 120px;
  img{
    flex: 0 0 120px;
    height: 120px;
    border: 1px solid #ccc;
  }
  .order-status{
    flex: 1;
    .name{
      padding: 12px 6px;
      label{
        color: #B3B3B3;
      }
    }
  }
}
.main{
  margin-top: 20px;
  border: 1px solid #ccc;
  .key{
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #F2F2F2;
    border-bottom: 1px solid #ccc;
  }
  .value{
    height: 48px;
    line-height: 48px;
    text-indent: 12px;
    color: #1ABC9C;
    border-bottom: 1px solid #ccc;
  }
}
</style>

