<template>
  <div class="addDept">
    
    
  </div>
</template>
<script>
export default {
  data () {
    return {
      labelWidth: '120px',
    }
  },
  created () {
  },

  methods: {
  }
}
</script>
<style lang=less>
.addDept {
  .row {
    border: 1px solid #e4e5e7;
    border-bottom: 0;
  }
  .checkGroup {
    text-align: center;
    >label {
      margin-right: 30px;
    }
  }
  .col-left {
    padding: .1rem;
  }
  .col-right {
    border-left: 1px solid #e4e5e7;
    /*padding: .1rem;*/

  }
  .col-bottom{
    padding-bottom: 0;
  }
  .row-bottom {
    border: 1px solid #e4e5e7;
  }
  .label {
    font-size: .16rem;
    padding: .04rem .06rem;
  }
  // input,
  // textarea {
  //   border: 1px solid #dddee1;
  //   outline: 0;
  //   font-size: .16rem;
  //   padding: .04rem .06rem;
  //   border-radius: 3px;
  //   width: 50%;
  // }
  .qxsd {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    min-height: 100px;
    >section {
      border-right: 1px solid #e4e5e7;
      .checkbox-title {
        margin: .2rem .2rem;
        display: block;
        &::after {
          content: '';
          display: block;
          width: 100%;
          margin-top: .2rem;
          background: #e4e5e7;
          height: 2px;
        }
      }
      .checkbox-item {
        // margin: .2rem .2rem;
      }
    }
  }

  .L2 {
    border-bottom: 1px solid  #e4e5e7;
  }
  .L2_left {
    border-left: 1px solid  #e4e5e7;
  }
  .L3_left {
    border-left: 1px solid  #e4e5e7;
  }

  .L3 {
    border-bottom: 1px solid  #e4e5e7;
  }

  .L3:only-child,
  .L3:last-child,
   {
    border: none;
  }
  .L3_title {

    display: flex;
    align-items: center;
    justify-content: space-around;
    div {
      // margin: .2rem .2rem;
    }
  }
  .L1_menu,
  .L2_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    span {
      // margin: .1rem .1rem;
    }
  }
  .L_title {
    font-weight: 600;
  }
}
</style>
