<template>
	<div style="padding-top: 20px;" >
	  <!--列表-->
	  
	  <div class="filterBar">
	  	
	  	<el-row>
		  	<el-col :span="6">
			  	<el-input placeholder="请输入内容" v-model="input4">
				    <template slot="append">供应商</template>
				  </el-input>
			  </el-col>
			  <el-col :span="12">
			  	<div class="input-suffix" style="margin-left: 20px;">
					     金额范围：
					  <el-input
					  	style="display: inline-block;width: 150px;margin-right: 20px;"
					    placeholder=""
					    v-model="input2">
					  </el-input>
					  <el-input
					  	style="display: inline-block;width: 150px;"
					    placeholder=""
					    v-model="input21">
					  </el-input>
					</div>
			  </el-col>
			</el-row>
			
	  	<div style="padding-top: 20px;">
	      <span>注册日期范围:</span>
	      <el-date-picker
	        v-model="searchBar.dateTime"
	        type="datetimerange"
	        range-separator="至"
	        value-format="yyyy-MM-dd HH:mm:ss"
	        start-placeholder="开始日期"
	        end-placeholder="结束日期">
	      </el-date-picker>
	      <el-button @click="load()" type="primary">查询</el-button>
      </div>
     
    </div>
    
    
    <el-table :data='tableData' stripe style='width:100%;'>
      <el-table-column align="center" prop="menuName" label="姓名">姓名</el-table-column>
      <el-table-column align="center" prop="createTime" label="联系电话" >联系电话</el-table-column>
      <el-table-column align="center" prop="createUserName" label="注册日期 ">注册日期</el-table-column>
      <el-table-column align="center" prop="ip" label="公司名称">公司名称</el-table-column>
      <el-table-column align="center" prop="operation" label='详情' width="200">
        <template slot-scope="scope">
        	<el-button type="text" size="mini" @click="dialogVisible = true">查看详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    
    <el-pagination background layout="prev, pager, next, jumper, total" @current-change="load" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    
    <el-dialog
		  title="供应商详情"
		  :visible.sync="dialogVisible"
		  width="50%">
		  <ul class="supply-list">
		  	<li>
		  		<div class="left-labal">
		  			姓名
		  		</div>
		  		<div class="right-labal">
		  			蒋辉
		  		</div>
		  	</li>
		  	<li>
		  		<div class="left-labal">
		  			身份证号码
		  		</div>
		  		<div class="right-labal">
		  			4421329849848308923
		  		</div>
		  	</li>
		  	<li>
		  		<div class="left-labal">
		  			身份证正反面
		  		</div>
		  		<div class="right-labal">
		  			<img src="../../../../src/images/avatar.jpg"/>
		  			<img src="../../../../src/images/avatar.jpg"/>
		  			<el-button style="width: 40px;height: 40px; vertical-align: top;" type="text" size="mini">下载</el-button>
		  		</div>
		  	</li>
		  	<li>
		  		<div class="left-labal">
		  			注册时间
		  		</div>
		  		<div class="right-labal">
		  			2018-07-07 16:58:11
		  		</div>
		  	</li>
		  	<li>
		  		<div class="left-labal">
		  			联系电话
		  		</div>
		  		<div class="right-labal">
		  			1388811111
		  		</div>
		  	</li>
		  	<li>
		  		<div class="left-labal">
		  			公司名称
		  		</div>
		  		<div class="right-labal">
		  			深圳市网络科技有限公司
		  		</div>
		  	</li>
		  	<li>
		  		<div class="left-labal"> 
		  			营业执照
		  		</div>
		  		<div class="right-labal">
		  			<img src="../../../../src/images/avatar.jpg"/>
		  			<el-button style="width: 40px;height: 40px; vertical-align: top;" type="text" size="mini">下载</el-button>
		  		</div>
		  	</li>
		  	<li>
		  		<div class="left-labal"> 
		  			营业执照有效期
		  		</div>
		  		<div class="right-labal">
		  			2017-09-77
		  		</div>
		  	</li>
		  	<li>
		  		<div class="left-labal"> 
		  			是否可以开具 17% 增值税发票
		  		</div>
		  		<div class="right-labal">
		  			是
		  		</div>
		  	</li>
		  	<li>
		  		<div class="left-labal"> 
		  			邀请人
		  		</div>
		  		<div class="right-labal">
		  			无
		  		</div>
		  	</li>
		  	<li>
		  		<div class="left-labal"> 
		  			是否拥有 “芗林银联卡”
		  		</div>
		  		<div class="right-labal">
		  			是
		  		</div>
		  	</li>
		  </ul>
		  <span slot="footer" class="dialog-footer">
		    <!--<el-button @click="dialogVisible = false">取 消</el-button>-->
		    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
		  </span>
		</el-dialog>
	  
	</div>
  
</template>
<script>
export default {
  components: {
  },
  data () {
    return {
    	searchBar: {},
      dateTotal: '2,413,984',
      dialogVisible: false,
      userData: '',
      form: {
          money: '',
      },
      // 表格数据
      tableData: [{"id":147,"createTime":"2018-07-17 15:25:23","trueName":"客服","userName":"客服","useStatusValue":"正常","branchShopId":44,"jobNum":"0002","branchShopName":"深圳分店","useStatus":0},{"id":146,"createTime":"2018-07-13 16:21:09","trueName":"地点","userName":"测试","useStatusValue":"已停用","branchShopId":44,"jobNum":"212","branchShopName":"深圳分店","useStatus":1},{"id":145,"createTime":"2018-07-04 19:06:44","trueName":"无名","userName":"测试业务员","useStatusValue":"正常","branchShopId":48,"jobNum":"2233444","branchShopName":"测试分店1","useStatus":0},{"id":144,"createTime":"2018-06-28 14:24:46","trueName":"建华","userName":"建华","useStatusValue":"正常","branchShopId":0,"useStatus":0},{"id":143,"createTime":"2018-06-28 13:56:35","trueName":"测试11212","userName":"wuming2","useStatusValue":"正常","branchShopId":0,"jobNum":"1212","useStatus":0},{"id":142,"createTime":"2018-06-28 11:10:18","trueName":"测试","userName":"wuming1","useStatusValue":"正常","branchShopId":0,"jobNum":"012","useStatus":0},{"id":141,"createTime":"2018-06-26 21:40:03","trueName":"123","userName":"abc123","useStatusValue":"正常","branchShopId":0,"jobNum":"","useStatus":0},{"id":140,"createTime":"2018-06-26 20:11:26","trueName":"sad","userName":"订单列表","useStatusValue":"正常","branchShopId":46,"jobNum":"","branchShopName":"江西分店","useStatus":0},{"id":139,"createTime":"2018-07-05 16:41:49","trueName":"新人","userName":"新人","useStatusValue":"正常","branchShopId":0,"jobNum":"","useStatus":0},{"id":138,"createTime":"2018-06-26 19:51:43","trueName":"用户","userName":"用户","useStatusValue":"正常","branchShopId":0,"jobNum":"","useStatus":0}],
      pageInfo: {
        page: 1,
        pageSize: 10,
        total: 21
      },
      input2: '',
      input21: '',
      input4: ''
    }
  },
  created: function () {
    //this.load()
  },
  methods: {
  	load (page) {
      if (page) this.pageInfo.page = page
      this.$axiosPost(this.$api.agreement.getLogListByPage, {...this.pageInfo, keyWord: this.keyWord}).then(res => {
        if (res.code === '1000') {
          this.tableData = res.data.list
          this.pageInfo.total = res.data.total
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    }
  }
}
</script>

<style type="text/css" scoped>
.supply-list{
	border: 1px solid #ccc;
}
.supply-list li{
	height: 40px;
	border-bottom: 1px solid #ccc;
	padding: 0 10px;
}
.supply-list li:last-child{
	border-bottom: none;
}
.supply-list li .left-labal{
	float: left;
	text-align: left;
	height: 40px;
	line-height: 40px;
}
.supply-list li .right-labal{
	float: right;
	text-align: right;
	height: 40px;
	line-height: 40px;
}
.supply-list li .right-labal img{
	display: inline-block;
	margin: 5px;
	width: 30px;
	height: 30px;
}

</style>

