<template>
	<div style="padding-top: 20px;" >
		<!--统计-->
		<div style="border: 1px solid #ccc;">
	  	<el-row class="row-bt">
			  <el-col :span="16">
			  	<div class="grid-content first">
			  		<div class="hd-title tk">收支数据统计</div>
			  		
			  		<el-row>
						  <el-col :span="8">
						  	<div class="grid-item br">
						  		<h4>91,000</h4>
						  		<p>今日支出 （采购商）</p>
						  	</div>
						  </el-col>
						  <el-col :span="8">
						  	<div class="grid-item br">
						  		<h4>125,912</h4>
						  		<p>今日收入 （供应商）</p>
						  	</div>
						  </el-col>
						  <el-col :span="8">
						  	<div class="grid-item">
						  		<h4>216,612</h4>
						  		<p>今日共收入</p>
						  	</div>
						  </el-col>
						</el-row>
			  		
			  	</div>
			  </el-col>
			  <el-col :span="8">
			  	<div class="grid-content">
			  		<div class="hd-title tk">
			  			<el-button @click="changeDate(7)" type="text">七天</el-button>
			  			<el-button @click="changeDate(14)" type="text">14天</el-button>
			  			<el-button @click="changeDate(30)" type="text">30天</el-button>
			  		</div>
			  		<el-row>
						  <el-col :span="24">
						  	<div class="grid-item">
								  <h4>{{dateTotal}}</h4>
					  			<p>七天总收入</p>
								</div>
						  </el-col>
						</el-row>
			  	</div>
			  </el-col>
			</el-row>
			<el-row class="row-bt">
			  <el-col :span="16">
			  	<div class="grid-content first">
			  		<el-row>
						  <el-col :span="12">
						  	<div class="grid-item br">
						  		<h4>91,000</h4>
						  		<p>总收入（采购商）</p>
						  	</div>
						  </el-col>
						  <el-col :span="12">
						  	<div class="grid-item">
						  		<h4>125,912</h4>
						  		<p>总收入（供应商）</p>
						  	</div>
						  </el-col>
						</el-row>
			  	</div>
			  </el-col>
			  <el-col :span="8">
			  	<div class="grid-content">
			  		<div class="grid-item">
				  		<h4>2,413,984</h4>
				  		<p>成交总金额</p>
			  		</div>
			  	</div>
			  </el-col>
			</el-row>
			<el-row>
			  <el-col :span="16">
			  	<div class="grid-content first">
			  		<div class="hd-title tk">
			  			<el-button @click="changeDate(30)" type="text">退款记录</el-button>
			  		</div>
			  		<el-row>
						  <el-col :span="12">
						  	<div class="grid-item br">
						  		<h4>91,000</h4>
						  		<p>退款总金额</p>
						  	</div>
						  </el-col>
						  <el-col :span="12">
						  	<div class="grid-item">
						  		<h4>125,912</h4>
						  		<p>平台费用（待）</p>
						  	</div>
						  </el-col>
						</el-row>
			  	</div>
			  </el-col>
			  <el-col :span="8">
			  	<div class="grid-content">
			  		<div class="hd-title jl">
			  			<el-button @click="changeDate(30)" type="text">提现记录</el-button>
			  		</div>
			  		<div class="hd-title tx">
			  			<el-button @click="dialogFormVisible = true" type="text">提现</el-button>
			  		</div>
			  		<el-row>
						  <el-col :span="24">
						  	<div class="grid-item">
						  		<h4>2,413,984</h4>
						  		<p>平台账户</p>
					  		</div>
						  </el-col>
						</el-row>
			  	</div>
			  </el-col>
			</el-row>
			
			
			<!---->
			<el-dialog title="提现" :visible.sync="dialogFormVisible">
			  <el-form :model="form">
			    <el-form-item label="提现金额" label-width="120px">
			      <el-input type="number" min="0" v-model="form.money" auto-complete="off"></el-input>
			    </el-form-item>
			  </el-form>
			  <div slot="footer" class="dialog-footer">
			    <el-button @click="dialogFormVisible = false">取 消</el-button>
			    <el-button type="primary" @click="dialogFormVisible = false,dialogVisible=true">确 定</el-button>
			  </div>
			</el-dialog>
			
			<el-dialog
			  title="提现成功"
			  :visible.sync="dialogVisible"
			  width="30%">
			  <h4>20000000000</h4>
			  <span>提现金额</span>
			  <span slot="footer" class="dialog-footer">
			    <el-button @click="dialogVisible = false">取 消</el-button>
			    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
			  </span>
			</el-dialog>
	  </div>
	  <!--列表-->
	  
	  <div class="filterBar">
	  	
	  	<el-row>
		  	<el-col :span="6">
			  	<el-input placeholder="请输入内容" v-model="input4">
				    <template slot="append">名字</template>
				  </el-input>
			  </el-col>
			  <el-col :span="12">
			  	<div class="input-suffix" style="margin-left: 20px;">
					     金额范围：
					  <el-input
					  	style="display: inline-block;width: 150px;margin-right: 20px;"
					    placeholder=""
					    v-model="input2">
					  </el-input>
					  <el-input
					  	style="display: inline-block;width: 150px;"
					    placeholder=""
					    v-model="input21">
					  </el-input>
					</div>
			  </el-col>
			</el-row>
			
	  	<div style="padding-top: 20px;">
	      <span>日期:</span>
	      <el-date-picker
	        v-model="searchBar.dateTime"
	        type="datetimerange"
	        range-separator="至"
	        value-format="yyyy-MM-dd HH:mm:ss"
	        start-placeholder="开始日期"
	        end-placeholder="结束日期">
	      </el-date-picker>
	      
	      <span>退款方式:</span>
	      <el-select clearable style="width:2rem" v-model="searchBar.status" placeholder="请选择">
	        <el-option v-for="(item, index) in [ '原路退回', '待处理']"  :key="index" :label="item" :value="index"></el-option>
	      </el-select>
	      
	      <span>付款方式:</span>
	      <el-select clearable style="width:2rem" v-model="searchBar.status" placeholder="请选择">
	        <el-option v-for="(item, index) in [ '支付宝', '微信','银联卡','芗林银联卡']"  :key="index" :label="item" :value="index"></el-option>
	      </el-select>
	      
	      <el-button @click="load()" type="primary">查询</el-button>
      </div>
     
    </div>
    
    
    <el-table :data='tableData' stripe style='width:100%;'>
      <el-table-column align="center" prop="menuName" label="操作者">操作者</el-table-column>
      <el-table-column align="center" prop="createTime" label="操作日期" >操作日期</el-table-column>
      <el-table-column align="center" prop="createUserName" label="IP地址">IP地址</el-table-column>
      <el-table-column align="center" prop="ip" label="操作记录">操作记录</el-table-column>
    </el-table>
    
    <el-pagination background layout="prev, pager, next, jumper, total" @current-change="load" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
	  
	</div>
  
</template>
<script>
export default {
  components: {
  },
  data () {
    return {
    	searchBar: {},
      dateTotal: '2,413,984',
      dialogVisible: false,
      dialogFormVisible: false,
      form: {
          money: '',
      },
      tableData: [],
      pageInfo: {
        page: 1,
        pageSize: 10,
        total: 21
      },
      input2: '',
      input21: '',
      input4: ''
    }
  },
  created: function () {
    //this.load()
  },
  methods: {
  	changeDate(date){
  		if(date === 7){
  			this.dateTotal = 77777777777
  		}else if(date === 14){
  			this.dateTotal = 14444444444
  		}else if(date === 30){
  			this.dateTotal = 30000000000
  		}
  	},
  	load (page) {
      if (page) this.pageInfo.page = page
      this.$axiosPost(this.$api.agreement.getLogListByPage, {...this.pageInfo, keyWord: this.keyWord}).then(res => {
        if (res.code === '1000') {
          this.tableData = res.data.list
          this.pageInfo.total = res.data.total
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    }
  }
}
</script>

<style type="text/css" scoped>
.row-bt{
	border-bottom: 1px solid #ccc;
}
.grid-content{
	position: relative;
}
.hd-title{
	position: absolute;
	z-index: 99;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
}
.tk{
	left: 20px;
	top: 0;
}
.jl{
	right: 20px;
	top: 0;
}
.tx{
	right: 20px;
	bottom: -20px;
}
.first{
	height: 150px; 
	border-right: 1px solid #ccc;
}
.grid-item{
	margin-top: 41px;
	text-align: center;
	line-height: 34px;
}
h4{
	font-size: 36px;
}
.br{
	border-right: 1px solid #ccc;
}
</style>

