<template>
	<div style="padding-top: 20px;" >
		<!--统计-->
		<div style="border: 1px solid #ccc;">	
  		<el-row>
			  <el-col :span="6">
			  	<div class="grid-item br">
			  		<h4 class="red">91,000</h4>
			  		<p>本月退款金额</p>
			  	</div>
			  </el-col>
			  <el-col :span="6">
			  	<div class="grid-item br">
			  		<h4 class="red">125,912</h4>
			  		<p>本月退款次数</p>
			  	</div>
			  </el-col>
			  <el-col :span="6">
			  	<div class="grid-item br">
			  		<h4>125,912</h4>
			  		<p>退款总次数</p>
			  	</div>
			  </el-col>
			  <el-col :span="6">
			  	<div class="grid-item">
			  		<h4 class="red">216,612</h4>
			  		<p>退款总金额</p>
			  	</div>
			  </el-col>
			</el-row>
	  </div>
	  <!--列表-->
	  
	  <div class="filterBar">
			
	  	<div style="padding-top: 20px;">
	      <span>提现日期:</span>
	      <el-date-picker
	        v-model="searchBar.dateTime"
	        type="datetimerange"
	        range-separator="至"
	        value-format="yyyy-MM-dd HH:mm:ss"
	        start-placeholder="开始日期"
	        end-placeholder="结束日期">
	      </el-date-picker>
	      
	      <el-button @click="load()" type="primary">查询</el-button>
	      
	      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
      </div>
     
    </div>
    
    
    <el-table :data='tableData' stripe style='width:100%;'>
      <el-table-column align="center" prop="menuName" label="操作人员">操作人员</el-table-column>
      <el-table-column align="center" prop="createTime" label="操作日期" >联系电话</el-table-column>
      <el-table-column align="center" prop="createUserName" label="IP地址">退回方式</el-table-column>
      <el-table-column align="center" prop="ip" label="操作记录">退款金额</el-table-column>
      <el-table-column align="center" prop="ip" label="操作记录">处理时间</el-table-column>
      <el-table-column align="center" prop="ip" label="操作记录">状态</el-table-column>
    </el-table>
    <div>
    	<el-button type="success" style="float: left;">当前数据导出</el-button>
    	<el-pagination background layout="prev, pager, next, jumper, total" @current-change="load" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
	  	
    </div>
    
	</div>
  
</template>
<script>
export default {
  components: {
  },
  data () {
    return {
    	searchBar: {},
      dateTotal: '2,413,984',
      dialogVisible: false,
      dialogFormVisible: false,
      form: {
          money: '',
      },
      tableData: [],
      pageInfo: {
        page: 1,
        pageSize: 10,
        total: 21
      },
      input2: '',
      input21: '',
      input4: ''
    }
  },
  created: function () {
    //this.load()
  },
  methods: {
  	changeDate(date){
  		console.log(date)
  		if(date === 7){
  			this.dateTotal = 77777777777
  		}else if(date === 14){
  			this.dateTotal = 14444444444
  		}else if(date === 30){
  			this.dateTotal = 30000000000
  		}
  	},
  	load (page) {
      if (page) this.pageInfo.page = page
      this.$axiosPost(this.$api.agreement.getLogListByPage, {...this.pageInfo, keyWord: this.keyWord}).then(res => {
        if (res.code === '1000') {
          this.tableData = res.data.list
          this.pageInfo.total = res.data.total
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    }
  }
}
</script>

<style type="text/css" scoped>
	.grid-item{
		margin: 30px 0;
		text-align: center;
		line-height: 40px;
	}
	h4{
		font-size: 36px;
	}
	.red{
		color: red;
	}
	.br{
		border-right: 1px solid #ccc;
	}
</style>

