<template>
	<div style="padding-top: 20px;" >
		<!--统计-->
		<div style="border: 1px solid #ccc;">	
  		<el-row>
			  <el-col :span="4">
			  	<div class="grid-item br">
			  		<h4 class="red">91,000</h4>
			  		<p>待处理</p>
			  	</div>
			  </el-col>
			  <el-col :span="4">
			  	<div class="grid-item br">
			  		<h4 class="red">2</h4>
			  		<p>今日退款记录</p>
			  	</div>
			  </el-col>
			  <el-col :span="4">
			  	<div class="grid-item br">
			  		<h4>12</h4>
			  		<p>本周新增</p>
			  	</div>
			  </el-col>
			  <el-col :span="4">
			  	<div class="grid-item br">
			  		<h4 class="red">216,612</h4>
			  		<p>本月新增</p>
			  	</div>
			  </el-col>
			  <el-col :span="4">
			  	<div class="grid-item br">
			  		<h4 class="red">12</h4>
			  		<p>总退款数</p>
			  	</div>
			  </el-col>
			  <el-col :span="4">
			  	<div class="grid-item">
			  		<h4 class="red">216,612</h4>
			  		<p>退款总金额</p>
			  	</div>
			  </el-col>
			</el-row>
	  </div>
	  <!--列表-->
	  
	  <div class="filterBar">
	  	<div style="padding-top: 20px;">
	  		<div style="display: inline-block;width: 300px;margin-right: 20px;">
	  			<el-input placeholder="请输入内容" v-model="input4">
				    <template slot="append">名字</template>
				  </el-input>
	  		</div>
	  		
	      <span>申请日期:</span>
	      <el-date-picker
	        v-model="searchBar.dateTime"
	        type="datetimerange"
	        range-separator="至"
	        value-format="yyyy-MM-dd HH:mm:ss"
	        start-placeholder="开始日期"
	        end-placeholder="结束日期">
	      </el-date-picker>
	      
	      <el-button @click="load()" type="primary">查询</el-button>
	      
	      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
      </div>
     
    </div>
    
    
    <el-table :data='tableData' stripe style='width:100%;'>
      <el-table-column align="center" prop="menuName" label="操作人员">操作人员</el-table-column>
      <el-table-column align="center" prop="createTime" label="操作日期" >联系电话</el-table-column>
      <el-table-column align="center" prop="createUserName" label="IP地址">退回方式</el-table-column>
      <el-table-column align="center" prop="ip" label="操作记录">退款金额</el-table-column>
      <el-table-column align="center" prop="ip" label="操作记录">处理时间</el-table-column>
      <el-table-column align="center" prop="ip" label="操作记录">
      	<template slot-scope="scope">
          <el-button type="text" size="mini" @click="dialogVisible = true">更改</el-button>
        </template>
      </el-table-column>
    </el-table>
    
    
    
    <div>
    	<el-button type="success" style="float: left;">当前数据导出</el-button>
    	<el-pagination background layout="prev, pager, next, jumper, total" @current-change="load" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
	  	
    </div>
    
    
    <el-dialog
		  title="申请售后渠道"
		  :visible.sync="dialogVisible"
		  width="30%">
		  <p>退款金额: 500元</p>
		  <p>申请方式：退款退货</p>
		  <div>
		  	<span>退款方式:</span>
	      <el-select clearable style="width:2rem" v-model="searchBar.status" placeholder="请选择">
	        <el-option v-for="(item, index) in [ '原路退回', '待处理']"  :key="index" :label="item" :value="index"></el-option>
	      </el-select>
		  </div>
		  <div>
		  	<el-button type="primary">不同意</el-button>
		  	<el-button type="primary">同意</el-button>
		  </div>
		  <span slot="footer" class="dialog-footer">
		    <el-button @click="dialogVisible = false">取 消</el-button>
		    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
		  </span>
		</el-dialog>
		
		
		<el-dialog
		  title="申请售后渠道"
		  :visible.sync="dialogFormVisible"
		  width="30%">
		  <p>退款金额: 500元</p>
		  <p>申请方式：退款退货</p>
		  <div>
		  	<el-button type="primary">不同意</el-button>
		  	<el-button type="primary">同意</el-button>
		  </div>
		  <span slot="footer" class="dialog-footer">
		    <el-button @click="dialogFormVisible = false">取 消</el-button>
		    <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
		  </span>
		</el-dialog>
    
	</div>
  
</template>
<script>
export default {
  components: {
  },
  data () {
    return {
    	searchBar: {},
      dateTotal: '2,413,984',
      dialogVisible: false,
      dialogFormVisible: false,
      form: {
          money: '',
      },
      tableData: [{menuName:"sdkaf",createTime:"sdkaf",createUserName:"sdkaf",ip:"sdkaf",}],
      pageInfo: {
        page: 1,
        pageSize: 10,
        total: 21
      },
      input2: '',
      input21: '',
      input4: ''
    }
  },
  created: function () {
    //this.load()
  },
  methods: {
  	changeDate(date){
  		console.log(date)
  		if(date === 7){
  			this.dateTotal = 77777777777
  		}else if(date === 14){
  			this.dateTotal = 14444444444
  		}else if(date === 30){
  			this.dateTotal = 30000000000
  		}
  	},
  	load (page) {
      if (page) this.pageInfo.page = page
      this.$axiosPost(this.$api.agreement.getLogListByPage, {...this.pageInfo, keyWord: this.keyWord}).then(res => {
        if (res.code === '1000') {
          this.tableData = res.data.list
          this.pageInfo.total = res.data.total
        } else {
          this.$notify.error({ message: res.msg })
        }
      })
    }
  }
}
</script>

<style type="text/css" scoped>
	.grid-item{
		margin: 30px 0;
		text-align: center;
		line-height: 40px;
	}
	h4{
		font-size: 36px;
	}
	.red{
		color: red;
	}
	.br{
		border-right: 1px solid #ccc;
	}
</style>

