<template>
  <div>

  <!-- 搜索 -->
    <div class="filterBar">
      <!-- 采购商 -->
      <span>医生ID</span>
      <el-input style="width: 2.6rem" placeholder="" v-model="id" clearable></el-input>
     
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>

      <el-button type="primary" @click="writeBackVisible = true">新增医生</el-button>
      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
    </div>
    <!-- 表格数据 -->
    <div class="store-detail">

      <el-table :data="tableFeedList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="id" label="医生ID"></el-table-column>
        <el-table-column align="center" prop="name" label="医生姓名"></el-table-column>
        <el-table-column align="center" prop="sex" label="性别"></el-table-column>
        <el-table-column align="center" prop="briday" label="出生年月"></el-table-column>
        <el-table-column align="center" prop="tel" label="手机号码"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="200px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="writeBackVisible = true">修改</el-button>
              <el-button type="primary" round size="mini" @click="del(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>

    

    <!-- 回复弹出层 -->
    <el-dialog :visible.sync="writeBackVisible" title="新增医生信息" center>
      <el-form :model="form">
        <el-form-item label="医生ID" :label-width="formLabelWidth">
          <el-input v-model="form.id" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="医生姓名" :label-width="formLabelWidth">
          <el-input v-model="form.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="所属医院" :label-width="formLabelWidth">
          <el-input v-model="form.address" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="科室" :label-width="formLabelWidth">
          <el-select v-model="form.region" placeholder="请选择">
            <el-option label="外科" value="shanghai"></el-option>
            <el-option label="内科" value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="职位" :label-width="formLabelWidth">
          <el-select v-model="form.position" placeholder="请选择">
            <el-option label="医生" value="shanghai"></el-option>
            <el-option label="护士" value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="工号" :label-width="formLabelWidth">
          <el-input v-model="form.positionId" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="手机号" :label-width="formLabelWidth">
          <el-input v-model="form.tel" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="诊断次数" :label-width="formLabelWidth">
          <el-input v-model="form.num" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="writeBackVisible = false">确认</el-button>
        <el-button @click="writeBackVisible = false">取 消</el-button>
        
      </span>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      id: "",
      // 数据列表
      tableFeedList: [{
        id:"1",
        name:"张三",
        sex:"女",
        briday:"1978-08-09",
        tel:"13800000000",
        num:"5"
      },{
        id:"2",
        name:"李四",
        sex:"女",
        briday:"1999-08-09",
        tel:"13899999999",
        num:"9"
      }],
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      prcourerVisible: false,
      footVisible: true,
      writeBackVisible: false,
      formLabelWidth: "120px",
      form: {
          id: '',
          name: '',
          region: '',
          position: '',
          address: '',
          positionId: '',
          num: '',
          tel: ''
        },
    }
  },
  methods: {
    // 查看详情
    seeAbout () {

    },
    del () {

    },
    // 分页
    getData () {

    },
    // 回复按钮
    writeBack () {
      this.writeBackVisible = true
    },
    // 确认回复
    writeBackBtn () {
      this.writeBackVisible = false
      this.prcourerVisible = false
    }
  }
}
</script>
<style lang="less" scoped>
.response{
  h5{
    color: #1ABC9C;
    font-size: 16px;
    margin: 20px 0 16px;
  }
  .content{
    width: 100%;
    min-height: 100px;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 3px 6px;
    line-height: 24px;
  }
}
</style>

