<template>
  <div>

  <!-- 搜索 -->
    <div class="filterBar">
      <!-- 采购商 -->
      <span>表象管理</span>
      <el-input style="width: 2.6rem" placeholder="" v-model="id" clearable></el-input>
     
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>

      
      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
    </div>
    <!-- 表格数据 -->
    <div class="store-detail">

      <el-table :data="tableFeedList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="id" label="表象管理"></el-table-column>
        <el-table-column align="center" prop="name" label="患者姓名"></el-table-column>
        <el-table-column align="center" prop="sex" label="性别"></el-table-column>
        <el-table-column align="center" prop="briday" label="出生年月"></el-table-column>
        <el-table-column align="center" prop="tel" label="手机号码"></el-table-column>
        <el-table-column align="center" prop="num" label="诊断次数"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="120px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="seeAbout(scope.row)">修改</el-button>
              <el-button type="primary" round size="mini" @click="del(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>

    <!-- 反馈弹出层 -->
    <el-dialog title="反馈详情" :visible.sync="prcourerVisible" width="80%" center>
      <div class="columns">
        <label>姓名</label>
        <span>未实名注册</span>
      </div>
      <div class="columns">
        <label>反馈时间</label>
        <span>未实名注册</span>
      </div>
      <div class="back-img">
        <p>反馈内容</p>
        <span>反馈标题</span>
      </div>
      <p style="line-height: 48px;color: #999">11111111111111111111111111111111</p>
      <span slot="footer" class="dialog-footer" v-show="footVisible === true">
        <el-button type="primary" @click="writeBack">回复</el-button>
      </span>
      <div class="response" v-show="footVisible === false">
        <h5>后台回复消息内容</h5>
        <div class="content">守空房</div>
      </div>
    </el-dialog>

    <!-- 回复弹出层 -->
    <el-dialog :visible.sync="writeBackVisible" center>
      <el-input type="textarea" v-model="desc"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="writeBackVisible = false">取 消</el-button>
        <el-button type="primary" @click="writeBackBtn">确认</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      id: "",
      // 数据列表
      tableFeedList: [{
        id:"1",
        name:"张三",
        sex:"女",
        briday:"1978-08-09",
        tel:"13800000000",
        num:"5"
      },{
        id:"2",
        name:"李四",
        sex:"女",
        briday:"1999-08-09",
        tel:"13899999999",
        num:"9"
      }],
      // 分页
      pageInfo: {page: 1, pageSize: 10},
      prcourerVisible: false,
      footVisible: true,
      writeBackVisible: false,
      desc: ''
    }
  },
  methods: {
    // 查看详情
    seeAbout () {

    },
    del () {

    },
    // 分页
    getData () {

    },
    // 回复按钮
    writeBack () {
      this.writeBackVisible = true
    },
    // 确认回复
    writeBackBtn () {
      this.writeBackVisible = false
      this.prcourerVisible = false
    }
  }
}
</script>
<style lang="less" scoped>
.response{
  h5{
    color: #1ABC9C;
    font-size: 16px;
    margin: 20px 0 16px;
  }
  .content{
    width: 100%;
    min-height: 100px;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 3px 6px;
    line-height: 24px;
  }
}
</style>

