<template>
	<div>
		<!-- 数据统计 -->
		<el-row :gutter="20">
			<el-col :span="6">
				<div class="grid-content bg-purple">
					<img src="../../images/avatar-default.png" alt="">
					<div class="statistics">
						<p class="normal">admin,你好，</p>
						<p class="normal">欢迎来到智慧</p>
						<p class="normal">中医管理后台</p>
					</div>
				</div>
			</el-col>
			<el-col :span="6">
				<div class="grid-content bg-purple">
					<img src="../../images/avatar-default.png" alt="">
					<div class="statistics">
						<h5>患者总数</h5>
						<p>4523</p>
					</div>
				</div>
			</el-col>
			<el-col :span="6">
				<div class="grid-content bg-purple">
					<img src="../../images/avatar-default.png" alt="">
					<div class="statistics">
						<h5>诊断总次数</h5>
						<p>45</p>
					</div>
				</div>
			</el-col>
			<el-col :span="6">
				<div class="grid-content bg-purple">
					<img src="../../images/avatar-default.png" alt="">
					<div class="statistics">
						<h5>打印治疗方案次数</h5>
						<p>243</p>
					</div>
				</div>
			</el-col>
			<!-- <el-col :span="6">
				<div class="grid-content bg-purple" style="display:block">
					<div class="data">
						<span :class="{active: active}" @click="dataOption(7)">7天</span>
						<span :class="{active: !active}" @click="dataOption(30)">30天</span>
					</div>
					<div style="display: flex">
						<img src="../../images/avatar-default.png" alt="" style="margin: 4px 0 8px 14px">
						<div class="statistics" style="margin-top: 0">
							<h5 v-show="dataActive == 7">近7天成交总额</h5>
							<h5 v-show="dataActive == 30">近30天成交总额</h5>
							<p v-show="dataActive == 7">¥15,0000.00</p>
							<p v-show="dataActive == 30">¥1,0000.00</p>
						</div>
					</div>
				</div>
			</el-col> -->
		</el-row>

		<!-- 快捷入口 -->
		<!-- <div class="entrance">
			<p>快捷入口</p>
			<div class="entrance-main">
				<dl class="list">
					<dt>
						<img src="../../images/avatar.jpg" alt="">
					</dt>
					<dd>发布类目设置</dd>
				</dl>
				<dl class="list">
					<dt>
						<img src="../../images/avatar.jpg" alt="">
					</dt>
					<dd>订单管理</dd>
				</dl>
				<dl class="list">
					<dt>
						<img src="../../images/avatar.jpg" alt="">
					</dt>
					<dd>采购商管理</dd>
				</dl>
				<dl class="list">
					<dt>
						<img src="../../images/avatar.jpg" alt="">
					</dt>
					<dd>供应商管理</dd>
				</dl>
				<dl class="list">
					<dt>
						<img src="../../images/avatar.jpg" alt="">
					</dt>
					<dd>会员积分</dd>
				</dl>
				<dl class="list">
					<dt>
						<img src="../../images/avatar.jpg" alt="">
					</dt>
					<dd>广告位管理</dd>
				</dl>
				<dl class="list">
					<dt>
						<img src="../../images/avatar.jpg" alt="">
					</dt>
					<dd>评价管理</dd>
				</dl>
				<dl class="list">
					<dt>
						<img src="../../images/avatar.jpg" alt="">
					</dt>
					<dd>优惠券设置</dd>
				</dl>
				<dl class="list">
					<dt>
						<img src="../../images/avatar.jpg" alt="">
					</dt>
					<dd>商品管理</dd>
				</dl>
			</div>
		</div> -->

		<!-- 患者年龄段占比 -->
		<el-row :gutter="22">
			<el-col :span="12">
				<div class="grid-content bg-purple" style="display: block;">
					<h4>患者年龄段占比</h4>
					<div class="statistical-x">
						<div id="total1" ref="echart1" style="width: 100%;height:200px;"></div>
					</div>
				</div>
			</el-col>
			<el-col :span="12">
				<div class="grid-content bg-purple" style="display: block;">
					<h4>证候占比（前20）</h4>
					<div class="statistical-x">
						<div id="total2" ref="echart2" style="width: 100%;height:200px;"></div>
					</div>
					<!-- <div class="statistical-x">
						<div class="statistical-x_list">
							<p>疾病占比（前20</p>
							<div class="statistical-y">
								<div class="statistical-y_list">
									<h5>999</h5>
									<span>高血压   </span>
								</div>
								<div class="statistical-y_list">
									<h5>999</h5>
									<span>糖尿病  </span>
								</div>
							</div>
						</div>
						<div class="statistical-x_list">
							<div class="statistical-y">
								<div class="statistical-y_list">
									<h5 style="margin-top: 30px">999</h5>
									<span>冠心病  </span>
								</div>
								<div class="statistical-y_list">
									<h5 style="margin-top: 30px">999</h5>
									<span>其他     </span>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</el-col>
		</el-row>

		<!-- 订单统计 -->
		<div class="entrance">
			<p>用户</p>
			<div class="entrance-order">
				<div class="entrance-order_left">
					<!-- <div class="left">
						<span>本月订单总数</span>
						<p>100000</p>
						<div class="icon">
							<i>10%</i>
							<span>同比上周</span>
						</div>
					</div>
					<div class="left">
						<span>本月订单总数</span>
						<p>100000</p>
						<div class="icon">
							<i>10%</i>
							<span>同比上周</span>
						</div>
					</div> -->
				</div>
				<div class="entrance-order_right">
					<!-- <el-row>
						<el-col :span="5">
							<span class="title" v-show="activeSelect === 1">近一天统计</span>
							<span class="title" v-show="activeSelect === 2">近一周统计</span>
							<span class="title" v-show="activeSelect === 3">近一月统计</span>
						</el-col>
						<el-col :span="1" :offset="9">
							<span class="text" :class="{active: activeSelect === 1}" @click="dataSelect(1)">日</span>
						</el-col>
						<el-col :span="1">
							<span class="text" :class="{active: activeSelect === 2}" @click="dataSelect(2)">周</span>
						</el-col>
						<el-col :span="1">
							<span class="text" :class="{active: activeSelect === 3}" @click="dataSelect(3)">月</span>
						</el-col>
						<el-col :span="7">
							<el-date-picker
								v-model="data"
								type="daterange"
								range-separator="至"
								start-placeholder="开始日期"
								end-placeholder="结束日期">
							</el-date-picker>
						</el-col>
					</el-row> -->
					<div id="main" ref="echart" style="width: 100%;height:400px;"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</template>

<script>
export default {
  data () {
    return {
			dataActive: 7,
			active: false,
			data: '',
			activeSelect: 1
		}
	},
	mounted () {
		this.init();
		this.init1();
		this.init2();
	},
	methods: {
		init () {
			var echarts = require('echarts');
			var myChart = echarts.init(this.$refs.echart);
			var option = {
				title: {
						text: ''
				},
				tooltip: {},
				legend: {
						// data:['销量']
						orient: 'vertical',
                    	x: 'left'
				},
				xAxis: {
						
				},
				yAxis: {
					data: ["高血压","冠心病","糖尿病","感冒","发烧","通风","风湿","中风"]
				},
				series: [{
						//name: '销量',
						type: 'bar',
						data: [5, 20, 36, 10, 10, 20, 88, 11]
				}]
			}
			myChart.setOption(option)
		},
		init1 () {
			var echarts = require('echarts');
			var myChart = echarts.init(this.$refs.echart1);


			var option1 = {
	    title:{
            //text:'按类型统计',
            top:'bottom',
            left:'center',
            textStyle:{
                fontSize: 14,
                fontWeight: '',
                color: '#333'
            },
        },//标题
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)",
            /*formatter:function(val){   //让series 中的文字进行换行
                 console.log(val);//查看val属性，可根据里边属性自定义内容
                 var content = var['name'];
                 return content;//返回可以含有html中标签
             },*/ //自定义鼠标悬浮交互信息提示，鼠标放在饼状图上时触发事件
        },//提示框，鼠标悬浮交互时的信息提示
        legend: {
            show: false,
            orient: 'vertical',
            x: 'left',
            data: ['10-30岁', '30-50岁', '50-70岁']
        },//图例属性，以饼状图为例，用来说明饼状图每个扇区，data与下边series中data相匹配
        // graphic:{
        //     type:'text',
        //     left:'center',
        //     top:'center',
        //     style:{
        //         //text:'用户统计\n'+'100', //使用“+”可以使每行文字居中
        //         textAlign:'center',
        //         font:'italic bolder 16px cursive',
        //         fill:'#000',
        //         width:30,
        //         height:30
        //     }
        // },//此例饼状图为圆环中心文字显示属性，这是一个原生图形元素组件，功能很多
        series: [
            {
                name:'用户统计',//tooltip提示框中显示内容
                type: 'pie',//图形类型，如饼状图，柱状图等
                //radius: ['35%', '65%'],//饼图的半径，数组的第一项是内半径，第二项是外半径。支持百分比，本例设置成环形图。具体可以看文档或改变其值试一试
                //roseType:'area',是否显示成南丁格尔图，默认false
                itemStyle: {
                    normal:{
                        label:{
                            show:true,
                            textStyle:{color:'#3c4858',fontSize:"18"},
                            formatter:function(val){   //让series 中的文字进行换行
                                return val.name.split("-").join("\n");}
                        },//饼图图形上的文本标签，可用于说明图形的一些数据信息，比如值，名称等。可以与itemStyle属性同级，具体看文档
                        labelLine:{
                            show:true,
                            lineStyle:{color:'#3c4858'}
                        }//线条颜色
                    },//基本样式
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)',//鼠标放在区域边框颜色
                        textColor:'#000'
                    }//鼠标放在各个区域的样式
                },
                data: [
                    {value: 50, name: '10-30岁'},
                    {value: 25, name: '30-50岁'},
                    {value: 25, name: '50-70岁'},
                ],//数据，数据中其他属性，查阅文档
                color: ['#51CEC6','#FFB703','#5FA0FA'],//各个区域颜色
            },//数组中一个{}元素，一个图，以此可以做出环形图
        ],//系列列表
    };
			

			myChart.setOption(option1)
		},
		init2 () {
			var echarts = require('echarts');
			var myChart = echarts.init(this.$refs.echart2);


			var option1 = {
	    title:{
            //text:'按类型统计',
            top:'bottom',
            left:'center',
            textStyle:{
                fontSize: 14,
                fontWeight: '',
                color: '#333'
            },
        },//标题
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)",
            /*formatter:function(val){   //让series 中的文字进行换行
                 console.log(val);//查看val属性，可根据里边属性自定义内容
                 var content = var['name'];
                 return content;//返回可以含有html中标签
             },*/ //自定义鼠标悬浮交互信息提示，鼠标放在饼状图上时触发事件
        },//提示框，鼠标悬浮交互时的信息提示
        legend: {
            show: false,
            orient: 'vertical',
            x: 'left',
            data: ['高血压', '糖尿病  ', '冠心病','其他']
        },//图例属性，以饼状图为例，用来说明饼状图每个扇区，data与下边series中data相匹配
        // graphic:{
        //     type:'text',
        //     left:'center',
        //     top:'center',
        //     style:{
        //         //text:'用户统计\n'+'100', //使用“+”可以使每行文字居中
        //         textAlign:'center',
        //         font:'italic bolder 16px cursive',
        //         fill:'#000',
        //         width:30,
        //         height:30
        //     }
        // },//此例饼状图为圆环中心文字显示属性，这是一个原生图形元素组件，功能很多
        series: [
            {
                name:'用户统计',//tooltip提示框中显示内容
                type: 'pie',//图形类型，如饼状图，柱状图等
                //radius: ['35%', '65%'],//饼图的半径，数组的第一项是内半径，第二项是外半径。支持百分比，本例设置成环形图。具体可以看文档或改变其值试一试
                //roseType:'area',是否显示成南丁格尔图，默认false
                itemStyle: {
                    normal:{
                        label:{
                            show:true,
                            textStyle:{color:'#3c4858',fontSize:"18"},
                            formatter:function(val){   //让series 中的文字进行换行
                                return val.name.split("-").join("\n");}
                        },//饼图图形上的文本标签，可用于说明图形的一些数据信息，比如值，名称等。可以与itemStyle属性同级，具体看文档
                        labelLine:{
                            show:true,
                            lineStyle:{color:'#3c4858'}
                        }//线条颜色
                    },//基本样式
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)',//鼠标放在区域边框颜色
                        textColor:'#000'
                    }//鼠标放在各个区域的样式
                },
                data: [
                    {value: 40, name: '高血压'},
                    {value: 15, name: '糖尿病'},
                    {value: 25, name: '冠心病'},
                    {value: 20, name: '其他'},
                ],//数据，数据中其他属性，查阅文档
                color: ['#51CEC6','#FFB703','#5FA0FA','<div id="F00"></div>'],//各个区域颜色
            },//数组中一个{}元素，一个图，以此可以做出环形图
        ],//系列列表
    };
			

			myChart.setOption(option1)
		},
		dataOption (data) {
			this.dataActive = data
			this.active = !this.active
		},
		dataSelect (data) {
			this.activeSelect = data
		}
	}
}
</script>

<style lang="less" scoped>
	.clear{
		clear: both;
	}
	.el-row {
		margin-bottom: 20px;
		margin-top: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
		border: 1px solid #dddee1;
		display: flex;
		img{
			flex: 0 0 48px;
			margin: 16px 0 16px 14px;
			height: 48px;
			width: 48px;
		}
		.statistics{
			flex: 1;
			margin: 16px 0 0 14px;
			h5{
				font-size: 17px;
				margin-bottom: 12px;
				color: #99a9bf;
			}
			p{
				font-size: 18px;
				font-weight: bold;
			}
			p.normal{
				font-size: 16px;
				font-weight: normal;
				color: #666
			}
		}
		.data{
			margin: 0 14px;
			span{
				color: #ccc;
				padding: 0 6px;
				cursor: pointer;
				&.active{
					color: rgb(15, 240, 128);
				}
			}
		}
		h4{
			background: #e3e8f1;
			line-height: 36px;
			font-size: 14px;
			text-indent: 2em;
			font-weight: bold;
			color: #909399;
		}
		.statistical-x{
			display: flex;
			.statistical-x_list{
				flex: 1;
				h5{
					font-size: 24px;
					text-align: center;
					margin: 30px 0 15px 0;
					color: red;
				}
				span{
					display: block;
					font-size: 14px;
					text-align: center;
					color: #ccc;
					margin-bottom: 40px;
				}
				p{
					text-align: center;
					line-height: 24px;
				}
				.statistical-y{
					display: flex;
					border-right: 1px solid #dddee1;
					.statistical-y_list{
						flex: 1;
						h5{
							margin-top: 6px;
						}
					}
				}
			}
		}
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
	}
	.entrance{
		border: 1px solid #dddee1;
		p{
			background: #e3e8f1;
			line-height: 36px;
			font-size: 14px;
			text-indent: 2em;
			font-weight: bold;
			color: #909399;
		}
		.entrance-main{
			overflow: hidden;
			.list{
				overflow: hidden;
				float: left;
				width: 11.1%;
				dt{
					img{
						display: block;
						width: 48px;
						height: 48px;
						margin: 30px auto 16px;
						border-radius: 3px;
					}
				}
				dd{
					margin-bottom: 35px;
					text-align: center;
					font-size: 14px;
				}
			}
			.list:hover{
				background: #eee;
				color: rgb(15, 240, 128);
				cursor: pointer;
			}
		}
		.entrance-order{
			display: flex;
			.entrance-order_left{
				flex: 0 0 240px;
				span{
					display: block;
					text-align: center;
					margin-top: 30px;
					font-size: 14px;
				}
				p{
					background: none;
					font-size: 28px;
					text-align: center;
					text-indent: 0;
				}
				.icon{
					text-align: center;
					font-size: 12px;
					i{
						
					}
					span{
						display: inline;
						color: #babfce;
					}
				}
			}
			.entrance-order_right{
				flex: 1;
				.title{
					display: block;
					line-height: 40px;
					color: #BEB1A5;
				}
				.text{
					display: block;
					cursor: pointer;
					line-height: 40px;
					text-align: center;
					&.active{
						color: #1ABC9C;
					}
				}
			}
		}
	}
</style>
