<template>
  <div>
    <div class="filterBar">
      <el-radio-group v-model="component">
        <el-radio-button label="DailyIntegral">日常积分获取方式</el-radio-button>
        <el-radio-button label="NoviceIntegral">新手领取条件</el-radio-button>
      </el-radio-group>
    </div>

    <!-- 日常积分获取方式 -->
    <DailyIntegral v-show="component === 'DailyIntegral'"></DailyIntegral>

    <!-- 新手领取条件 -->
    <NoviceIntegral v-show="component === 'NoviceIntegral'"></NoviceIntegral>
  </div>
</template>
<script>
import DailyIntegral from './DailyIntegral'
import NoviceIntegral from './NoviceIntegral'
export default {
  data () {
    return {
      component: 'DailyIntegral'
    }
  },
  components: {
    DailyIntegral,
    NoviceIntegral
  }
}
</script>
<style lang="less" scoped>

</style>