<template>
  <div>
    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableIntegralList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="name" label="名称"></el-table-column>
        <el-table-column align="center" prop="growth" label="成长值"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="120px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="seeAbout(scope.row)">操作</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      tableIntegralList: [{
        name: '普通会员',
        growth: '1~999'
      },{
        name: '黄金会员',
        growth: '1000~4999'
      },{
        name: '白金会员',
        growth: '5000~14999'
      },{
        name: '钻石会员',
        growth: '15000'
      }]
    }
  }
}
</script>
<style lang="less" scoped>

</style>

