<template>
  <div>
    <!-- 搜索 -->
    <div class="filterBar">
      <!-- 采购商 -->
      <span>采购商</span>
      <el-input style="width: 2.6rem" placeholder="" v-model="procurer" clearable></el-input>
      <!-- 发布日期 -->
      <span>发布日期</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
      <el-button type="success" style="position: absolute; right:20px;">导出Excel</el-button>
    </div>
    <div class="filterBar">
      <el-button type="primary" @click="IntegralSet">积分设置</el-button>
      <el-button type="primary" @click="LevelSet">会员等级设置</el-button>
    </div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableMemberList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="注册时间"></el-table-column>
        <el-table-column align="center" prop="row3" label="采购商"></el-table-column>
        <el-table-column align="center" prop="row4" label="积分数值"></el-table-column>
        <el-table-column align="center" prop="row6" label="成长值"></el-table-column>
        <el-table-column align="center" prop="row6" label="订单总数"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="120px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="seeAbout(scope.row)">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>

  </div>
</template>
<script>
export default {
  data () {
    return {
      procurer: '',
      state: '',
      end: '',
      // 数据列表
      tableMemberList: [],
      // 分页
      pageInfo: {page: 1, pageSize: 10}
    }
  },
  methods: {
    // 积分设置
    IntegralSet () {
      this.$router.push({
        path: '/Member/IntegralSet'
      })
    },
    // 会员等级设置
    LevelSet () {
      this.$router.push({
        path: '/Member/LevelSet'
      })
    },
    // 查看详情
    seeAbout () {
      this.$router.push({
        path: '/Member/PersonalDetail'
      })
    },
    // 分页
    getData () {

    }
  }
}
</script>
<style lang="less" scoped>

</style>

