<template>
  <div>
    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableNoviceList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="name" label="名称"></el-table-column>
        <el-table-column align="center" prop="integral" label="积分值"></el-table-column>
        <el-table-column align="center" prop="growth" label="成长值"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="120px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="amend(scope.row)">修改</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      tableNoviceList: [{
        name: '新手欢迎奖励',
        integral: '+5',
        growth: '+10'
      },{
        name: '完善个人信息',
        integral: '+20',
        growth: '+20'
      },{
        name: '第一次关注供应商',
        integral: '+10',
        growth: '+20'
      },{
        name: '第一次分享商品',
        integral: '+10',
        growth: '+20'
      },{
        name: '第一次收藏商品',
        integral: '+10',
        growth: '+20'
      },{
        name: '邀请好友首次下单并完成付款可获得奖励',
        integral: '+100',
        growth: '+100'
      }]
    }
  },
  methods: {
    // 修改
    amend (row) {
      console.log(row)
    }
  }
}
</script>
<style lang="less" scoped>

</style>
