<template>
  <div>
    <el-row>
      <el-col :span="4">
        <div class="store-top" style="border: 0">
          <div class="name">王小二</div>
          <div class="grade">最强王者</div>
        </div>
      </el-col>
      <el-col :span="3">
        <div class="store-top" style="border: 0">
          <p>18</p>
          <span>总成交订单数</span>
        </div>
      </el-col>
      <el-col :span="3">
        <div class="store-top" style="border: 0">
          <p>18</p>
          <span>用户浏览量(商品)</span>
        </div>
      </el-col>
    </el-row>

    <!-- 搜索 -->
    <div class="filterBar">
      <!-- 日期 -->
      <span>日期</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
    </div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tablePersonalList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="时间"></el-table-column>
        <el-table-column align="center" prop="row3" label="积分值"></el-table-column>
        <el-table-column align="center" prop="row4" label="成长值"></el-table-column>
        <el-table-column align="center" prop="row6" label="来源"></el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      state: '',
      end: '',
      // 数据列表
      tablePersonalList: []
    }
  }
}
</script>
<style lang="less" scoped>
.name{
  display: inline-block;
  float: left;
  margin-top: 32px;
  border-radius: 3px;
  color: #fff;
  background: #1ABC9C;
  height: 38px;
  width: 123px;
  text-align: center;
  line-height: 38px;
}
.grade{
  display: inline-block;
  float: left;
  font-size: 14px;
  text-indent: 1em;
  color: #1ABC9C;
  margin-top: 50px;
}
</style>

