<template>
  <div>
    <!-- 搜索 -->
    <div class="filterBar">
      <!-- 提交日期 -->
      <span>提交日期</span>
      <el-date-picker
        v-model="state"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <el-date-picker
        v-model="end"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
    </div>

    <el-row>
      <el-col :span="24">
        <div class="store-title">
          <span :class="{active: activeTitle === 1}" @click="storeTitle(1)">待审核</span>
          <span :class="{active: activeTitle === 2}" @click="storeTitle(2)">审核通过</span>
          <span :class="{active: activeTitle === 3}" @click="storeTitle(3)" style="border: 0">审核不通过</span>
        </div>
      </el-col>
    </el-row>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableAuditList" stripe border style="width: 100%; top: 10px;">
        <el-table-column label="评价管理">
          <template slot-scope="scope">
            <p class="content">{{scope.row.aaa}}</p>
            <div class="appraise">
              <label>评价来源：</label>
              <span>{{scope.row.bbb}}</span>
            </div>
            <div class="appraise">
              <label>评价时间：</label>
              <span>{{scope.row.data}}</span>
            </div>
          </template>
        </el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="240px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini">审核通过</el-button>
              <el-button type="danger" round size="mini">审核不通过</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      state: '',
      end: '',
      activeTitle: 1,
      // 数据列表
      tableAuditList: [{
        aaa: 'dfsfsdfffffffffffffffffffff水电费水电费第三方士大夫鼎折覆餗对方水电费水电费了解放军是的减肥还是来得及',
        bbb: '来源APP',
        data: '201889434'
      }],
      // 分页
      pageInfo: {page: 1, pageSize: 10}
    }
  },
  methods: {
    storeTitle (data) {
      this.activeTitle = data
    },
    // 分页
    getData (data) {

    }
  }
}
</script>
<style lang="less" scoped>
.store-title{
  display: inline-block;
  margin-top: 60px;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  span{
    display: inline-block;
    float: left;
    border-right: 1px solid #dcdfe6;
    padding: 0 28px;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    cursor: pointer;
  }
}
.active{
  background: #409EFF;
  color: #fff;
}
.content{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.appraise{
  display: inline-block;
  height: 36px;
  padding-right: 16px;
  label{
    display: inline-block;
    height: 36px;
    line-height: 36px;
  }
  span{
    display: inline-block;
    height: 36px;
    line-height: 36px;
  }
}
</style>

