<template>
  <div>
    <!-- 搜索 -->
    <div class="filterBar">
      <!-- 商品编号 -->
      <span>商品编号</span>
      <el-input style="width: 2.6rem" placeholder="" v-model="number" clearable></el-input>
      <!-- 商品标题 -->
      <span>商品标题</span>
      <el-input style="width: 2.6rem" placeholder="" v-model="title" clearable></el-input>
      <!-- 搜索按钮 -->
      <el-button type="primary">搜索</el-button>
    </div>

    <!-- 表格数据 -->
    <div class="store-detail">
      <el-table :data="tableAPPAppraiseList" stripe border style="width: 100%; top: 10px;">
        <el-table-column align="center" label="序号" type="index" width="70px"></el-table-column>
        <el-table-column align="center" prop="row2" label="商品编号"></el-table-column>
        <el-table-column align="center" prop="row3" label="商品标题"></el-table-column>
        <el-table-column align="center" prop="row4" label="评价待审核数量"></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column align="center" label="操作" width="120px">
          <template slot-scope="scope">
              <el-button type="primary" round size="mini" @click="getAudit(scope.row)">审核</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination background layout="prev, pager, next, jumper, total" @current-change="getData" :page-size="pageInfo.pageSize" :total="pageInfo.total"></el-pagination>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      number: '',
      title: '',
      // 数据列表
      tableAPPAppraiseList: [{
        row2: '1111',
        row3: '3333',
        row4: '4444'
      }],
      // 分页
      pageInfo: {page: 1, pageSize: 10}
    }
  },
  methods: {
    // 分页
    getData () {

    },
    // 审核
    getAudit (row) {
      this.$router.push({
        path: '/Appraise/APP/AppraiseAudit'
      })
    }
  }
}
</script>
<style lang="less" scoped>

</style>